<div class="d-flex justify-content-between" style="margin-bottom: 1.2rem;">
  <div class="justify-content-start">
    <nz-button-group>
      <ng-container *ngIf="rent_id !== null && isBreakdown; else elseBlockBack">
        <a *ngIf="ledger && ledger.resident"
           [routerLink]="['/resident', ledger.resident.id, {outlets: {'resident-details': ['rents']}}]" nzSize="small"
           nz-button nzType="default">
          <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Back
        </a>
      </ng-container>
      <ng-template #elseBlockBack>
        <a *ngIf="ledger && ledger.resident"
           [routerLink]="['/resident', ledger.resident.id, {outlets: {'resident-details': ['ledgers']}}]" nzSize="small"
           nz-button nzType="default">
          <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Back
        </a>
      </ng-template>
    </nz-button-group>
  </div>
  <div class="justify-content-center">
    <ng-container *ngIf="ledger">
      <strong style="font-weight: bold; font-size: x-large">{{ ledger.date_created|date:'MMMM yyyy' }}
        <span *ngIf="ledger.resident"> -
          <ng-container *ngIf="rent_id !== null && isBreakdown; else elseBlockBack">
            <a *ngIf="ledger && ledger.resident"
               [routerLink]="['/resident', ledger.resident.id, {outlets: {'resident-details': ['rents']}}]">
              {{ ledger.resident|resident }}
            </a>
          </ng-container>
          <ng-template #elseBlockBack>
            <a *ngIf="ledger && ledger.resident"
               [routerLink]="['/resident', ledger.resident.id, {outlets: {'resident-details': ['ledgers']}}]" >
              {{ ledger.resident|resident }}
            </a>
          </ng-template>
        </span>
      </strong>
    </ng-container>
  </div>
  <div class="justify-content-end">
    <nz-button-group>
      <button *ngIf="ledger" nzSize="small" nz-button nzType="default" [disabled]="show('previous')"
              (click)="getPreviousLedger()"><i nz-icon nzType="arrow-left" nzTheme="outline"></i> Previous
      </button>
      <button *ngIf="ledger" nzSize="small" nz-button nzType="default" [disabled]="show('next')"
              (click)="getNextLedger()">
        Next <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
      </button>
    </nz-button-group>
  </div>
</div>
<div class="row" *ngIf="ledger">
  <div class="col-sm-12 col-md-12">
    <ng-container *ngIf="!isBreakdown">
      <ng-container *ngIf="rents && rents.length > 0">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <ng-template #rentTitle>
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div class="justify-content-start">
                    <nz-button-group>
                      <button type="button" nz-button nzType="default"
                              (click)="recalculateLedger(); $event.preventDefault();">
                        <i nz-icon nzType="calculator"></i> Recalculate
                      </button>
                    </nz-button-group>
                  </div>
                  <div class="justify-content-center">
                    Rent
                  </div>
                  <div class="justify-content-end">
                  </div>
                </div>
              </div>
            </ng-template>

            <div class="card">
              <nz-collapse [nzNoAnimation]="true" [nzBordered]="false">
                <nz-collapse-panel [nzHeader]="rentTitle" [nzActive]="false">
                  <div class="card-body">
                    <nz-empty *ngIf="!ledger" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
                    <div *ngIf="ledger" class="table-responsive">
                      <table class="table table-sm table-bordered">
                        <ng-container *ngFor="let item of rents">
                          <tr class="text-left">
                            <td colspan="3"
                                style="width: 100% !important; border: 1px solid #ffffff; border-bottom: 1px solid #c8ced3;">
                              <div nz-row [nzGutter]="4">
                                <div nz-col [nzSpan]="6" class="text-right"><strong>Room:</strong></div>
                                <div nz-col [nzSpan]="18">{{ item.room }}</div>
                              </div>
                              <div nz-row [nzGutter]="4">
                                <div nz-col [nzSpan]="6" class="text-right"><strong>Type:</strong></div>
                                <div nz-col [nzSpan]="18">{{ item.roomType }}</div>
                              </div>
                              <div nz-row [nzGutter]="4">
                                <div nz-col [nzSpan]="6" class="text-right"><strong>Base Rate:</strong></div>
                                <div nz-col
                                     [nzSpan]="18">{{ item.baseRate|currency:'USD':'symbol-narrow':'1.2-2' }}</div>
                              </div>
                            </td>
                          </tr>
                          <tr class="text-center">
                            <th style="width: 15% !important;">
                              <strong>Start Date</strong>
                            </th>
                            <th style="width: 19% !important;">
                              <strong>Reason</strong>
                            </th>
                            <th style="width: 15% !important;">
                              <strong>Amount</strong>
                            </th>
                            <th colspan="3" style="width: 51% !important;">
                              <strong>Sources</strong>
                            </th>
                          </tr>
                          <tr class="text-center">
                            <td style="width: 15% !important;">{{item.start|date:'MM/d/y'}}</td>
                            <td style="width: 19% !important;">{{item.reason}}</td>
                            <td
                              style="width: 15% !important;">{{item.amount|currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                            <td style="width: 17% !important; margin: 0; padding: 0;">
                              <ng-container *ngIf="item.sources && item.sources.length > 0">
                                <ng-container *ngFor="let source of item.sources;">
                                  <div style="border: 1px solid #c8ced3;">{{ get_source_title(source.id) }}</div>
                                </ng-container>
                              </ng-container>
                            </td>
                            <td style="width: 17% !important; margin: 0; padding: 0;">
                              <ng-container *ngIf="item.sources && item.sources.length > 0">
                                <ng-container *ngFor="let source of item.sources;">
                                  <ng-template #sourcePeriod>
                                    <div
                                      style="border: 1px solid #c8ced3;">{{ get_source_period(source.id)|payment_period }}</div>
                                  </ng-template>

                                  <div style="border: 1px solid #c8ced3;"
                                       *ngIf="source.responsible_person_id; else sourcePeriod">
                                    {{ get_resident_responsible_person_name(source.responsible_person_id) }}
                                  </div>
                                </ng-container>
                              </ng-container>
                            </td>
                            <td style="width: 17% !important; margin: 0; padding: 0;">
                              <ng-container *ngIf="item.sources && item.sources.length > 0">
                                <ng-container *ngFor="let source of item.sources;">
                                  <div
                                    style="border: 1px solid #c8ced3;">{{source.amount|currency:'USD':'symbol-narrow':'1.2-2'}}</div>
                                </ng-container>
                              </ng-container>
                            </td>
                          </tr>
                        </ng-container>
                      </table>
                    </div>
                  </div>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="ledger.privat_pay_source && ledger.privat_pay_source.length > 0">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <ng-template #privatPayTitle>
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div class="justify-content-start">
                    <nz-button-group>
                      <button type="button" nz-button nzType="default"
                              (click)="show_modal_edit('ledger', false); $event.preventDefault();">
                        <i nz-icon nzType="edit"></i> {{ "grid.edit"|translate }}
                      </button>
                    </nz-button-group>
                  </div>
                  <div class="justify-content-center">
                    Private Pay
                  </div>
                  <div class="justify-content-end">
                  </div>
                </div>
              </div>
            </ng-template>

            <div class="card">
              <nz-collapse [nzNoAnimation]="true" [nzBordered]="false">
                <nz-collapse-panel [nzHeader]="privatPayTitle" [nzActive]="false">
                  <div class="card-body">
                    <nz-empty *ngIf="!ledger" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
                    <div *ngIf="ledger" class="table-responsive">
                      <table class="table table-sm table-bordered">
                        <tr class="text-center">
                          <th style="width: 15% !important;">
                            <strong>Date</strong>
                          </th>
                          <th style="width: 20% !important;">
                            <strong>Item</strong>
                          </th>
                          <th style="width: 15% !important;">
                          </th>
                          <th style="width: 15% !important;">
                          </th>
                          <th style="width: 20% !important;">
                          </th>
                          <th style="width: 15% !important;">
                            <strong>Amount</strong>
                          </th>
                        </tr>
                        <ng-container
                          *ngIf="ledger.prior_private_pay_balance_due && ledger.prior_private_pay_balance_due !== 0">
                          <tr class="text-center">
                            <td style="width: 15% !important;">{{ ledger.date_created|date:'MM/01/y' }}</td>
                            <td style="width: 20% !important;">Prior Balance</td>
                            <td style="width: 15% !important;"></td>
                            <td style="width: 15% !important;"></td>
                            <td style="width: 20% !important;"></td>
                            <td class="text-right" style="width: 15% !important; color:#FF0000">
                              ({{ledger.prior_private_pay_balance_due|currency:'USD':'symbol-narrow':'1.2-2'}})
                            </td>
                          </tr>
                        </ng-container>
                        <ng-container *ngIf="ledger.privat_pay_source && ledger.privat_pay_source.length > 0">
                          <ng-container *ngFor="let item of ledger.privat_pay_source">
                            <tr class="text-center">
                              <td style="width: 15% !important;">{{ledger.date_created|date:'MM/01/y'}}</td>
                              <td style="width: 20% !important;">Room Rent</td>
                              <td style="width: 15% !important;">{{ get_source_title(item.id) }}</td>
                              <td style="width: 15% !important;"></td>
                              <td
                                style="width: 20% !important;">{{ get_resident_responsible_person_name(item.responsible_person_id) }}</td>
                              <td class="text-right" style="width: 15% !important; color:#FF0000">
                                ({{item.amount|currency:'USD':'symbol-narrow':'1.2-2'}})
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <ng-container
                          *ngIf="ledger.resident_private_pay_payment_received_items && ledger.resident_private_pay_payment_received_items.length > 0">
                          <ng-container *ngFor="let item of ledger.resident_private_pay_payment_received_items">
                            <tr class="text-center">
                              <td style="width: 15% !important;">{{item.date|date:'MM/d/y'}}</td>
                              <td style="width: 20% !important;">Payment</td>
                              <td style="width: 15% !important;">Check #</td>
                              <td style="width: 15% !important;">{{item.transaction_number}}</td>
                              <td
                                style="width: 20% !important;">{{item.responsible_person?.responsible_person|responsible_person}}</td>
                              <td
                                class="text-right" style="width: 15% !important;">{{item.amount|currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="ledger.resident_expense_items && ledger.resident_expense_items.length > 0">
                          <ng-container *ngFor="let item of ledger.resident_expense_items">
                            <tr class="text-center">
                              <td style="width: 15% !important;">{{item.date|date:'MM/d/y'}}</td>
                              <td style="width: 20% !important;">{{item.expense_item.title}}</td>
                              <td style="width: 15% !important;"></td>
                              <td style="width: 15% !important;"></td>
                              <td style="width: 20% !important;"></td>
                              <td class="text-right" style="width: 15% !important; color:#FF0000">
                                ({{item.amount|currency:'USD':'symbol-narrow':'1.2-2'}})
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="ledger.resident_credit_items && ledger.resident_credit_items.length > 0">
                          <ng-container *ngFor="let item of ledger.resident_credit_items">
                            <tr class="text-center">
                              <td style="width: 15% !important;">{{item.start|date:'MM/d/y'}}</td>
                              <td style="width: 20% !important;">{{item.credit_item.title}}</td>
                              <td style="width: 15% !important;"></td>
                              <td style="width: 15% !important;"></td>
                              <td style="width: 20% !important;"></td>
                              <td
                                class="text-right" style="width: 15% !important;">{{item.amount|currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <ng-container
                          *ngIf="ledger.resident_discount_items && ledger.resident_discount_items.length > 0">
                          <ng-container *ngFor="let item of ledger.resident_discount_items">
                            <tr class="text-center">
                              <td style="width: 15% !important;">{{item.start|date:'MM/d/y'}}</td>
                              <td style="width: 20% !important;">{{item.discount_item.title}}</td>
                              <td style="width: 15% !important;"></td>
                              <td style="width: 15% !important;"></td>
                              <td style="width: 20% !important;"></td>
                              <td
                                class="text-right" style="width: 15% !important;">{{item.amount|currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <tr class="text-center">
                          <td style="width: 15% !important;"></td>
                          <td style="width: 20% !important;"></td>
                          <td style="width: 15% !important;"></td>
                          <td style="width: 15% !important;"></td>
                          <td style="width: 20% !important;"><strong>Balance Due</strong></td>
                          <td
                            class="text-right" style="width: 15% !important;">
                            <strong>{{ledger.private_pay_balance_due + ledger.prior_private_pay_balance_due|currency:'USD':'symbol-narrow':'1.2-2'}}</strong>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="ledger.not_privat_pay_source && ledger.not_privat_pay_source.length > 0">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <ng-template #notPrivatPayTitle>
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div class="justify-content-start">
                    <nz-button-group>
                      <button type="button" nz-button nzType="default"
                              (click)="show_modal_edit('ledger', true); $event.preventDefault();">
                        <i nz-icon nzType="edit"></i> {{ "grid.edit"|translate }}
                      </button>
                    </nz-button-group>
                  </div>
                  <div class="justify-content-center">
                    3rd Party Pay
                  </div>
                  <div class="justify-content-end">
                  </div>
                </div>
              </div>
            </ng-template>

            <div class="card">
              <nz-collapse [nzNoAnimation]="true" [nzBordered]="false">
                <nz-collapse-panel [nzHeader]="notPrivatPayTitle" [nzActive]="false">
                  <div class="card-body">
                    <nz-empty *ngIf="!ledger" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
                    <div *ngIf="ledger" class="table-responsive">
                      <table class="table table-sm table-bordered">
                        <tr class="text-center">
                          <th style="width: 15% !important;">
                            <strong>Date</strong>
                          </th>
                          <th style="width: 20% !important;">
                            <strong>Item</strong>
                          </th>
                          <th style="width: 15% !important;">
                          </th>
                          <th style="width: 15% !important;">
                          </th>
                          <th style="width: 20% !important;">
                          </th>
                          <th style="width: 15% !important;">
                            <strong>Amount</strong>
                          </th>
                        </tr>
                        <ng-container
                          *ngIf="ledger.prior_not_private_pay_balance_due && ledger.prior_not_private_pay_balance_due !== 0">
                          <tr class="text-center">
                            <td style="width: 15% !important;">{{ ledger.date_created|date:'MM/01/y' }}</td>
                            <td style="width: 20% !important;">Prior Balance</td>
                            <td style="width: 15% !important;"></td>
                            <td style="width: 15% !important;"></td>
                            <td style="width: 20% !important;"></td>
                            <td class="text-right" style="width: 15% !important; color:#FF0000">
                              ({{ledger.prior_not_private_pay_balance_due|currency:'USD':'symbol-narrow':'1.2-2'}})
                            </td>
                          </tr>
                        </ng-container>
                        <ng-container *ngIf="ledger.not_privat_pay_source && ledger.not_privat_pay_source.length > 0">
                          <ng-container *ngFor="let item of ledger.not_privat_pay_source">
                            <tr class="text-center">
                              <td style="width: 15% !important;">{{ledger.date_created|date:'MM/01/y'}}</td>
                              <td style="width: 20% !important;">Room Rent</td>
                              <td style="width: 15% !important;">{{ get_source_title(item.id) }}</td>
                              <td style="width: 15% !important;"></td>
                              <td
                                style="width: 20% !important;"></td>
                              <td class="text-right" style="width: 15% !important; color:#FF0000">
                                ({{item.amount|currency:'USD':'symbol-narrow':'1.2-2'}})
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <ng-container
                          *ngIf="ledger.resident_not_private_pay_payment_received_items && ledger.resident_not_private_pay_payment_received_items.length > 0">
                          <ng-container *ngFor="let item of ledger.resident_not_private_pay_payment_received_items">
                            <tr class="text-center">
                              <td style="width: 15% !important;">{{item.date|date:'MM/d/y'}}</td>
                              <td style="width: 20% !important;">Payment</td>
                              <td style="width: 15% !important;">Check #</td>
                              <td style="width: 15% !important;">{{item.transaction_number}}</td>
                              <td style="width: 20% !important;"></td>
                              <td
                                class="text-right" style="width: 15% !important;">{{item.amount|currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="ledger.away_days && ledger.away_days.length > 0">
                          <ng-container *ngFor="let item of ledger.away_days">
                            <tr class="text-center">
                              <td style="width: 15% !important;">{{ item.date }}</td>
                              <td style="width: 20% !important;">Resident Away Days</td>
                              <td style="width: 15% !important;">{{ item.days }}</td>
                              <td style="width: 15% !important;"></td>
                              <td style="width: 20% !important;"></td>
                              <td style="width: 15% !important; color:#FF0000"></td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <tr class="text-center">
                          <td style="width: 15% !important;"></td>
                          <td style="width: 20% !important;"></td>
                          <td style="width: 15% !important;"></td>
                          <td style="width: 15% !important;"></td>
                          <td style="width: 20% !important;"><strong>Balance Due</strong></td>
                          <td
                            class="text-right" style="width: 15% !important;">
                            <strong>{{ledger.not_private_pay_balance_due + ledger.prior_not_private_pay_balance_due|currency:'USD':'symbol-narrow':'1.2-2'}}</strong>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="rent_id !== null && isBreakdown">
      <ng-container *ngIf="rents && rents.length > 0">
        <div class="row">
          <div class="col-sm-3 col-md-3"></div>
          <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-body">
                <nz-empty *ngIf="!ledger" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
                <div *ngIf="ledger" class="table-responsive">
                  <table class="table table-sm table-bordered">
                    <ng-container *ngFor="let item of rents">
                      <ng-container *ngIf="item.id == rent_id">
                        <tr class="text-center">
                          <th colspan="4" style="width: 100% !important; background-color: #e4e5e6;">
                            <strong>{{ ledger.date_created|date:'MMMM yyyy' }} Rent Breakdown</strong>
                          </th>
                        </tr>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            Room {{ item.room }} {{ item.typeShorthand }} - {{ item.roomType }} Base Rate
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            {{ item.baseRate|currency:'USD':'symbol-narrow':'1.2-2' }}
                          </td>
                        </tr>
                        <tr class="text-center">
                          <th colspan="4" style="width: 100% !important; background-color: #e4e5e6;">
                            <strong>Private Pay Sources</strong>
                          </th>
                        </tr>
                        <ng-container *ngIf="ledger.privat_pay_source && ledger.privat_pay_source.length > 0">
                          <ng-container *ngFor="let privat_pay of ledger.privat_pay_source">
                            <ng-container *ngIf="privat_pay.rent_id == rent_id">
                              <tr class="text-left">
                                <td colspan="3" style="width: 80% !important;">
                                  {{ get_source_title(privat_pay.id) }}
                                  - {{ get_resident_responsible_person_name(privat_pay.responsible_person_id) }}
                                </td>
                                <td class="text-right" style="width: 20% !important;">
                                  {{ privat_pay.amount|currency:'USD':'symbol-narrow':'1.2-2' }}
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            Partial Month Credit - Late Move-In/Early Move-Out
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            {{ (get_days_in_month(ledger.date_created|date:'M', ledger.date_created|date:'yyyy') - get_private_pay_billable_days_for_rent(ledger.privat_pay_source, rent_id)) * get_private_pay_sum_for_rent(ledger.privat_pay_source, rent_id) * 12 / 365 |currency:'USD':'symbol-narrow':'1.2-2' }}
                          </td>
                        </tr>
                        <tr class="text-right">
                          <td colspan="3" style="width: 80% !important;">
                            <strong><i>Private Pay Total Amount Due</i></strong>
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            <ng-container
                              *ngIf="ledger.privat_pay_source && ledger.privat_pay_source.length > 0; else elseBlockPrivatPay">
                              <strong>{{ get_private_pay_sum_for_rent(ledger.privat_pay_source, rent_id)|currency:'USD':'symbol-narrow':'1.2-2' }}</strong>
                            </ng-container>
                            <ng-template
                              #elseBlockPrivatPay><strong>{{ 0|currency:'USD':'symbol-narrow':'1.2-2' }}</strong>
                            </ng-template>
                          </td>
                        </tr>
                        <tr class="text-center">
                          <th colspan="4" style="width: 100% !important; background-color: #e4e5e6;">
                            <strong>3rd Party Payment Sources</strong>
                          </th>
                        </tr>
                        <tr class="text-center" style="background-color: #f0f3f5;">
                          <td style="width: 50% !important;"></td>
                          <td style="width: 15% !important;">
                            <strong><i>Billable Days</i></strong>
                          </td>
                          <td style="width: 15% !important;">
                            <strong><i>Daily Rate</i></strong>
                          </td>
                          <td style="width: 20% !important;"></td>
                        </tr>
                        <ng-container *ngIf="ledger.not_privat_pay_source && ledger.not_privat_pay_source.length > 0">
                          <ng-container *ngFor="let not_privat_pay of ledger.not_privat_pay_source">
                            <ng-container *ngIf="not_privat_pay.rent_id == rent_id">
                              <ng-container
                                *ngIf="is_source_period_daily(not_privat_pay.id); else elseBlockNotPrivatPayTitle">
                                <tr class="text-left">
                                  <td style="width: 50% !important;">
                                    {{ get_source_title(not_privat_pay.id) }}
                                    - {{ get_source_period(not_privat_pay.id)|payment_period }}
                                  </td>
                                  <td class="text-center" style="width: 15% !important;">
                                    {{ get_not_private_billable_days_for_rent(ledger.not_privat_pay_source, rent_id) }}
                                  </td>
                                  <td class="text-center" style="width: 15% !important;">
                                    <ng-container *ngIf="item.sources && item.sources.length > 0">
                                      <ng-container *ngFor="let source of item.sources;">
                                        <ng-container *ngIf="source.id == not_privat_pay.id">
                                          {{ source.amount|currency:'USD':'symbol-narrow':'1.2-2' }}
                                        </ng-container>
                                      </ng-container>
                                    </ng-container>
                                  </td>
                                  <td class="text-right" style="width: 20% !important;">
                                    {{ not_privat_pay.amount|currency:'USD':'symbol-narrow':'1.2-2' }}
                                  </td>
                                </tr>
                              </ng-container>
                              <ng-template #elseBlockNotPrivatPayTitle>
                                <tr class="text-left">
                                  <td colspan="3" style="width: 80% !important;">
                                    {{ get_source_title(not_privat_pay.id) }}
                                    - {{ get_source_period(not_privat_pay.id)|payment_period }}
                                  </td>
                                  <td class="text-right" style="width: 20% !important;">
                                    {{ not_privat_pay.amount|currency:'USD':'symbol-narrow':'1.2-2' }}
                                  </td>
                                </tr>
                              </ng-template>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <tr class="text-right">
                          <td colspan="3" style="width: 80% !important;">
                            <strong><i>3rd Party Sources Total Due</i></strong>
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            <ng-container
                              *ngIf="ledger.not_privat_pay_source && ledger.not_privat_pay_source.length > 0; else elseBlockNotPrivatPay">
                              <strong>{{ get_not_private_pay_sum_for_rent(ledger.not_privat_pay_source, rent_id)|currency:'USD':'symbol-narrow':'1.2-2' }}</strong>
                            </ng-container>
                            <ng-template
                              #elseBlockNotPrivatPay><strong>{{ 0|currency:'USD':'symbol-narrow':'1.2-2' }}</strong>
                            </ng-template>
                          </td>
                        </tr>
                        <tr class="text-right">
                          <td colspan="3" style="width: 80% !important;">
                            <strong>Total Rent Due (all sources)</strong>
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            <strong>{{ (get_private_pay_sum_for_rent(ledger.privat_pay_source, rent_id) + get_not_private_pay_sum_for_rent(ledger.not_privat_pay_source, rent_id))|currency:'USD':'symbol-narrow':'1.2-2' }}</strong>
                          </td>
                        </tr>
                        <tr class="text-right">
                          <td colspan="3" style="width: 80% !important;">
                            <strong>{{ ledger.date_created|date:'MMMM' }} Effective Discount to Base Rate</strong>
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            <strong>{{ get_discount_item_sum()|currency:'USD':'symbol-narrow':'1.2-2' }}</strong>
                          </td>
                        </tr>
                        <tr class="text-center">
                          <th colspan="4" style="width: 100% !important; background-color: #e4e5e6;">
                            <strong>Private Pay Billable Days Details</strong>
                          </th>
                        </tr>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            Days in month of {{ ledger.date_created|date:'MMMM' }}
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            {{ get_days_in_month(ledger.date_created|date:'M', ledger.date_created|date:'yyyy') }}
                          </td>
                        </tr>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            Early Discharge/Late Admit Days
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            {{ get_days_in_month(ledger.date_created|date:'M', ledger.date_created|date:'yyyy') - get_private_pay_billable_days_for_rent(ledger.privat_pay_source, rent_id) }}
                          </td>
                        </tr>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            Private Pay Billable Days
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            {{ get_private_pay_billable_days_for_rent(ledger.privat_pay_source, rent_id) }}
                          </td>
                        </tr>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            Daily Room Rate (Private Pay Amount)
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            <ng-container
                              *ngIf="ledger.privat_pay_source && ledger.privat_pay_source.length > 0; else elseBlockPrivatPay">
                              {{ get_private_pay_sum_for_rent(ledger.privat_pay_source, rent_id) * 12 / 365 |currency:'USD':'symbol-narrow':'1.2-2' }}
                            </ng-container>
                            <ng-template
                              #elseBlockPrivatPay>{{ 0|currency:'USD':'symbol-narrow':'1.2-2' }}</ng-template>
                          </td>
                        </tr>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            Partial Month Credit
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            {{ (get_days_in_month(ledger.date_created|date:'M', ledger.date_created|date:'yyyy') - get_private_pay_billable_days_for_rent(ledger.privat_pay_source, rent_id)) * get_private_pay_sum_for_rent(ledger.privat_pay_source, rent_id) * 12 / 365 |currency:'USD':'symbol-narrow':'1.2-2' }}
                          </td>
                        </tr>
                        <tr class="text-center">
                          <th colspan="4" style="width: 100% !important; background-color: #e4e5e6;">
                            <strong>3rd Party Billable Days Details</strong>
                          </th>
                        </tr>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            Days in month of {{ ledger.date_created|date:'MMMM' }}
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            {{ get_days_in_month(ledger.date_created|date:'M', ledger.date_created|date:'yyyy') }}
                          </td>
                        </tr>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            Resident Away Days
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            {{ get_not_private_away_days_for_rent(ledger.not_privat_pay_source, rent_id) }}
                          </td>
                        </tr>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            Early Discharge/Late Admit Days
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            {{ get_days_in_month(ledger.date_created|date:'M', ledger.date_created|date:'yyyy') - get_not_private_billable_days_for_rent(ledger.not_privat_pay_source, rent_id) - get_not_private_away_days_for_rent(ledger.not_privat_pay_source, rent_id) }}
                          </td>
                        </tr>
                        <tr class="text-left">
                          <td colspan="3" style="width: 80% !important;">
                            3rd Party Billable Days
                          </td>
                          <td class="text-right" style="width: 20% !important;">
                            {{ get_not_private_billable_days_for_rent(ledger.not_privat_pay_source, rent_id) }}
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
