<h4>Facility Document</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item *ngIf="form.get('facility_id').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="facility_id" nzRequired>Facility</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('facility_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="facility_id">
        <ng-container *ngFor="let facility of facilities">
          <nz-option [nzLabel]="facility.name" [nzValue]="facility.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('facility_id')">
        <app-field-errors [errors]="fieldErrors('facility_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="title" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('title')?'error':null">
      <input nz-input placeholder="Title" formControlName="title">
      <nz-form-explain *ngIf="hasErrors('title')">
        <app-field-errors [errors]="fieldErrors('title')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="file" nzRequired>File</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('file')?'error':null">
      <input type="file" #file (change)="onFileChange(files[0], $event)" style="display: none;">
      <button type="button" nz-button nzSize="small" *ngIf="form.get('file').value === null"
              (click)="select_file(files[0]);">
        <i nz-icon nzType="upload"></i>
        <span>Select file...</span>
      </button>
      <button type="button" nz-button nzSize="small" nzType="danger" *ngIf="form.get('file').value !== null"
              (click)="clear_file(files[0]);">
        <i nz-icon nzType="close"></i>
        {{ (files[0].file_name && files[0].file_name !== '') ? files[0].file_name : 'Remove' }}
      </button>
      <p style="font-size: smaller;line-height: 0.5;" [style.color]="files[0].size_exceed?'red':'inherit'">(Maximum file
        size is 10 MB.)</p>
      <nz-form-explain *ngIf="hasErrors('file')">
        <app-field-errors [errors]="fieldErrors('file')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
