<div nz-row>
  <nz-button-group nzSize="small" class="p-2">
    <button type="button" nz-button (click)="cropping.zoomIn()">
      <i class="fas fa-search-plus"></i>
    </button>
    <button type="button" nz-button (click)="cropping.zoomOut()">
      <i class="fas fa-search-minus"></i>
    </button>
    <button type="button" nz-button (click)="cropping.center()">
      <i class="far fa-dot-circle"></i>
    </button>
    <button type="button" nz-button (click)="cropping.fit()">
      <i class="fas fa-expand"></i>
    </button>
    <button type="button" nz-button (click)="cropping.fitToScreen()">
      <i class="fas fa-expand-arrows-alt"></i>
    </button>
    <button type="button" nz-button (click)="cropping.setScale(1)">
      1:1
    </button>
    <button type="button" nz-button nzType="primary" (click)="cropping.rotate(-90)">
      <i class="fas fa-undo"></i>
    </button>
    <button type="button" nz-button nzType="primary" (click)="cropping.rotate(90)">
      <i class="fas fa-redo"></i>
    </button>
  </nz-button-group>

  <ly-img-cropper [withClass]="classes.cropping"
                  #cropping
                  [config]="cropper_config"
                  (cropped)="onCropped($event)"
                  (loaded)="onLoaded($event)"
                  (error)="onError($event)">
  </ly-img-cropper>


  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</div>


<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
