<h4>Lead Funnel Stage</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
<!--  <nz-form-item *ngIf="show_lead">-->
<!--    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="lead_id" nzRequired>Lead</nz-form-label>-->
<!--    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('lead_id')?'error':null">-->
<!--      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="lead_id">-->
<!--        <ng-container *ngFor="let lead of leads">-->
<!--          <nz-option [nzLabel]="lead|lead" [nzValue]="lead.id"></nz-option>-->
<!--        </ng-container>-->
<!--      </nz-select>-->
<!--      <nz-form-explain *ngIf="hasErrors('lead_id')">-->
<!--        <app-field-errors [errors]="fieldErrors('lead_id')"></app-field-errors>-->
<!--      </nz-form-explain>-->
<!--    </nz-form-control>-->
<!--  </nz-form-item>-->

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="stage_id" nzRequired>Stage</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('stage_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="stage_id">
          <ng-container *ngFor="let stage of stages">
            <nz-option [nzLabel]="stage.title" [nzValue]="stage.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle"
                (click)="open_sub_modal('funnel_stage');">
          <i nz-icon nzType="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('stage_id')">
        <app-field-errors [errors]="fieldErrors('stage_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="reason_id" nzRequired>Reason</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('reason_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="reason_id">
          <ng-container *ngFor="let reason of reasons">
            <nz-option [nzLabel]="reason.title" [nzValue]="reason.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle"
                (click)="open_sub_modal('stage_change_reason');">
          <i nz-icon nzType="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('reason_id')">
        <app-field-errors [errors]="fieldErrors('reason_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date" nzRequired>Date</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date')?'error':null">
      <nz-date-picker formControlName="date" nzFormat="MM/dd/yyyy"></nz-date-picker>
      <nz-form-explain *ngIf="hasErrors('date')">
        <app-field-errors [errors]="fieldErrors('date')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('notes')?'error':null">
      <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512"></input-counter>
      <nz-form-explain *ngIf="hasErrors('notes')">
        <app-field-errors [errors]="fieldErrors('notes')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
