<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <button style="margin-top: 0.1rem;" nz-button nzType="default" [disabled]="show('previous')"
              (click)="getPreviousMonth()"><i nz-icon nzType="arrow-left" nzTheme="outline"></i> Previous
      </button>
      {{ facilityName }} Weekly Dashboard ({{ currentDate|date:'MMM-yy' }})
      <button style="margin-top: 0.1rem;" nz-button nzType="default" [disabled]="show('next')" (click)="getNextMonth()">
        Next <i nz-icon nzType="arrow-right" nzTheme="outline"></i></button>
    </div>
</div>
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <nz-empty *ngIf="!dashboardData" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
      <div *ngIf="dashboardData" class="table-responsive">
        <table class="table table-sm table-bordered">
          <tr>
            <th>Occupancy Tracker</th>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <th class="text-center">{{item.key}}</th>
            </ng-container>
          </tr>
          <tr>
            <td>Beds - Licensed</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.beds_licensed}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Beds - Target</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.beds_target}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Beds - Configured</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.beds_configured}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Yellow Flag Warning</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.yellow_flag}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Red Flag Warning</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.red_flag}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Starting Occ</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center" [ngStyle]="FacilityDashboard.getStartingStyle(item.value)">{{item.value.starting_occupancy}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Move Ins (Respite)</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.move_ins_respite}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Move Ins (Long Term)</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.move_ins_long_term}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Move Outs (Respite)</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.move_outs_respite}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Move Outs (Long Term)</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.move_outs_long_term}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Ending Occ</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center" [ngStyle]="FacilityDashboard.getEndingStyle(item.value)">
                {{item.value.ending_occupancy}}
<!--                <a [routerLink]="['/dashboard', facilityId, 'room-summary']">{{item.value.ending_occupancy}}</a>-->
              </td>
            </ng-container>
          </tr>
          <tr>
            <td>Web Leads</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.web_leads}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Hot Leads</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">
                {{item.value.hot_leads}}
              </td>
<!--              <td class="text-center"><a [routerLink]="['/dashboard', facilityId, 'hot-leads']">{{item.value.hot_leads}}</a></td>-->
            </ng-container>
          </tr>
          <tr>
            <td>Notice to Vacate</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.notice_to_vacate}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Projected Near Term Occupancy</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.projected_near_term_occupancy}}</td>
            </ng-container>
          </tr>
          <tr>
            <td [colSpan]="1 + (dashboardData.data|keys).length">&nbsp;</td>
          </tr>
          <tr>
            <td>Tours per month</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.tours_per_month}}</td>
            </ng-container>
          </tr>
          <tr class="table-success">
            <td>Total Inquiries per month</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.total_inquiries}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Qualified Inquiries per month</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.qualified_inquiries}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Not Sure Inquiries per month</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.not_sure_inquiries}}</td>
            </ng-container>
          </tr>
          <tr>
            <td>Not Qualified Inquiries per month</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.not_qualified_inquiries}}</td>
            </ng-container>
          </tr>
          <tr class="table-warning">
            <td>Outreach per month</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.outreach_per_month}}</td>
            </ng-container>
          </tr>
<!--          <tr>-->
<!--            <td>Events per month</td>-->
<!--            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">-->
<!--              <td class="text-center">{{item.value.events_per_month}}</td>-->
<!--            </ng-container>-->
<!--          </tr>-->
          <tr>
            <td>Average Room Rent</td>
            <ng-container *ngFor="let item of dashboardData.data | keyvalue:no_sort_order">
              <td class="text-center">{{item.value.average_room_rent|currency:'USD':'symbol-narrow':'1.2-2'}}</td>
            </ng-container>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    {{ facilityName }} Weekly Chart ({{ currentDate|date:'MMM-yy' }})
  </div>
  <div class="card-body">
    <nz-empty *ngIf="!lineChartData" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
    <div *ngIf="lineChartData" class="d-flex justify-content-center">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="{ responsive: true }"
              [legend]="true"
              [chartType]="'line'">
      </canvas>
    </div>
  </div>
</div>
