<h4>Select Month</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date" nzRequired>Date</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date')?'error':null">
      <nz-month-picker mon formControlName="date" nzFormat="MM/yyyy"></nz-month-picker>
      <nz-form-explain *ngIf="hasErrors('date')">
        <app-field-errors [errors]="fieldErrors('date')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
