<div class="card">
  <div class="card-header">
    Facilities
  </div>
  <div class="card-body">
    <nz-empty *ngIf="!(data && data.length > 0)" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
    <ng-container *ngIf="data && data.length > 0">
      <template [ngTemplateOutlet]="tplResidentList"
                [ngTemplateOutletContext]="{ type: GROUP_TYPE.FACILITY, data: data }">
      </template>
    </ng-container>
  </div>
</div>

<ng-template #tplResidentList let-group_data="data" let-type="type">
  <div class="col-lg-2 col-md-4" *ngFor="let resident of data">
    <div class="row">
      <div class="col-12 text-center">
        <img *ngIf="!resident.image || !resident.image.photo_150_150" src="/assets/img/person_placeholder.png"
             class="img-thumbnail"
             style="max-height: 150px"
             alt="{{ resident|resident }}" title="{{ resident|resident }}"/>
        <img *ngIf="resident.image && resident.image.photo_150_150" src="{{ resident.image.photo_150_150 }}"
             class="img-thumbnail"
             style="max-height: 150px"
             alt="{{ resident|resident }}" title="{{ resident|resident }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center">
          <a [routerLink]="['/resident', resident.id, {outlets: {'resident-details': ['responsible-persons']}}]">
            {{ resident|resident }}
          </a>
        </p>
        <p *ngIf="type === GROUP_TYPE.FACILITY || type === GROUP_TYPE.APARTMENT"
           class="text-center">{{ resident.room_number }} ({{ resident.bed_number }})</p>
      </div>
    </div>
  </div>
</ng-template>
