<h4>Event</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="definition_id" nzRequired>Type</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('definition_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="definition_id">
          <ng-container *ngFor="let definition of definitions">
            <nz-option [nzLabel]="definition.title" [nzValue]="definition.id"></nz-option>
          </ng-container>
        </nz-select>
        <button nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('definition');">
          <i nz-icon type="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('definition_id')">
        <app-field-errors [errors]="fieldErrors('definition_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date" nzRequired>Date</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date')?'error':null">
      <nz-date-picker formControlName="date"></nz-date-picker>
      <nz-form-explain *ngIf="hasErrors('date')">
        <app-field-errors [errors]="fieldErrors('date')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="this.form.get('additional_date').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="additional_date" nzRequired>End Date</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('additional_date')?'error':null">
      <nz-date-picker formControlName="additional_date"></nz-date-picker>
      <nz-form-explain *ngIf="hasErrors('additional_date')">
        <app-field-errors [errors]="fieldErrors('additional_date')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="this.form.get('physician_id').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="physician_id" [nzRequired]="required.physician_id">Physician</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('physician_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="physician_id">
          <ng-container *ngFor="let resident_physician of resident_physicians">
            <nz-option [nzLabel]="resident_physician.physician|physician"
                       [nzValue]="resident_physician.physician.id"></nz-option>
          </ng-container>
        </nz-select>
        <button nz-button nzType="primary" nzSize="small" nzShape="circle"
                (click)="open_sub_modal('resident_physician');">
          <i nz-icon type="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('physician_id')">
        <app-field-errors [errors]="fieldErrors('physician_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="this.form.get('responsible_persons').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="responsible_persons" [nzRequired]="required.responsible_persons">{{ rp_single ? 'Responsible Person' : 'Responsible Person(s)' }}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('responsible_persons')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch
                   [nzMode]="'multiple'"
                   [nzMaxMultipleCount]="rp_single?1:Infinity"
                   nzPlaceHolder="Please select" formControlName="responsible_persons">
          <ng-container *ngFor="let resident_responsible_person of resident_responsible_persons">
            <nz-option [nzLabel]="resident_responsible_person.responsible_person|responsible_person"
                       [nzValue]="resident_responsible_person.responsible_person.id"></nz-option>
          </ng-container>
        </nz-select>
        <button nz-button nzType="primary" nzSize="small" nzShape="circle"
                (click)="open_sub_modal('resident_responsible_person');">
          <i nz-icon type="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('responsible_persons')">
        <app-field-errors [errors]="fieldErrors('responsible_persons')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('notes')?'error':null">
      <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512"></input-counter>
      <nz-form-explain *ngIf="hasErrors('notes')">
        <app-field-errors [errors]="fieldErrors('notes')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
