<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-header">
        {{ title }}
        <div *ngIf="show_category && checkPermission(['persistence-common-document_category'])"
             class="card-header-actions">
          <nz-select class="card-header-action" nzShowSearch [nzAllowClear]="true" nzSize="small"
                     style="width: 200px;font-weight: normal;" nzPlaceHolder="Select Category"
                     [(ngModel)]="category" (ngModelChange)="category_changes($event)"
          >
            <nz-option [nzLabel]="'All'" [nzValue]="null"></nz-option>
            <ng-container *ngFor="let category of categories">
              <nz-option [nzLabel]="category.title" [nzValue]="category.id"></nz-option>
            </ng-container>
          </nz-select>
        </div>
      </div>
      <div class="card-body">
        <nz-empty *ngIf="!documents" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
        <nz-list *ngIf="documents" [nzDataSource]="documents" [nzRenderItem]="tplItem" [nzItemLayout]="'horizontal'"
                 [nzLoading]="loading">
          <ng-template #tplItem let-item>
            <nz-list-item>
              <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
                <ng-template #nzTitle>
                  <a [routerLink]="" (click)="openPDF(item)" style="font-size: 16px;">
                    <strong *ngIf="document && (document.id === item.id)">{{ item.title }}</strong>
                    <ng-container
                      *ngIf="!document || (document && document.id !== item.id)">{{ item.title }}</ng-container>
                  </a>
                </ng-template>
                <ng-template #nzDescription>
                  <p>{{item.description}}</p>
                  <p class="text-muted" style="font-size: smaller;">
                    <span>{{item.date_modified|date:'MM/dd/yyyy HH:mm:ss'}}</span> <span
                    class="pull-right">by {{ item.owner }}</span>
                  </p>
                </ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </ng-template>
        </nz-list>
        <nz-divider *ngIf="addIfHasPermission(permission, 2)"></nz-divider>
        <div class="d-flex" *ngIf="addIfHasPermission(permission, 2)">
          <app-button-bar
            [permission]="permission"
            [service]="service"
            [component]="component"
            [modal_callback]="modal_callback"
            [ids]="document ? [document.id] : []"
            [single_select]="document !== null"
            [multi_select]="false"

            class="ml-auto"
          ></app-button-bar>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-8">
    <div class="card">
      <div *ngIf="document" class="card-header">
        {{ document.title }}
      </div>
      <div class="card-body">
        <nz-empty *ngIf="!document" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
        <iframe *ngIf="!(!document)" [src]="this.url"
                style="width:100%;height:80vh;border: none;">
          <p>Your browser does not support iframes.</p>
        </iframe>
<!--        <div id="documentsPDFViewer" *ngIf="!(!document)" style="width:100%;height:80vh"></div>-->
      </div>
    </div>
  </div>
</div>
