<h4>Referral</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item *ngIf="show_lead">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="lead_id" nzRequired>Lead</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('lead_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="lead_id">
        <ng-container *ngFor="let lead of leads">
          <nz-option [nzLabel]="lead|lead" [nzValue]="lead.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('lead_id')">
        <app-field-errors [errors]="fieldErrors('lead_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="type_id" nzRequired>Type</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('type_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="type_id">
          <ng-container *ngFor="let referrer_type of referrer_types">
            <nz-option [nzLabel]="referrer_type.title" [nzValue]="referrer_type.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('referrer_type');">
          <i nz-icon type="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('type_id')">
        <app-field-errors [errors]="fieldErrors('type_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('organization_id').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="organization_id" nzRequired>Organization</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('organization_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="organization_id">
          <ng-container *ngFor="let organization of organizations">
            <nz-option [nzLabel]="organization.title" [nzValue]="organization.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('organization');">
          <i nz-icon type="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('organization_id')">
        <app-field-errors [errors]="fieldErrors('organization_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('notes').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('notes')?'error':null">
      <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512"></input-counter>
      <nz-form-explain *ngIf="hasErrors('notes')">
        <app-field-errors [errors]="fieldErrors('notes')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('contact_id').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="contact_id" nzRequired>Contact</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('contact_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="contact_id">
          <ng-container *ngFor="let contact of contacts">
            <nz-option [nzLabel]="contact|lead_contact" [nzValue]="contact.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('contact');">
          <i nz-icon type="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('contact_id')">
        <app-field-errors [errors]="fieldErrors('contact_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <ng-container *ngIf="form.get('contact_id').enabled && contact">
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">First Name</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">{{ contact.first_name}}</nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">Last Name</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">{{ contact.last_name}}</nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="contact.organization">
      <nz-form-label [nzSm]="8" [nzXs]="24">Organization</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">{{ contact.organization.title }}</nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="contact.emails && contact.emails.length > 0">
      <nz-form-label [nzSm]="8" [nzXs]="24">E-Mail(s)</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        {{ contact.emails.join(', ') }}
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="contact.phones && contact.phones.length > 0">
      <nz-form-label [nzSm]="8" [nzXs]="24">Phone(s)</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <div nz-row [nzGutter]="4" *ngFor="let phone of contact.phones">
          <div nz-col [nzSpan]="6" class="text-right"><strong>{{ phone.type|phone_type }}:</strong></div>
          <div nz-col [nzSpan]="12">
            <a href="tel:{{ phone.number| mask: '(000) 000-0000' }}">{{ phone.number| mask: '(000) 000-0000' }}</a>
            <ng-container *ngIf="phone.extension">, ext. {{ phone.extension }}</ng-container>
          </div>
          <div *ngIf="phone.primary" nz-col [nzSpan]="2">
            <i class="fas fa-key" title="Primary"></i>
          </div>
          <div *ngIf="phone.sms_enabled" nz-col [nzSpan]="2">
            <i class="fas fa-sms" title="SMS Enabled"></i>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">Notes</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">{{ contact.first_name}}</nz-form-control>
    </nz-form-item>
  </ng-container>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
