.sidebar {
  ::ng-deep .nav-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  ::ng-deep .nav-item {
    background-color: #2f353a;
  }

  ::ng-deep .open {
    .nav-item {
      background-color: #3a4248;
    }
  }
}

::ng-deep {
  .ant-form-item {
    margin-bottom: initial;
  }

  .ant-form-item-label {
    text-align: left;

    label {
      width: 100%;

      white-space: normal;
      word-break: normal;
    }
  }

  nz-alert {
    margin: 1rem 0;
  }
}
