<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 125, height: 32, alt: 'Senior Care'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo_sm.png', width: 30, height: 30, alt: 'Senior Care'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="addIfHasPermission('persistence-common-change_log')?'lg':false"
  [mobileAsideMenuToggler]="false">
  <p *ngIf="user && user.space"
     style="font-weight: 700;font-size: x-large;margin: 0 auto;font-family: sans-serif;">{{ user.space.name }}</p>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        <img *ngIf="!user || !user.image || !user.image.photo_35_35" src="/assets/img/person_placeholder.png"
             class="img-avatar"/>
        <img *ngIf="user && user.image && user.image.photo_35_35" src="{{ user.image.photo_35_35 }}"
             class="img-avatar"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" [routerLink]="['/profile/me']"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" [routerLink]="['/profile/change-password']"><i class="fa fa-key"></i> Change
          Password</a>
        <!--<div class="divider"></div>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>-->
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/help']"><i class="fa fa-question-circle"></i> Help</a>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/sign-out']"><i class="fa fa-lock"></i> Sign Out</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-feedback *ngIf="user && user.space" [space]="user.space.name" style="text-align: center;padding: 0.5rem;"></app-feedback>
    <!--<app-sidebar-minimizer></app-sidebar-minimizer>-->
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!--<ol class="breadcrumb">-->
    <!--<app-breadcrumb></app-breadcrumb>-->
    <!--</ol>-->
    <div class="app-sc-container container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->

    <app-license [showModal]="licenseVisible"></app-license>
  </main>

  <app-aside *ngIf="addIfHasPermission('persistence-common-change_log')" [fixed]="true" [display]="true">
    <app-user-activity></app-user-activity>
  </app-aside>
</div>
<app-footer>
  <span>&copy; 2019 InterMotion Technology Inc., CiminoCare</span>
</app-footer>
