.sidebar {
  z-index: 0;

  ::ng-deep .nav-title {
    font-size: 1rem;
  }

  ::ng-deep .nav-link {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }

  ::ng-deep .nav-item {
    background-color: #2f353a;
  }

  ::ng-deep .nav-dropdown-items {
    background-color: #3a4248;

    .nav-link {
      padding-left: 1.25rem;

      &.active {
        background-color: #858585;
      }
    }
  }
}

::ng-deep table.ant-table-fixed {
  table-layout: fixed;
}

::ng-deep nz-table {
  .ant-table-placeholder {
    border: 1px solid #e8e8e8;
  }
}

::ng-deep table.ant-table-fixed > thead.ant-table-thead > tr {
  &:first-child > th:first-child {
    &.sc-table-th-checkbox {
      width: 2rem;
    }

    &.sc-table-th-no-checkbox {
      width: 0rem;
    }
  }

  th {
    text-align: center;
  }

}

::ng-deep {
  .ant-message .anticon {
    top: -3px;
  }

  .app-sc-container {
    margin-top: 1.5rem;
  }

  .ant-list-item-meta-description {
    word-break: break-all;
  }

  .ant-modal {
    h4 {
      font-size: x-large;
      font-weight: 700;
      text-align: center;
    }

    .ant-divider-horizontal {
      margin: 10px 0;
    }
  }

  .modal-confirm {
    i {
      padding: 1rem;
    }
  }

  .card-header {
    font-size: x-large;
    font-weight: 700;
    text-align: center;
  }

  .app-header {
    z-index: 999 !important;
  }

  .no-data-placeholder {
    position: relative;
    padding: 16px 16px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    z-index: 1;
  }

  .ant-btn > .anticon {
    vertical-align: baseline;
  }

  .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
    text-align: left;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    font-weight: 400;
  }

  .ant-dropdown:before {
    content: none;
  }

  .ant-form-item {
    margin-bottom: 0;

    .ant-form-item-control {
      &.has-error {
        font-size: smaller;
      }
    }
  }

  .ant-form-item-label {
    text-align: left;

    label {
      width: 100%;

      white-space: normal;
      word-break: normal;

      text-align: right;
    }
  }

  textarea.ant-input {
    margin-bottom: 1rem;
  }

  nz-alert {
    margin: 1rem 0;
  }


  .ant-calendar-picker {
    width: 100%;
  }

  .ant-input-number {
    width: 100%;
  }

  fieldset {
    position: relative;
    //background-color: #f5f5f5;

    padding: 0.75rem;
    margin-bottom: 0.75rem;

    border: 1px solid #ddd !important;
    border-radius: 0.3rem;

    legend.senior-care-legend {
      font-size: 14px;
      font-weight: bold;

      text-align: center;

      background-color: #ffffff;

      padding: 0.2rem 1.5rem;
      margin-bottom: 0;

      color: #000;
      border: 1px solid #ddd;
      border-radius: 0.3rem;

      button {
        float: right;
        line-height: 0;
      }
    }
  }

  .senior-care-form-table {
    button {
      float: right;
      line-height: 0;
      margin-top: 0.5rem;
    }

    nz-select {
      width: 90%;
    }
  }

  .add-select-container {
    button {
      float: right;
      line-height: 0;
      margin-top: 0.5rem;
    }

    nz-select {
      width: 90%;
    }

    nz-select:last-child {
      width: 100%;
    }
  }

  .senior-care-form-table {
    nz-form-label {
      margin: 0;
      line-height: 0;

      :after {
        content: none;
      }

      &.ant-form-item-label {
        label {
          margin-bottom: 0.25rem;

          &:not(.ant-form-item-required) {

            &:before {
              display: inline-block;
              margin-right: -2px; //4px;
              content: "*";
              font-family: SimSun;
              line-height: 1;
              font-size: 14px;
              color: transparent;
            }
          }
        }
      }
    }

    .has-error .ant-form-explain {
      font-size: 0.75rem;
    }

    nz-form-control {
      width: 100%;

      nz-select {
        min-width: 5rem;
      }
    }

    th {
      text-align: center;
    }

    td {
      line-height: 2.5;
    }
  }

  .text-form-info {
    font-size: 0.75rem;
    color: #73818f !important;
    margin-top: 0;
    margin-bottom: 0;
  }

  .hr-form-info {
    margin-top: 1.5rem;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .reports-list {
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:empty {
      margin: 0;
    }

    li {
      margin: 0.25rem 0;
    }
  }

  nz-form-control.sc-select-all {
    nz-select {
      width: 80%;
      margin-right: 0.75rem;
    }

    nz-date-picker {
      width: 80%;
      margin-right: 0.75rem;
    }
  }

  nz-form-control {
    nz-date-picker {
      nz-picker {
        span.ant-calendar-picker {
          width: 100% !important;
        }
      }
    }
  }

  .btn {
    padding: 0 15px;
  }

  .grant-table {
    nz-select {
      width: 95px;
    }
  }

  textarea.ant-input {
    margin-top: 10px !important;
  }
}


::ng-deep {
  .icon-picker {
    span {
      font-size: 24px !important;
    }
  }

  .text-input-counter {
    color: #212121;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: right;
    margin: 0;
    padding: 0.25rem;
    padding-right: 1.25rem;
    line-height: 1;
  }

}

::ng-deep {
  .ant-tabs-nav .ant-tabs-tab-active {
    color: rgb(35, 40, 44);
  }
}
