<h4>Document</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item *ngIf="form.get('category_id')">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="category_id" nzRequired>Category</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('category_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="category_id">
          <ng-container *ngFor="let category of categories">
            <nz-option [nzLabel]="category.title" [nzValue]="category.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle"
                (click)="open_sub_modal('category');">
          <i nz-icon nzType="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('category_id')">
        <app-field-errors [errors]="fieldErrors('category_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="title" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('title')?'error':null">
      <input nz-input placeholder="Title" formControlName="title">
      <nz-form-explain *ngIf="hasErrors('title')">
        <app-field-errors [errors]="fieldErrors('title')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="description">Description</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('description')?'error':null">
      <input-counter formControlName="description" placeholder="Description" [maxlength]="512"></input-counter>
      <nz-form-explain *ngIf="hasErrors('description')">
        <app-field-errors [errors]="fieldErrors('description')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="file" nzRequired>File</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('file')?'error':null">
      <input type="file" #file (change)="onFileChange(files[0], $event)" accept="application/pdf"
             style="display: none;">
      <button type="button" nz-button nzSize="small" *ngIf="form.get('file').value === null"
              (click)="select_file(files[0]);">
        <i nz-icon nzType="upload"></i>
        <span>Select file...</span>
      </button>
      <button type="button" nz-button nzSize="small" nzType="danger" *ngIf="form.get('file').value !== null"
              (click)="clear_file(files[0]);">
        <i nz-icon nzType="close"></i>
        {{ (files[0].file_name && files[0].file_name !== '') ? files[0].file_name : 'Remove' }}
      </button>
      <p style="font-size: smaller;line-height: 0.5;" [style.color]="files[0].size_exceed?'red':'inherit'">(Maximum file
        size is 10 MB.)</p>
      <nz-form-explain *ngIf="hasErrors('file')">
        <app-field-errors [errors]="fieldErrors('file')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="facilities" nzRequired>Facilities</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('facilities')?'error':null"
                     class="sc-select-all">
      <nz-select *ngIf="show_facilities" nzShowSearch nzMode="multiple" nzPlaceHolder="Please select" formControlName="facilities">
        <ng-container *ngFor="let facility of facilities">
          <nz-option [nzLabel]="facility.name" [nzValue]="facility.id"></nz-option>
        </ng-container>
      </nz-select>
      <label nz-checkbox formControlName="facilities_all">All</label>
      <nz-form-explain *ngIf="hasErrors('facilities')">
        <app-field-errors [errors]="fieldErrors('facilities')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="roles" nzRequired>{{ 'form.admin.user.roles'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('roles')?'error':null">
      <nz-select nzShowSearch nzMode="multiple" nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" formControlName="roles">
        <ng-container *ngFor="let role of roles">
          <nz-option [nzLabel]="role.name" [nzValue]="role.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('roles')">
        <app-field-errors [errors]="fieldErrors('roles')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="emails">CC</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('emails')?'error':null">
      <sc-select scShowSearch scMode="tags" [scTokenSeparators]="[' ', ',']" scPlaceHolder="{{ 'form.select_placeholder'|translate }}" formControlName="emails">
      </sc-select>
      <nz-form-explain *ngIf="hasErrors('emails')">
        <app-field-errors [errors]="fieldErrors('emails')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="16" [nzOffset]="8">
      <label nz-checkbox formControlName="notification">Send Email Notification</label>
      <nz-form-explain *ngIf="hasErrors('notification')">
        <app-field-errors [errors]="fieldErrors('notification')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
