<h4>Apartment</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="name" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('name')?'error':null">
      <input nz-input placeholder="Name" formControlName="name">
      <nz-form-explain *ngIf="hasErrors('name')">
        <app-field-errors [errors]="fieldErrors('name')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="shorthand" nzRequired>Shorthand</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('shorthand')?'error':null">
      <input nz-input placeholder="Shorthand" formControlName="shorthand">
      <nz-form-explain *ngIf="hasErrors('shorthand')">
        <app-field-errors [errors]="fieldErrors('shorthand')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="description">Description</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('description')?'error':null">
      <input-counter formControlName="description" placeholder="Description" [maxlength]="255"></input-counter>
      <nz-form-explain *ngIf="hasErrors('description')">
        <app-field-errors [errors]="fieldErrors('description')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="address" nzRequired>Address</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('address')?'error':null">
      <input nz-input placeholder="Address" formControlName="address">
      <nz-form-explain *ngIf="hasErrors('address')">
        <app-field-errors [errors]="fieldErrors('address')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="phone">Phone</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('phone')?'error':null">
      <input nz-input placeholder="(000) 000-0000" formControlName="phone"
             mask="(000) 000-0000" [showMaskTyped]="true" [dropSpecialCharacters]="false">
      <nz-form-explain *ngIf="hasErrors('phone')">
        <app-field-errors [errors]="fieldErrors('phone')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="fax">Fax</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('fax')?'error':null">
      <input nz-input placeholder="(000) 000-0000" formControlName="fax"
             mask="(000) 000-0000" [showMaskTyped]="true" [dropSpecialCharacters]="false">
      <nz-form-explain *ngIf="hasErrors('fax')">
        <app-field-errors [errors]="fieldErrors('fax')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="beds_licensed" nzRequired>Beds - Licensed</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('beds_licensed')?'error':null">
      <nz-input-number [nzMin]="0" [nzStep]="1" nzPlaceHolder="Beds - Licensed"
                       formControlName="beds_licensed"></nz-input-number>
      <nz-form-explain *ngIf="hasErrors('beds_licensed')">
        <app-field-errors [errors]="fieldErrors('beds_licensed')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="beds_target" nzRequired>Beds - Target</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('beds_target')?'error':null">
      <nz-input-number [nzMin]="0" [nzStep]="1" nzPlaceHolder="Beds - Target"
                       formControlName="beds_target"></nz-input-number>
      <nz-form-explain *ngIf="hasErrors('beds_target')">
        <app-field-errors [errors]="fieldErrors('beds_target')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="edit_mode">
    <nz-form-label [nzSm]="8" [nzXs]="24">Beds - Configured</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      {{ beds_configured }}
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="license">License Number</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('license')?'error':null">
      <input nz-input placeholder="License Number" formControlName="license">
      <nz-form-explain *ngIf="hasErrors('license')">
        <app-field-errors [errors]="fieldErrors('license')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="csz_id" nzRequired>City, State, Zip Code</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('csz_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="csz_id">
          <ng-container *ngFor="let city_state_zip of city_state_zips">
            <nz-option [nzLabel]="city_state_zip|csz" [nzValue]="city_state_zip.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle"
                (click)="open_sub_modal('csz');">
          <i nz-icon nzType="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('csz_id')">
        <app-field-errors [errors]="fieldErrors('csz_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('space_id')">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="space_id" nzRequired>Space</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('space_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="space_id">
        <ng-container *ngFor="let space of spaces">
          <nz-option [nzLabel]="space.name" [nzValue]="space.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('space_id')">
        <app-field-errors [errors]="fieldErrors('space_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
