<form nz-form [formGroup]="form">
  <nz-tabset [nzSelectedIndex]="selectedTab">
    <nz-tab nzTitle="General">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="start" nzRequired>Start Date</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('start')?'error':null">
          <nz-date-picker formControlName="start"></nz-date-picker>
          <nz-form-explain *ngIf="hasErrors('start')">
            <app-field-errors [errors]="fieldErrors('start')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="end" nzRequired>End Date</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('end')?'error':null">
          <nz-date-picker formControlName="end"></nz-date-picker>
          <nz-form-explain *ngIf="hasErrors('end')">
            <app-field-errors [errors]="fieldErrors('end')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="group_id" nzRequired>Group</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('group_id')?'error':null">
          <nz-select nzShowSearch [(ngModel)]="group_id" (ngModelChange)="init_subform($event);"
                     [ngModelOptions]="{standalone: true}">
            <nz-option-group nzLabel="FFC - Facilities">
              <ng-container *ngFor="let facility of facilities">
                <nz-option [nzLabel]="facility.name" [nzValue]="facility"></nz-option>
              </ng-container>
            </nz-option-group>
            <nz-option-group nzLabel="IHC - Regions">
              <ng-container *ngFor="let region of regions">
                <nz-option [nzLabel]="region.name" [nzValue]="region"></nz-option>
              </ng-container>
            </nz-option-group>
            <nz-option-group nzLabel="IL - Apartments">
              <ng-container *ngFor="let apartment of apartments">
                <nz-option [nzLabel]="apartment.name" [nzValue]="apartment"></nz-option>
              </ng-container>
            </nz-option-group>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('group_id')">
            <app-field-errors [errors]="fieldErrors('group_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab *ngIf="form.get('type').value == ResidentType.FACILITY" formGroupName="option"
            nzTitle="Facility Information">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="state" nzRequired>State</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('state')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="state">
            <ng-container *ngFor="let state of states">
              <nz-option [nzLabel]="(state.name)|translate" [nzValue]="state.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('state')">
            <app-field-errors [errors]="fieldErrors('state')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_group" nzRequired>Care Group</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_group')?'error':null">
          <input nz-input placeholder="Care Group" formControlName="care_group">
          <nz-form-explain *ngIf="hasErrors('care_group')">
            <app-field-errors [errors]="fieldErrors('care_group')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_level_id" nzRequired>Care Level</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_level_id')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="care_level_id">
            <ng-container *ngFor="let care_level of care_levels">
              <nz-option [nzLabel]="care_level.title" [nzValue]="care_level.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('care_level_id')">
            <app-field-errors [errors]="fieldErrors('care_level_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="ambulatory" nzRequired>Ambulatory</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="ambulatory"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('ambulatory')">
            <app-field-errors [errors]="fieldErrors('ambulatory')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="dnr" nzRequired>DNR</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="dnr"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('dnr')">
            <app-field-errors [errors]="fieldErrors('dnr')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="polst" nzRequired>POLST</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="polst"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('polst')">
            <app-field-errors [errors]="fieldErrors('polst')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="bed_id" nzRequired>Room/Bed</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('bed_id')?'error':null">
          <nz-select nzShowSearch nzPlaceHolder="Please select" formControlName="bed_id">
            <ng-container *ngFor="let room of facility_rooms">
              <ng-container *ngFor="let bed of room.beds">
                <nz-option nzCustomContent [nzValue]="bed.id" nzLabel="{{ room.number }} ({{ bed.number }})">
                  <strong>{{ room.number }}</strong> {{ bed.number }}
                </nz-option>
              </ng-container>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('bed_id')">
            <app-field-errors [errors]="fieldErrors('bed_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="dining_room_id" nzRequired>Dinning Room</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('dining_room_id')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="dining_room_id">
            <ng-container *ngFor="let dining_room of dining_rooms">
              <nz-option [nzLabel]="dining_room.title" [nzValue]="dining_room.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('dining_room_id')">
            <app-field-errors [errors]="fieldErrors('dining_room_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>

    <nz-tab *ngIf="form.get('type').value == ResidentType.APARTMENT" formGroupName="option"
            nzTitle="Apartment Information">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="state" nzRequired>State</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('state')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="state">
            <ng-container *ngFor="let state of states">
              <nz-option [nzLabel]="(state.name)|translate" [nzValue]="state.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('state')">
            <app-field-errors [errors]="fieldErrors('state')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="bed_id" nzRequired>Room/Bed</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('bed_id')?'error':null">
          <nz-select nzShowSearch nzPlaceHolder="Please select" formControlName="bed_id">
            <ng-container *ngFor="let room of apartment_rooms">
              <ng-container *ngFor="let bed of room.beds">
                <nz-option nzCustomContent [nzValue]="bed.id" nzLabel="{{ room.number }} ({{ bed.number }})">
                  <strong>{{ room.number }}</strong> {{ bed.number }}
                </nz-option>
              </ng-container>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('bed_id')">
            <app-field-errors [errors]="fieldErrors('bed_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab *ngIf="form.get('type').value == ResidentType.REGION" formGroupName="option"
            nzTitle="IHC Region Information">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="state" nzRequired>State</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('state')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="state">
            <ng-container *ngFor="let state of states">
              <nz-option [nzLabel]="(state.name)|translate" [nzValue]="state.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('state')">
            <app-field-errors [errors]="fieldErrors('state')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_group" nzRequired>Care Group</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_group')?'error':null">
          <input nz-input placeholder="Care Group" formControlName="care_group">
          <nz-form-explain *ngIf="hasErrors('care_group')">
            <app-field-errors [errors]="fieldErrors('care_group')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_level_id" nzRequired>Care Level</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_level_id')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="care_level_id">
            <ng-container *ngFor="let care_level of care_levels">
              <nz-option [nzLabel]="care_level.title" [nzValue]="care_level.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('care_level_id')">
            <app-field-errors [errors]="fieldErrors('care_level_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="ambulatory" nzRequired>Ambulatory</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="ambulatory"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('ambulatory')">
            <app-field-errors [errors]="fieldErrors('ambulatory')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="dnr" nzRequired>DNR</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="dnr"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('dnr')">
            <app-field-errors [errors]="fieldErrors('dnr')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="polst" nzRequired>POLST</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="polst"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('polst')">
            <app-field-errors [errors]="fieldErrors('polst')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- region -->

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="csz_id" nzRequired>CSZ</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('csz_id')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="csz_id">
            <ng-container *ngFor="let city_state_zip of city_state_zips">
              <nz-option [nzLabel]="city_state_zip|csz" [nzValue]="city_state_zip.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('csz_id')">
            <app-field-errors [errors]="fieldErrors('csz_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="street_address" nzRequired>Street Address</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('street_address')?'error':null">
          <input nz-input placeholder="Street Address" formControlName="street_address">
          <nz-form-explain *ngIf="hasErrors('street_address')">
            <app-field-errors [errors]="fieldErrors('street_address')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
