<h4>Medical History</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date" nzRequired>Occurred Date</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date')?'error':null">
      <nz-date-picker formControlName="date" nzFormat="MM/dd/yyyy"></nz-date-picker>
      <nz-form-explain *ngIf="hasErrors('date')">
        <app-field-errors [errors]="fieldErrors('date')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="condition_id" nzRequired>Condition</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('condition_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="condition_id">
          <ng-container *ngFor="let condition of conditions">
            <nz-option [nzLabel]="condition.title" [nzValue]="condition.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('condition');">
          <i nz-icon type="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('condition_id')">
        <app-field-errors [errors]="fieldErrors('condition_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('notes')?'error':null">
      <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512"></input-counter>
      <nz-form-explain *ngIf="hasErrors('notes')">
        <app-field-errors [errors]="fieldErrors('notes')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
