
fieldset {
  position: relative;
  //background-color: #f5f5f5;

  padding:  0.75rem;
  margin-bottom: 0.75rem;

  border: 1px solid #ddd !important;
  border-radius: 0.3rem;
}

legend {
  font-size: 14px;
  font-weight: bold;

  text-align: center;

  background-color: #ffffff;

  padding: 0.2rem 1.5rem;
  margin-bottom: 0;

  color: #000;
  border: 1px solid #ddd;
  border-radius: 0.3rem;

  button {
    float: right;
    line-height: 0;
  }
}

.add-select-container {
  button {
    float: right;
    line-height: 0;
    margin-top: 0.5rem;
  }

  nz-select {
    width: 90%;
  }
}

::ng-deep .ant-calendar-picker {
  width: 100%;
}
