<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="salutation_id" nzRequired>Salutation</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('salutation_id')?'error':null">
      <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="salutation_id">
        <ng-container *ngFor="let salutation of salutations">
          <nz-option [nzLabel]="salutation.title" [nzValue]="salutation.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('salutation_id')">
        <app-field-errors [errors]="fieldErrors('salutation_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="first_name" nzRequired>First Name</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('first_name')?'error':null">
      <input nz-input placeholder="First Name" formControlName="first_name">
      <nz-form-explain *ngIf="hasErrors('first_name')">
        <app-field-errors [errors]="fieldErrors('first_name')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="middle_name">Middle Name</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('middle_name')?'error':null">
      <input nz-input placeholder="Middle Name" formControlName="middle_name">
      <nz-form-explain *ngIf="hasErrors('middle_name')">
        <app-field-errors [errors]="fieldErrors('middle_name')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="last_name" nzRequired>Last Name</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('last_name')?'error':null">
      <input nz-input placeholder="Last Name" formControlName="last_name">
      <nz-form-explain *ngIf="hasErrors('last_name')">
        <app-field-errors [errors]="fieldErrors('last_name')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="birthday" nzRequired>Birthday</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('birthday')?'error':null">
      <nz-date-picker formControlName="birthday"></nz-date-picker>
      <nz-form-explain *ngIf="hasErrors('birthday')">
        <app-field-errors [errors]="fieldErrors('birthday')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="gender" nzRequired>Gender</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('gender')?'error':null">
      <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="gender">
        <ng-container *ngFor="let gender of genders">
          <nz-option [nzLabel]="(gender.name)|translate" [nzValue]="gender.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('gender')">
        <app-field-errors [errors]="fieldErrors('gender')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <!--Photo-->
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="photo" nzRequired>Photo</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('photo')?'error':null">
      <input type="file" #photo_file (change)="onFileChange($event)"
             accept="image/*" style="display: none;">
      <button nz-button (click)="select_file();">
        <i nz-icon type="upload"></i><span>Select file...</span>
      </button>
      <nz-form-explain *ngIf="hasErrors('photo')">
        <app-field-errors [errors]="fieldErrors('photo')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>


  <fieldset formArrayName="phones">
    <legend class="senior-care-legend">
      Phone Number(s)
      <button [style.float]="'right'" nz-button nzType="primary" nzSize="small" nzShape="circle"
              (click)="add_field('phones');">
        <i nz-icon type="plus"></i>
      </button>
    </legend>
    <table class="senior-care-form-table table table-hover table-bordered table-sm"
           *ngIf="get_form_array('phones').controls.length > 0">
      <thead>
      <tr>
        <th class="w-25 text-center">
          <nz-form-label>Primary</nz-form-label>
        </th>
        <th class="w-25">
          <nz-form-label nzRequired>Type</nz-form-label>
        </th>
        <th class="w-50">
          <nz-form-label nzRequired>Number</nz-form-label>
        </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let phone of get_form_array('phones').controls;let i = index">
        <tr [formGroupName]="i">
          <td class="text-center">
            <nz-switch nzSize="small" formControlName="primary"></nz-switch>
          </td>
          <td>
            <nz-form-item>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('phones.'+i+'.type')?'error':null">
                <nz-select nzSize="small" nzMode="default" nzPlaceHolder="Select Type" formControlName="type">
                  <ng-container *ngFor="let type of phone_types">
                    <nz-option [nzLabel]="(type.name)|translate" [nzValue]="type.id"></nz-option>
                  </ng-container>
                </nz-select>
                <nz-form-explain *ngIf="hasErrors('phones.'+i+'.type')">
                  <app-field-errors [errors]="fieldErrors('phones.'+i+'.type')"></app-field-errors>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </td>
          <td>
            <nz-form-item>
              <nz-form-control [nzSm]="16" [nzXs]="24"
                               [nzValidateStatus]="hasErrors('phones.'+i+'.number')?'error':null">
                <input nz-input nzSize="small" placeholder="(000) 000-0000" formControlName="number" mask="(000) 000-0000">
                <nz-form-explain *ngIf="hasErrors('phones.'+i+'.number')">
                  <app-field-errors [errors]="fieldErrors('phones.'+i+'.number')"></app-field-errors>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </td>
          <td class="text-center">
            <button nz-button nzType="danger" nzSize="small" nzShape="circle" (click)="remove_field('phones', i);">
              <i nz-icon type="minus"></i>
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </fieldset>
  <!--Phone-->

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="space_id" nzRequired>Space</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('space_id')?'error':null">
      <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="space_id">
        <ng-container *ngFor="let space of spaces">
          <nz-option [nzLabel]="space.name" [nzValue]="space.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('space_id')">
        <app-field-errors [errors]="fieldErrors('space_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
