<h4>Dietary Restriction</h4>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="diet_id" nzRequired>Category</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('diet_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="diet_id">
          <ng-container *ngFor="let diet of diets">
            <nz-option [nzLabel]="diet.title" [nzValue]="diet.id"></nz-option>
          </ng-container>
        </nz-select>
        <button nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('diet');">
          <i nz-icon type="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('diet_id')">
        <app-field-errors [errors]="fieldErrors('diet_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="description" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('description')?'error':null">
      <textarea formControlName="description" nz-input rows="4" placeholder="Description"></textarea>
      <nz-form-explain *ngIf="hasErrors('description')">
        <app-field-errors [errors]="fieldErrors('description')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
