<ng-template #inputTemplate>
  <input #inputElement
    autocomplete="something-new"
    class="ant-select-search__field"
    (compositionstart)="isComposing = true"
    (compositionend)="isComposing = false"
    [ngModel]="inputValue"
    (ngModelChange)="setInputValue($event)"
    [disabled]="scSelectService.disabled">
  <span #mirrorElement class="ant-select-search__field__mirror"></span>
</ng-template>
<div class="ant-select-selection__rendered">
  <div *ngIf="scPlaceHolder"
    sc-select-unselectable
    [style.display]="placeHolderDisplay"
    class="ant-select-selection__placeholder">{{ scPlaceHolder }}</div>
  <!--single mode-->
  <ng-container *ngIf="scSelectService.isSingleMode">
    <!--selected label-->
    <div *ngIf="scSelectService.listOfCachedSelectedOption.length && scSelectService.listOfSelectedValue.length"
      class="ant-select-selection-selected-value"
      [attr.title]="scSelectService.listOfCachedSelectedOption[0]?.scLabel"
      [ngStyle]="selectedValueStyle">
      <ng-container *nzStringTemplateOutlet="scCustomTemplate; context: { $implicit: scSelectService.listOfCachedSelectedOption[0] }">
        <ng-container>{{ scSelectService.listOfCachedSelectedOption[0]?.scLabel }}</ng-container>
      </ng-container>
    </div>
    <!--show search-->
    <div *ngIf="scShowSearch"
      class="ant-select-search ant-select-search--inline" [style.display]="scOpen ? 'block' : 'none'">
      <div class="ant-select-search__field__wrap">
        <ng-template [ngTemplateOutlet]="inputTemplate"></ng-template>
      </div>
    </div>
  </ng-container>
  <!--multiple or tags mode-->
  <ul *ngIf="scSelectService.isMultipleOrTags">
    <ng-container *ngFor="let option of scSelectService.listOfCachedSelectedOption | slice: 0 : scMaxTagCount;trackBy:trackValue; let index = index">
      <li [@zoomMotion]
        [@.disabled]="noAnimation?.nzNoAnimation"
        [nzNoAnimation]="noAnimation?.nzNoAnimation"
        [attr.title]="option.scLabel"
        [class.ant-select-selection__choice__disabled]="option.scDisabled"
        (@zoomMotion.done)="animationEnd()"
        class="ant-select-selection__choice">
        <ng-container *nzStringTemplateOutlet="scCustomTemplate; context:{ $implicit: scSelectService.listOfCachedSelectedOption[index] }">
          <div class="ant-select-selection__choice__content">{{ option.scLabel }}</div>
        </ng-container>
        <span *ngIf="!option.scDisabled"
          class="ant-select-selection__choice__remove"
          (mousedown)="$event.preventDefault()"
          (click)="removeSelectedValue(option, $event)">
          <i nz-icon nzType="close" class="ant-select-remove-icon" *ngIf="!scRemoveIcon; else scRemoveIcon"></i>
        </span>
      </li>
    </ng-container>
    <li *ngIf="scSelectService.listOfCachedSelectedOption.length > scMaxTagCount"
      [@zoomMotion]
      [@.disabled]="noAnimation?.nzNoAnimation"
      [nzNoAnimation]="noAnimation?.nzNoAnimation"
      (@zoomMotion.done)="animationEnd()"
      class="ant-select-selection__choice">
      <div class="ant-select-selection__choice__content">
        <ng-container *ngIf="scMaxTagPlaceholder">
          <ng-template
            [ngTemplateOutlet]="scMaxTagPlaceholder"
            [ngTemplateOutletContext]="{ $implicit: scSelectService.listOfSelectedValue | slice: scMaxTagCount}">
          </ng-template>
        </ng-container>
        <ng-container *ngIf="!scMaxTagPlaceholder">
          + {{ scSelectService.listOfCachedSelectedOption.length - scMaxTagCount }} ...
        </ng-container>
      </div>
    </li>
    <li class="ant-select-search ant-select-search--inline">
      <ng-template [ngTemplateOutlet]="inputTemplate"></ng-template>
    </li>
  </ul>
</div>
<span *ngIf="scAllowClear && scSelectService.listOfSelectedValue.length"
  class="ant-select-selection__clear"
  sc-select-unselectable
  (mousedown)="$event.preventDefault()"
  (click)="onClearSelection($event)">
    <i nz-icon nzType="close-circle" nzTheme="fill" *ngIf="!scClearIcon; else scClearIcon" class="ant-select-close-icon"></i>
  </span>
<span class="ant-select-arrow" sc-select-unselectable *ngIf="scShowArrow">
  <i nz-icon nzType="loading" *ngIf="scLoading; else defaultArrow"></i>
  <ng-template #defaultArrow>
    <i nz-icon nzType="down" class="ant-select-arrow-icon" *ngIf="!scSuffixIcon; else scSuffixIcon"></i>
  </ng-template>
</span>
