<h4>Web Email</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date" nzRequired>Date</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date')?'error':null">
      <nz-date-picker formControlName="date" [nzDisabledDate]="disabledDate" nzFormat="MM/dd/yyyy"></nz-date-picker>
      <nz-form-explain *ngIf="hasErrors('date')">
        <app-field-errors [errors]="fieldErrors('date')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="facility_id">Facility</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('facility_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="facility_id">
        <ng-container *ngFor="let facility of facilities">
          <nz-option [nzLabel]="facility.name" [nzValue]="facility.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('facility_id')">
        <app-field-errors [errors]="fieldErrors('facility_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="email_review_type_id">Review Type</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('email_review_type_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="email_review_type_id">
        <ng-container *ngFor="let email_review_type of email_review_types">
          <nz-option [nzLabel]="email_review_type.title" [nzValue]="email_review_type.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('email_review_type_id')">
        <app-field-errors [errors]="fieldErrors('email_review_type_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="subject">Subject</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('subject')?'error':null">
      <input-counter formControlName="subject" placeholder="Subject" [maxlength]="120"></input-counter>
      <nz-form-explain *ngIf="hasErrors('subject')">
        <app-field-errors [errors]="fieldErrors('subject')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="subject">Name</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('name')?'error':null">
      <input-counter formControlName="name" placeholder="Name" [maxlength]="120"></input-counter>
      <nz-form-explain *ngIf="hasErrors('name')">
        <app-field-errors [errors]="fieldErrors('name')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="email">E-Mail</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('email')?'error':null">
      <input nz-input placeholder="E-Mail" formControlName="email">
      <nz-form-explain *ngIf="hasErrors('email')">
        <app-field-errors [errors]="fieldErrors('email')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="phone">Phone</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('phone')?'error':null">
      <input nz-input placeholder="(000) 000-0000" formControlName="phone"
             mask="(000) 000-0000" [showMaskTyped]="true" [dropSpecialCharacters]="false">
      <nz-form-explain *ngIf="hasErrors('phone')">
        <app-field-errors [errors]="fieldErrors('phone')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="message">Message</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('message')?'error':null">
      <input-counter formControlName="message" placeholder="Message" [maxlength]="2048"></input-counter>
      <nz-form-explain *ngIf="hasErrors('message')">
        <app-field-errors [errors]="fieldErrors('message')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('space_id')">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="space_id" nzRequired>Space</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('space_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="space_id">
        <ng-container *ngFor="let space of spaces">
          <nz-option [nzLabel]="space.name" [nzValue]="space.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('space_id')">
        <app-field-errors [errors]="fieldErrors('space_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
