<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-header">
          <strong>My Profile</strong>
        </div>
        <div class="card-body">
          <ng-container *ngIf="user!=null">
            <div class="row">
              <div class="col-12">
                <div class="text-center m-0">
                  <img *ngIf="!user.avatar" src="/assets/img/person_placeholder.png" class="img-thumbnail"
                       style="max-height: 15rem"/>
                  <img *ngIf="user.avatar" src="{{ user.avatar }}" class="img-thumbnail"
                       style="max-height: 15rem"/>
                </div>
              </div>
            </div>
            <div class="m-2">&nbsp;</div>
            <div class="row">
              <div class="col-6"><strong>First Name:</strong></div>
              <div class="col-6">{{ user.first_name }}</div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Last Name:</strong></div>
              <div class="col-6">{{ user.last_name }}</div>
            </div>
            <div class="row">
              <div class="col-6"><strong>E-Mail:</strong></div>
              <div class="col-6"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
            </div>
            <div nz-row [nzGutter]="4">
              <div nz-col [nzSpan]="24"><strong>Phone Numbers:</strong></div>
              <div nz-col [nzOffset]="4" [nzSpan]="20">
                <div nz-row [nzGutter]="4" *ngFor="let phone of user.phones">
                  <div nz-col [nzSpan]="6"><strong>{{ phone.type|phone_type }}:</strong></div>
                  <div nz-col [nzSpan]="12">
                    <a
                      href="tel:{{ phone.number| mask: '(000) 000-0000' }}">{{ phone.number| mask: '(000) 000-0000' }}</a>
                    <ng-container *ngIf="phone.extension">, ext. {{ phone.extension }}</ng-container>
                  </div>
                  <div *ngIf="phone.primary" nz-col [nzSpan]="2">
                    <i class="fas fa-key" title="Primary"></i>
                  </div>
                  <div *ngIf="phone.sms_enabled" nz-col [nzSpan]="2">
                    <i class="fas fa-sms" title="SMS Enabled"></i>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="card-footer text-right">
          <a nz-button nzType="primary" class="btn btn-primary" [routerLink]="['/profile/edit']">
            Edit
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
