<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-header">
          <strong>My Profile</strong>
        </div>
        <div class="card-body">
          <ng-container *ngIf="user!=null">
            <div class="row">
              <div class="col-12"><img class="img-fluid" src="assets/img/avatars/placeholder-300x300.png"></div>
            </div>
            <div class="row">
              <div class="col-6"><strong>First Name:</strong></div>
              <div class="col-6">{{ user.first_name }}</div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Last Name:</strong></div>
              <div class="col-6">{{ user.last_name }}</div>
            </div>
            <div class="row">
              <div class="col-6"><strong>E-Mail:</strong></div>
              <div class="col-6"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Phone:</strong></div>
              <div class="col-6"><a href="tel:{{ user.phone }}">{{ user.phone }}</a></div>
            </div>
          </ng-container>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary px-4" [routerLink]="['/profile/edit']">
            Edit
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
