.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);

  .custom-filter-dropdown-header {
    margin: 5px;
    min-width: 100px;
  }

  .custom-filter-dropdown-footer {
    margin: 5px;
    text-align: center;
  }

  ::ng-deep .ant-calendar-picker {
    width: 100% !important;
  }
}

nz-checkbox-group {
  display: block;

  ::ng-deep .ant-checkbox-wrapper {
    margin-left: 0;
    display: block;
  }
}

nz-select, nz-input-number {
  width: 100%;
}

nz-button-group [nz-button] {
  margin-right: 0;
  margin-bottom: 12px;
}

.ant-btn > .anticon {
  vertical-align: baseline;
}

::ng-deep p.modal-confirm {
  text-align: center;
  font-size: 1rem;
  line-height: 2;
  margin: 0;

  i {
    margin-right: 1rem;
  }
}

//::ng-deep table.ant-table-fixed {
//  table-layout: fixed;
//}
//::ng-deep thead.ant-table-thead > tr:first-child > th:first-child {
//        width: 4rem;
//}

dl.grid-definition-list {
  //width: 25rem; // TODO: review
  margin: 0;
  padding: 0;

  overflow: hidden;

  dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    margin: 0;

    text-align: right;
    padding: 0 1rem 0 0;

    &:after {
      content: ":";
    }
  }

  dd {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
  }
}
