<ng-container *ngIf="card">
  <div class="card">
    <div class="card-header">
      {{ title }}
    </div>
    <div class="card-body">
      <template [ngTemplateOutlet]="table"></template>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!card">
  <template [ngTemplateOutlet]="table"></template>
</ng-container>
<ng-template #table>
  <div class="d-flex justify-content-between">
    <nz-button-group *ngIf="component !== null" [nzSize]="'small'">
      <button *ngIf="button_shows.add"
              nz-button nzType="primary"
              [disabled]="checkbox_config.ids.length != 0"
              (click)="show_modal_add(); $event.preventDefault();">
        <i nz-icon type="plus"></i> {{ "grid.add"|translate }}
      </button>
      <button *ngIf="button_shows.edit"
              nz-button nzType="default" [nzLoading]="loading_edit_modal"
              [disabled]="checkbox_config.ids.length != 1"
              (click)="show_modal_edit(); $event.preventDefault();">
        <i nz-icon type="edit"></i> {{ "grid.edit"|translate }}
      </button>
      <button *ngIf="button_shows.remove"
        nz-button nzType="danger"
        [disabled]="checkbox_config.ids.length == 0"
        (click)="show_modal_remove(); $event.preventDefault();">
        <i nz-icon type="delete"></i> {{ "grid.remove"|translate }}
      </button>

      <ng-container *ngIf="fields != null && buttons_left">
        <ng-container *ngFor="let button of buttons_left">
          <button nz-button [nzType]="button.type" (click)="button_action(button)"
                  [disabled]="button.free === false && (button.multiselect == false && checkbox_config.ids.length != 1)
                 || (button.multiselect == true && checkbox_config.ids.length == 0)">
            <i *ngIf="button.nzIcon" nz-icon [type]="button.nzIcon"></i>
            <i *ngIf="button.faIcon" [class]="button.faIcon"></i>
            {{ ("grid." + name + ".button." + button.name)|translate }}
          </button>
        </ng-container>
      </ng-container>
    </nz-button-group>

    <nz-button-group *ngIf="fields != null && buttons_center" [nzSize]="'small'">
      <ng-container *ngFor="let button of buttons_center">
        <button nz-button [nzType]="button.type" (click)="button_action(button)"
                [disabled]="button.free === false && (button.multiselect == false && checkbox_config.ids.length != 1)
                 || (button.multiselect == true && checkbox_config.ids.length == 0)">
          <i *ngIf="button.nzIcon" nz-icon [type]="button.nzIcon"></i>
          <i *ngIf="button.faIcon" [class]="button.faIcon"></i>
          {{ ("grid." + name + ".button." + button.name)|translate }}
        </button>
      </ng-container>
    </nz-button-group>

    <nz-button-group *ngIf="fields != null && buttons_right" [nzSize]="'small'">
      <ng-container *ngFor="let button of buttons_right">
        <button nz-button [nzType]="button.type" (click)="button_action(button)"
                [disabled]="button.free === false && (button.multiselect == false && checkbox_config.ids.length != 1)
                 || (button.multiselect == true && checkbox_config.ids.length == 0)">
          <i *ngIf="button.nzIcon" nz-icon [type]="button.nzIcon"></i>
          <i *ngIf="button.faIcon" [class]="button.faIcon"></i>
          {{ ("grid." + name + ".button." + button.name)|translate }}
        </button>
      </ng-container>
    </nz-button-group>

    <!--<nz-button-group [nzSize]="'small'">-->
      <!--<button nz-button nzType="dashed" (click)="download_pdf()">-->
      <!--<i nz-icon type="file-pdf"></i> {{ "grid.pdf"|translate }}-->
      <!--</button>-->
    <!--</nz-button-group>-->
  </div>
  <nz-table
    *ngIf="fields != null"
    nzShowSizeChanger
    nzShowQuickJumper
    nzHideOnSinglePage
    [nzLoading]="loading"
    [nzFrontPagination]="false"
    [(nzPageIndex)]="page_config.page"
    [(nzPageSize)]="page_config.per_page"
    [nzTotal]="page_config.total"

    [nzScroll]="{x:'100%'}"

    [nzData]="data"
    (nzCurrentPageDataChange)="current_page_data_change($event)"
    (nzPageIndexChange)="reload_data()"
    (nzPageSizeChange)="reload_data(true)">
    <thead (nzSortChange)="update_sort($event)">
    <tr>
      <th nzShowCheckbox [(nzChecked)]="checkbox_config.all" [nzIndeterminate]="checkbox_config.indeterminate"
          (nzCheckedChange)="checkbox_all($event)"></th>
      <ng-template ngFor let-field [ngForOf]="fields" let-first="first">
        <th *ngIf="!field.hidden && field.sortable && !field.filterable" [nzShowSort]="field.sortable"
            [nzSortKey]="field.id">
          {{ ("grid." + name + "." + field.id)|translate }}
        </th>
        <th *ngIf="!field.hidden && !field.sortable && field.filterable" nzCustomFilter [ngSwitch]="field.type">
          {{ ("grid." + name + "." + field.id)|translate }}
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'id'"
                    [ngTemplateOutlet]="filterNumber"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'string'"
                    [ngTemplateOutlet]="filterString"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'number'"
                    [ngTemplateOutlet]="filterNumber"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'date'"
                    [ngTemplateOutlet]="filterDate"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'datetime'"
                    [ngTemplateOutlet]="filterDate"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'time'"
                    [ngTemplateOutlet]="filterDate"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'enum'"
                    [ngTemplateOutlet]="filterEnum"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'boolean'"
                    [ngTemplateOutlet]="filterEnum"></template>
          <strong *ngSwitchDefault>?</strong>
        </th>
        <th *ngIf="!field.hidden && field.sortable && field.filterable" [nzShowSort]="field.sortable"
            [nzSortKey]="field.id"
            nzCustomFilter [ngSwitch]="field.type">
          {{ ("grid." + name + "." + field.id)|translate }}
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'id'"
                    [ngTemplateOutlet]="filterNumber"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'string'"
                    [ngTemplateOutlet]="filterString"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'number'"
                    [ngTemplateOutlet]="filterNumber"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'date'"
                    [ngTemplateOutlet]="filterDate"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'datetime'"
                    [ngTemplateOutlet]="filterDate"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'time'"
                    [ngTemplateOutlet]="filterDate"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'enum'"
                    [ngTemplateOutlet]="filterEnum"></template>
          <template [ngTemplateOutletContext]="{ field: field, first: first }" *ngSwitchCase="'boolean'"
                    [ngTemplateOutlet]="filterEnum"></template>
          <strong *ngSwitchDefault></strong>
        </th>
        <th
          *ngIf="!field.hidden && !field.sortable && !field.filterable">{{ ("grid." + name + "." + field.id)|translate }}</th>
      </ng-template>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of data" [style.backgroundColor]="get_background_color(row)">
      <td nzShowCheckbox [(nzChecked)]="row.checked" (nzCheckedChange)="checkbox_refresh()"></td>
      <td *ngFor="let field of fields| filter: 'hidden' : false" [ngSwitch]="field.type">
        <ng-container *ngSwitchCase="'id'">
          <span style="font-size: smaller;">{{ row[field.id] }}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'enum'">
          {{ field.enum_map[row[field.id]] }}
        </ng-container>
        <ng-container *ngSwitchCase="'boolean'">
          {{ field.enum_map[row[field.id]] }}
        </ng-container>
        <ng-container *ngSwitchCase="'date'">
          {{ row[field.id]|date:'MM/dd/yyyy' }}
        </ng-container>
        <ng-container *ngSwitchCase="'time'">
          {{ row[field.id]|date:'HH:mm:ss' }}
        </ng-container>
        <ng-container *ngSwitchCase="'datetime'">
          {{ row[field.id]|date:'MM/dd/yyyy HH:mm:ss' }}
        </ng-container>
        <ng-container *ngSwitchCase="'json'">
          <template [ngTemplateOutletContext]="{ data: row[field.id] }"
                    [ngTemplateOutlet]="json_field"></template>
        </ng-container>
        <ng-container *ngSwitchCase="'icon'">
          <i [attr.class]="row[field.id]" style="font-size: 24px;"></i>
        </ng-container>
        <ng-container *ngSwitchCase="'color'">
          <i class="fas fa-circle" style="font-size: 24px;" [style.color]="row[field.id]" [title]="row[field.id]"></i>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container *ngIf="field.link">
            <ng-container [ngSwitch]="field.link">
              <a *ngSwitchCase="':edit'" href="javascript:void(0);"
                 (click)="open_edit_modal(row.id)">
                {{ row[field.id] }}
                <i *ngIf="!row[field.id]" class="fas fa-external-link-alt"></i>
              </a>
              <a *ngSwitchDefault [routerLink]="routeInfo(field.link, row.id)">
                {{ row[field.id] }}
                <i *ngIf="!row[field.id]" class="fas fa-external-link-alt"></i>
              </a>
            </ng-container>
          </ng-container>
          <span *ngIf="!field.link">{{ row[field.id] }}</span>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>

<ng-template #filterEnum let-field="field" let-first="first">
  <nz-dropdown [nzPlacement]="first ? 'bottomLeft' : 'bottomRight'" nzTrigger="click" [nzClickHide]="false">
    <i nz-icon type="filter" theme="outline" class="ant-table-filter-icon" nz-dropdown></i>
    <div class="custom-filter-dropdown">
      <div class="custom-filter-dropdown-header">
        <nz-checkbox-group [(ngModel)]="field.enum"></nz-checkbox-group>
      </div>
      <div class="ant-table-filter-dropdown-btns">
        <a class="ant-table-filter-dropdown-link confirm" (click)="update_filter(field)"><span>OK</span></a>
        <a class="ant-table-filter-dropdown-link clear" (click)="reset_filter(field)"><span>Reset</span></a>
      </div>
    </div>
  </nz-dropdown>
</ng-template>
<ng-template #filterString let-field="field" let-first="first">
  <nz-dropdown [nzPlacement]="first ? 'bottomLeft' : 'bottomRight'" nzTrigger="click" [nzClickHide]="false">
    <i nz-icon type="filter" theme="outline" class="ant-table-filter-icon" nz-dropdown></i>
    <div class="custom-filter-dropdown">
      <div class="custom-filter-dropdown-header">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Condition:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-select [nzSize]="'small'" [(ngModel)]="filter[field.id].condition">
              <nz-option [nzLabel]="'Equals'" [nzValue]="0"></nz-option>
              <nz-option [nzLabel]="'Like'" [nzValue]="1"></nz-option>
              <nz-option [nzLabel]="'Regexp'" [nzValue]="2"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Value:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <input nz-input [nzSize]="'small'" placeholder="Value" [(ngModel)]="filter[field.id].value[0]">
          </div>
        </div>
      </div>
      <div class="ant-table-filter-dropdown-btns">
        <a class="ant-table-filter-dropdown-link confirm" (click)="update_filter(field)"><span>OK</span></a>
        <a class="ant-table-filter-dropdown-link clear" (click)="reset_filter(field)"><span>Reset</span></a>
      </div>
    </div>
  </nz-dropdown>
</ng-template>
<ng-template #filterNumber let-field="field" let-first="first">
  <nz-dropdown [nzPlacement]="first ? 'bottomLeft' : 'bottomRight'" nzTrigger="click" [nzClickHide]="false">
    <i nz-icon type="filter" theme="outline" class="ant-table-filter-icon" nz-dropdown></i>
    <div class="custom-filter-dropdown">
      <div class="custom-filter-dropdown-header">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Condition:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-select [nzSize]="'small'" [(ngModel)]="filter[field.id].condition">
              <nz-option [nzLabel]="'='" [nzValue]="0"></nz-option>
              <nz-option [nzLabel]="'<'" [nzValue]="1"></nz-option>
              <nz-option [nzLabel]="'>'" [nzValue]="2"></nz-option>
              <nz-option [nzLabel]="'<='" [nzValue]="3"></nz-option>
              <nz-option [nzLabel]="'>='" [nzValue]="4"></nz-option>
              <nz-option [nzLabel]="'><'" [nzValue]="5"></nz-option>
            </nz-select>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition < 4" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Value:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-input-number [nzSize]="'small'" [(ngModel)]="filter[field.id].value[0]"></nz-input-number>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition > 3" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>From:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-input-number [nzSize]="'small'" [(ngModel)]="filter[field.id].value[0]"></nz-input-number>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition > 3" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>To:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-input-number [nzSize]="'small'" [(ngModel)]="filter[field.id].value[1]"></nz-input-number>
          </div>
        </div>
      </div>
      <div class="ant-table-filter-dropdown-btns">
        <a class="ant-table-filter-dropdown-link confirm" (click)="update_filter(field)"><span>OK</span></a>
        <a class="ant-table-filter-dropdown-link clear" (click)="reset_filter(field)"><span>Reset</span></a>
      </div>
    </div>
  </nz-dropdown>
</ng-template>
<ng-template #filterDate let-field="field" let-first="first">
  <nz-dropdown [nzPlacement]="first ? 'bottomLeft' : 'bottomRight'" nzTrigger="click" [nzClickHide]="false">
    <i nz-icon type="filter" theme="outline" class="ant-table-filter-icon" nz-dropdown></i>
    <div class="custom-filter-dropdown">
      <div class="custom-filter-dropdown-header">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Condition:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-select [nzSize]="'small'" [(ngModel)]="filter[field.id].condition">
              <nz-option [nzLabel]="'='" [nzValue]="0"></nz-option>
              <nz-option [nzLabel]="'<='" [nzValue]="1"></nz-option>
              <nz-option [nzLabel]="'>='" [nzValue]="2"></nz-option>
              <nz-option [nzLabel]="'><'" [nzValue]="3"></nz-option>
            </nz-select>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition < 3" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Value:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-date-picker [nzSize]="'small'" nzShowTime nzFormat="MM/dd/yyyy HH:mm:ss"
                            nzPlaceHolder="Select Time" [(ngModel)]="filter[field.id].value[0]"></nz-date-picker>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition > 2" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>From:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-date-picker [nzSize]="'small'" nzShowTime nzFormat="MM/dd/yyyy HH:mm:ss"
                            nzPlaceHolder="Select Time" [(ngModel)]="filter[field.id].value[0]"></nz-date-picker>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition > 2" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>To:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-date-picker [nzSize]="'small'" nzShowTime nzFormat="MM/dd/yyyy HH:mm:ss"
                            nzPlaceHolder="Select Time" [(ngModel)]="filter[field.id].value[1]"></nz-date-picker>
          </div>
        </div>
      </div>
      <div class="ant-table-filter-dropdown-btns">
        <a class="ant-table-filter-dropdown-link confirm" (click)="update_filter(field);"><span>OK</span></a>
        <a class="ant-table-filter-dropdown-link clear" (click)="reset_filter(field);"><span>Reset</span></a>
      </div>
    </div>
  </nz-dropdown>
</ng-template>

<ng-template #json_field let-data="data">
  <dl class="grid-definition-list">
    <ng-container *ngFor="let entry of data|str2json">
      <ng-container *ngFor="let item of entry|str2json|keyvalue:no_sort_order">
        <ng-container *ngIf="check_empty(item.value)">
          <dt>{{ item.key }}</dt>
          <dd *ngIf="!_.isArray(item.value)">{{ replace_known_value(item.value) }}</dd>
          <dd *ngIf="_.isArray(item.value)">
            <ng-container *ngFor="let iv of item.value">
              {{ iv }} <br/>
            </ng-container>
          </dd>
        </ng-container>
      </ng-container>
    </ng-container>
  </dl>
</ng-template>
