<ng-container *ngIf="card">
  <div class="card">
    <div class="card-header">
      {{ title }}
    </div>
    <div class="card-body">
      <template [ngTemplateOutlet]="table"></template>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!card">
  <template [ngTemplateOutlet]="table"></template>
</ng-container>
<ng-template #table>
  <app-button-bar #btnBar
    [service]="service$"
    [component]="component"
    [modal_callback]="modal_callback"
    [ids]="checkbox_config.ids"
    [single_select]="checkbox_config.ids.length === 1"
    [multi_select]="checkbox_config.ids.length > 1"
    [hidden]="fields === null"
  >
    <ng-container *ngIf="searchable">
      <nz-input-group *ngIf="fields != null" [nzSize]="'small'" nzCompact nzSearch [nzAddOnAfter]="suffixIconButton"
                      style="width: 25rem;">
        <input type="text" nz-input placeholder="Search..." [(ngModel)]="search_query" (change)="search();"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button type="button" nz-button [nzSize]="'small'" nzType="primary" nzSearch (click)="search();">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </ng-container>
  </app-button-bar>
  <nz-table
    *ngIf="fields != null && header != null && header_helper != null"
    nzShowSizeChanger
    nzShowQuickJumper
    nzHideOnSinglePage
    nzBordered
    [nzLoading]="loading"
    [nzFrontPagination]="false"
    [(nzPageIndex)]="page_config.page"
    [(nzPageSize)]="page_config.per_page"
    [nzTotal]="page_config.total"

    [nzScroll]="{x:'100%'}"
    [nzWidthConfig]="header_helper"
    [nzData]="data"
    [nzSize]="'middle'"
    (nzCurrentPageDataChange)="current_page_data_change($event)"
    (nzPageIndexChange)="reload_data()"
    (nzPageSizeChange)="reload_data(true)">
    <thead (nzSortChange)="update_sort($event)">
    <ng-container *ngFor="let hrow of header;let hrowfirst=first;">
      <tr>
        <th *ngIf="hrowfirst"
            [attr.class]="showCheckboxes()?'sc-table-th-checkbox':'sc-table-th-no-checkbox'"
            [nzShowCheckbox]="showCheckboxes()"
            [(nzChecked)]="checkbox_config.all"
            [nzIndeterminate]="checkbox_config.indeterminate"
            (nzCheckedChange)="checkbox_all($event)"
            [rowSpan]="hrow[0].row_span_max"></th>

        <ng-template ngFor let-hrfield [ngForOf]="hrow" let-first="first">
          <th *ngIf="!hrfield.field.hidden && hrfield.field.sortable && !hrfield.field.filterable"
              [nzShowSort]="hrfield.field.sortable"
              [nzSortKey]="hrfield.field.id" [attr.colSpan]="hrfield.colspan" [rowSpan]="hrfield.rowspan">
            {{ ("grid." + name + "." + hrfield.field.id)|translate }}
          </th>

          <th *ngIf="!hrfield.field.hidden && !hrfield.field.sortable && hrfield.field.filterable" nzCustomFilter
              [ngSwitch]="hrfield.field.type" [attr.colSpan]="hrfield.colspan" [rowSpan]="hrfield.rowspan">
            {{ ("grid." + name + "." + hrfield.field.id)|translate }}
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'id'"
                      [ngTemplateOutlet]="filterNumber"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'string'"
                      [ngTemplateOutlet]="filterString"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'number'"
                      [ngTemplateOutlet]="filterNumber"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'date'"
                      [ngTemplateOutlet]="filterDate"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'datetime'"
                      [ngTemplateOutlet]="filterDate"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'time'"
                      [ngTemplateOutlet]="filterDate"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'enum'"
                      [ngTemplateOutlet]="filterEnum"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'boolean'"
                      [ngTemplateOutlet]="filterEnum"></template>
            <strong *ngSwitchDefault></strong>
          </th>
          <th *ngIf="!hrfield.field.hidden && hrfield.field.sortable && hrfield.field.filterable"
              [nzShowSort]="hrfield.field.sortable"
              [nzSortKey]="hrfield.field.id"
              nzCustomFilter [ngSwitch]="hrfield.field.type" [attr.colSpan]="hrfield.colspan" [rowSpan]="hrfield.rowspan">
            {{ ("grid." + name + "." + hrfield.field.id)|translate }}
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'id'"
                      [ngTemplateOutlet]="filterNumber"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'string'"
                      [ngTemplateOutlet]="filterString"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'number'"
                      [ngTemplateOutlet]="filterNumber"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'date'"
                      [ngTemplateOutlet]="filterDate"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'datetime'"
                      [ngTemplateOutlet]="filterDate"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'time'"
                      [ngTemplateOutlet]="filterDate"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'enum'"
                      [ngTemplateOutlet]="filterEnum"></template>
            <template [ngTemplateOutletContext]="{ field: hrfield.field, first: first }" *ngSwitchCase="'boolean'"
                      [ngTemplateOutlet]="filterEnum"></template>
            <strong *ngSwitchDefault></strong>
          </th>
          <th
            *ngIf="!hrfield.field.hidden && !hrfield.field.sortable && !hrfield.field.filterable"
            [attr.colSpan]="hrfield.colspan" [rowSpan]="hrfield.rowspan">{{ ("grid." + name + "." + hrfield.field.id)|translate }}</th>
        </ng-template>
      </tr>
    </ng-container>
    </thead>
    <tbody>
    <tr *ngFor="let row of data" [style.backgroundColor]="get_background_color(row)">
      <td [nzShowCheckbox]="showCheckboxes()" [(nzChecked)]="row.checked"
          (nzCheckedChange)="checkbox_refresh()"></td>
      <td *ngFor="let field of fields| filter: 'hidden' : false" [ngSwitch]="field.type">
        <ng-container *ngSwitchCase="'id'">
          <span style="font-size: smaller;">{{ row[field.id] }}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'enum'">
          {{ field.enum_map[row[field.id]] }}
        </ng-container>
        <ng-container *ngSwitchCase="'boolean'">
          {{ field.enum_map[row[field.id]] }}
        </ng-container>
        <ng-container *ngSwitchCase="'cron'">
          {{ row[field.id]|cron }}
        </ng-container>
        <ng-container *ngSwitchCase="'date'">
          {{ row[field.id]|date:'MM/dd/yyyy':'UTC' }}
        </ng-container>
        <ng-container *ngSwitchCase="'time'">
          {{ row[field.id]|date:'HH:mm:ss' }}
        </ng-container>
        <ng-container *ngSwitchCase="'datetime'">
          {{ row[field.id]|date:'MM/dd/yyyy HH:mm:ss' }}
        </ng-container>
        <ng-container *ngSwitchCase="'json'">
          <template [ngTemplateOutletContext]="{ data: row[field.id] }"
                    [ngTemplateOutlet]="json_field"></template>
        </ng-container>
        <ng-container *ngSwitchCase="'icon'">
          <i [attr.class]="row[field.id]" style="font-size: 24px;"></i>
        </ng-container>
        <ng-container *ngSwitchCase="'color'">
          <i class="fas fa-circle" style="font-size: 24px;" [style.color]="row[field.id]" [title]="row[field.id]"></i>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container *ngIf="field.link">
            <ng-container [ngSwitch]="field.link">
              <ng-container *ngSwitchCase="':edit'">
                <a href="javascript:void(0);" (click)="open_edit_modal(row.id)">
                  {{ row[field.id] }}
                  <i *ngIf="!row[field.id]" class="fas fa-external-link-alt"></i>
                </a>
              </ng-container>
              <ng-container *ngIf="routeInfo(field.link, row) !== null">
                <a *ngSwitchDefault [routerLink]="routeInfo(field.link, row)">
                  {{ row[field.id] }}
                  <i *ngIf="!row[field.id]" class="fas fa-external-link-alt"></i>
                </a>
              </ng-container>
            </ng-container>
          </ng-container>
          <span *ngIf="!field.link">{{ row[field.id] }}</span>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>

<ng-template #filterEnum let-field="field" let-first="first">
  <nz-dropdown [nzPlacement]="first ? 'bottomLeft' : 'bottomRight'" nzTrigger="click" [nzClickHide]="false">
    <i nz-icon nzType="filter" theme="outline" class="ant-table-filter-icon" nz-dropdown></i>
    <div class="custom-filter-dropdown">
      <div class="custom-filter-dropdown-header">
        <nz-checkbox-group [(ngModel)]="field.enum"></nz-checkbox-group>
      </div>
      <div class="ant-table-filter-dropdown-btns">
        <a class="ant-table-filter-dropdown-link confirm" (click)="update_filter(field)"><span>OK</span></a>
        <a class="ant-table-filter-dropdown-link clear" (click)="reset_filter(field)"><span>Reset</span></a>
      </div>
    </div>
  </nz-dropdown>
</ng-template>
<ng-template #filterString let-field="field" let-first="first">
  <nz-dropdown [nzPlacement]="first ? 'bottomLeft' : 'bottomRight'" nzTrigger="click" [nzClickHide]="false">
    <i nz-icon nzType="filter" theme="outline" class="ant-table-filter-icon" nz-dropdown></i>
    <div class="custom-filter-dropdown">
      <div class="custom-filter-dropdown-header">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Condition:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-select [nzSize]="'small'" [(ngModel)]="filter[field.id].condition">
              <nz-option [nzLabel]="'Equals'" [nzValue]="0"></nz-option>
              <nz-option [nzLabel]="'Like'" [nzValue]="1"></nz-option>
              <nz-option [nzLabel]="'Regexp'" [nzValue]="2"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Value:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <input nz-input [nzSize]="'small'" placeholder="Value" [(ngModel)]="filter[field.id].value[0]">
          </div>
        </div>
      </div>
      <div class="ant-table-filter-dropdown-btns">
        <a class="ant-table-filter-dropdown-link confirm" (click)="update_filter(field)"><span>OK</span></a>
        <a class="ant-table-filter-dropdown-link clear" (click)="reset_filter(field)"><span>Reset</span></a>
      </div>
    </div>
  </nz-dropdown>
</ng-template>
<ng-template #filterNumber let-field="field" let-first="first">
  <nz-dropdown [nzPlacement]="first ? 'bottomLeft' : 'bottomRight'" nzTrigger="click" [nzClickHide]="false">
    <i nz-icon nzType="filter" theme="outline" class="ant-table-filter-icon" nz-dropdown></i>
    <div class="custom-filter-dropdown">
      <div class="custom-filter-dropdown-header">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Condition:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-select [nzSize]="'small'" [(ngModel)]="filter[field.id].condition">
              <nz-option [nzLabel]="'='" [nzValue]="0"></nz-option>
              <nz-option [nzLabel]="'<'" [nzValue]="1"></nz-option>
              <nz-option [nzLabel]="'>'" [nzValue]="2"></nz-option>
              <nz-option [nzLabel]="'<='" [nzValue]="3"></nz-option>
              <nz-option [nzLabel]="'>='" [nzValue]="4"></nz-option>
              <nz-option [nzLabel]="'><'" [nzValue]="5"></nz-option>
            </nz-select>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition < 4" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Value:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-input-number [nzSize]="'small'" [(ngModel)]="filter[field.id].value[0]"></nz-input-number>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition > 3" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>From:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-input-number [nzSize]="'small'" [(ngModel)]="filter[field.id].value[0]"></nz-input-number>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition > 3" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>To:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-input-number [nzSize]="'small'" [(ngModel)]="filter[field.id].value[1]"></nz-input-number>
          </div>
        </div>
      </div>
      <div class="ant-table-filter-dropdown-btns">
        <a class="ant-table-filter-dropdown-link confirm" (click)="update_filter(field)"><span>OK</span></a>
        <a class="ant-table-filter-dropdown-link clear" (click)="reset_filter(field)"><span>Reset</span></a>
      </div>
    </div>
  </nz-dropdown>
</ng-template>
<ng-template #filterDate let-field="field" let-first="first">
  <nz-dropdown [nzPlacement]="first ? 'bottomLeft' : 'bottomRight'" nzTrigger="click" [nzClickHide]="false">
    <i nz-icon nzType="filter" theme="outline" class="ant-table-filter-icon" nz-dropdown></i>
    <div class="custom-filter-dropdown">
      <div class="custom-filter-dropdown-header">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Condition:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-select [nzSize]="'small'" [(ngModel)]="filter[field.id].condition">
              <nz-option [nzLabel]="'='" [nzValue]="0"></nz-option>
              <nz-option [nzLabel]="'<='" [nzValue]="1"></nz-option>
              <nz-option [nzLabel]="'>='" [nzValue]="2"></nz-option>
              <nz-option [nzLabel]="'><'" [nzValue]="3"></nz-option>
            </nz-select>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition < 3" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>Value:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-date-picker [nzSize]="'small'" nzShowTime nzFormat="MM/dd/yyyy HH:mm:ss"
                            nzPlaceHolder="Select Time" [(ngModel)]="filter[field.id].value[0]"></nz-date-picker>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition > 2" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>From:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-date-picker [nzSize]="'small'" nzShowTime nzFormat="MM/dd/yyyy HH:mm:ss"
                            nzPlaceHolder="Select Time" [(ngModel)]="filter[field.id].value[0]"></nz-date-picker>
          </div>
        </div>
        <div *ngIf="filter[field.id].condition > 2" nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <label>To:</label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-date-picker [nzSize]="'small'" nzShowTime nzFormat="MM/dd/yyyy HH:mm:ss"
                            nzPlaceHolder="Select Time" [(ngModel)]="filter[field.id].value[1]"></nz-date-picker>
          </div>
        </div>
      </div>
      <div class="ant-table-filter-dropdown-btns">
        <a class="ant-table-filter-dropdown-link confirm" (click)="update_filter(field);"><span>OK</span></a>
        <a class="ant-table-filter-dropdown-link clear" (click)="reset_filter(field);"><span>Reset</span></a>
      </div>
    </div>
  </nz-dropdown>
</ng-template>

<ng-template #json_field let-data="data">
  <table style="width: 100%;">
    <ng-container *ngFor="let entry of data|str2json">
      <ng-container *ngFor="let item of entry|str2json|keyvalue:no_sort_order">
        <tr *ngIf="check_empty(item.value)">
          <th width="50%" class="text-right" style="padding-right: 0.5rem;">{{ item.key }}:</th>
          <td width="50%" *ngIf="!_.isArray(item.value)">{{ replace_known_value(item.value) }}</td>
          <td width="50%" *ngIf="_.isArray(item.value)">
            <ng-container *ngFor="let iv of item.value">
              {{ iv }} <br/>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </table>
</ng-template>
