<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <button style="margin-top: 0.1rem;" nz-button nzType="default" [disabled]="show('previous')"
              (click)="getPreviousMonth()"><i nz-icon nzType="arrow-left" nzTheme="outline"></i> Previous
      </button>
      {{ facilityName }} Room Summary ({{ currentDate|date:'MMM-yy' }})
      <button style="margin-top: 0.1rem;" nz-button nzType="default" [disabled]="show('next')" (click)="getNextMonth()">
        Next <i nz-icon nzType="arrow-right" nzTheme="outline"></i></button>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <nz-empty *ngIf="!dashboardData || dashboardData.length === 0" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
      <div *ngIf="dashboardData && dashboardData.length > 0" class="table-responsive">
        <table class="table table-sm table-bordered">
          <thead>
          <tr>
            <th class="text-center">Facility</th>
            <th class="text-center">Room Type</th>
            <th class="text-center">Private</th>
            <th class="text-center">Rooms Count</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of dashboardData">
            <tr>
              <td>{{ item.facility ? item.facility.name : '-' }}</td>
              <td>{{ item.title }}</td>
              <td class="text-right">{{ item.private ? 'Yes' : 'No' }}</td>
              <td class="text-right">{{ item.count_rooms }}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
