<div class="d-flex justify-content-between" style="margin-top: 1rem;margin-bottom: 1rem;">
  <div>
    <nz-switch nzCheckedChildren="Show Resident Events" nzUnCheckedChildren="Hide Resident Events"
               [ngModel]="show_resident" (ngModelChange)="type_change($event)"></nz-switch>
  </div>
  <div>
    <nz-form-label>Filter By Type</nz-form-label>
    <nz-select class="card-header-action" style="width: 250px;font-weight: normal;"
               nzShowSearch [nzAllowClear]="true" nzMode="multiple" nzPlaceHolder="Please select"
               [(ngModel)]="definition_id" (ngModelChange)="type_change($event)"
    >
      <ng-container *ngFor="let definition of event_definitions">
        <nz-option [nzLabel]="definition.title" [nzValue]="definition.id"></nz-option>
      </ng-container>
    </nz-select>
  </div>
</div>
<full-calendar
  [customButtons]="calendarCustomButtons"
  [displayEventTime]="true"
  [eventTimeFormat]="calendarTimeFormat"
  [header]="calendarHeader"
  [plugins]="calendarPlugins"
  [events]="calendarEvents"
  (eventClick)="eventMouseEnter($event)"
></full-calendar>
<div class="d-flex justify-content-between" style="margin-top: 1rem;">
  <div><span class="fc-event-dot" style="background-color:#1e75d7"></span> - Facility Event</div>
  <div><span class="fc-event-dot" style="background-color:#5d99d7"></span> - Facility Event (without RSVP)</div>
  <div><span class="fc-event-dot" style="background-color:#d7255d"></span> - Resident Event</div>
  <!--  <div><span class="fc-event-dot" style="background-color:#fac22b"></span> - Admission</div>-->
  <div><span class="fc-event-dot" style="background-color:#009da1"></span> - Rent</div>
  <div><span class="fc-event-dot" style="background-color:#603e95"></span> - Rent Increase</div>
</div>
