<full-calendar
  [customButtons]="calendarCustomButtons"
  [displayEventTime]="false"
  [header]="calendarHeader"
  [plugins]="calendarPlugins"
  [events]="calendarEvents"
  (eventClick)="eventMouseEnter($event)"
></full-calendar>
<!--  [eventTimeFormat]="calendarTimeFormat"-->
<div class="d-flex justify-content-between" style="margin-top: 1rem;">
  <div><span class="fc-event-dot" style="background-color:#1e75d7"></span> - Facility Event</div>
  <div><span class="fc-event-dot" style="background-color:#5d99d7"></span> - Facility Event (without RSVP)</div>
  <div><span class="fc-event-dot" style="background-color:#d7255d"></span> - Resident Event</div>
  <!--  <div><span class="fc-event-dot" style="background-color:#fac22b"></span> - Admission</div>-->
  <div><span class="fc-event-dot" style="background-color:#009da1"></span> - Rent</div>
  <div><span class="fc-event-dot" style="background-color:#603e95"></span> - Rent Increase</div>
</div>
