<h4>{{ 'form.admin.notification._title'|translate }}</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="enabled">{{ 'form.admin.notification.enabled'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <nz-switch formControlName="enabled"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('enabled')">
        <app-field-errors [errors]="fieldErrors('enabled')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type_id" nzRequired>{{ 'form.admin.notification.type'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzValidateStatus]="hasErrors('type_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" formControlName="type_id">
        <ng-container *ngFor="let notification_type of notification_types">
          <nz-option [nzLabel]="notification_type.title" [nzValue]="notification_type.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('type_id')">
        <app-field-errors [errors]="fieldErrors('type_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="users" nzRequired>{{ 'form.admin.notification.users'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzValidateStatus]="hasErrors('users')?'error':null">
      <nz-select nzShowSearch nzMode="multiple" nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" formControlName="users">
        <ng-container *ngFor="let user of users">
          <nz-option [nzLabel]="user|resident" [nzValue]="user.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('users')">
        <app-field-errors [errors]="fieldErrors('users')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="emails">{{ 'form.admin.notification.emails'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzValidateStatus]="hasErrors('emails')?'error':null">
      <sc-select scShowSearch scMode="tags" [scTokenSeparators]="[' ', ',']" scPlaceHolder="{{ 'form.select_placeholder'|translate }}" formControlName="emails">
      </sc-select>
      <nz-form-explain *ngIf="hasErrors('emails')">
        <app-field-errors [errors]="fieldErrors('emails')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('facilities').enabled">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="facilities" nzRequired>{{ 'form.admin.notification.facilities'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzValidateStatus]="hasErrors('facilities')?'error':null"
                     class="sc-select-all">
      <nz-select *ngIf="show_facilities" nzShowSearch nzMode="multiple" nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" formControlName="facilities">
        <ng-container *ngFor="let facility of facilities">
          <nz-option [nzLabel]="facility.name" [nzValue]="facility.id"></nz-option>
        </ng-container>
      </nz-select>
      <label nz-checkbox formControlName="facilities_all">All</label>
      <nz-form-explain *ngIf="hasErrors('facilities')">
        <app-field-errors [errors]="fieldErrors('facilities')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('regions').enabled">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="regions" nzRequired>{{ 'form.admin.notification.regions'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzValidateStatus]="hasErrors('regions')?'error':null">
      <nz-select nzShowSearch nzMode="multiple" nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" formControlName="regions">
        <ng-container *ngFor="let region of regions">
          <nz-option [nzLabel]="region.name" [nzValue]="region.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('regions')">
        <app-field-errors [errors]="fieldErrors('regions')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('apartments').enabled">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="apartments" nzRequired>{{ 'form.admin.notification.apartments'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzValidateStatus]="hasErrors('apartments')?'error':null">
      <nz-select nzShowSearch nzMode="multiple" nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" formControlName="apartments">
        <ng-container *ngFor="let apartment of apartments">
          <nz-option [nzLabel]="apartment.name" [nzValue]="apartment.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('apartments')">
        <app-field-errors [errors]="fieldErrors('apartments')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="schedule" nzRequired>{{ 'form.admin.notification.schedule'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzValidateStatus]="hasErrors('schedule')?'error':null">
      <cron-jobs [formControl]="form.get('schedule')"></cron-jobs>
      <nz-form-explain *ngIf="hasErrors('schedule')">
        <app-field-errors [errors]="fieldErrors('schedule')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
