<form nz-form [formGroup]="form">
  <nz-tabset [nzSelectedIndex]="selectedTab">
    <nz-tab nzTitle="Personal Information">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="salutation_id" nzRequired>Salutation</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('salutation_id')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="salutation_id">
            <ng-container *ngFor="let salutation of salutations">
              <nz-option [nzLabel]="salutation.title" [nzValue]="salutation.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('salutation_id')">
            <app-field-errors [errors]="fieldErrors('salutation_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="first_name" nzRequired>First Name</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('first_name')?'error':null">
          <input nz-input placeholder="First Name" formControlName="first_name">
          <nz-form-explain *ngIf="hasErrors('first_name')">
            <app-field-errors [errors]="fieldErrors('first_name')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="middle_name">Middle Name</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('middle_name')?'error':null">
          <input nz-input placeholder="Middle Name" formControlName="middle_name">
          <nz-form-explain *ngIf="hasErrors('middle_name')">
            <app-field-errors [errors]="fieldErrors('middle_name')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="last_name" nzRequired>Last Name</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('last_name')?'error':null">
          <input nz-input placeholder="Last Name" formControlName="last_name">
          <nz-form-explain *ngIf="hasErrors('last_name')">
            <app-field-errors [errors]="fieldErrors('last_name')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="birthday" nzRequired>Birthday</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('birthday')?'error':null">
          <nz-date-picker formControlName="birthday"></nz-date-picker>
          <nz-form-explain *ngIf="hasErrors('birthday')">
            <app-field-errors [errors]="fieldErrors('birthday')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="gender" nzRequired>Gender</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('gender')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="gender">
            <ng-container *ngFor="let gender of genders">
              <nz-option [nzLabel]="(gender.name)|translate" [nzValue]="gender.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('gender')">
            <app-field-errors [errors]="fieldErrors('gender')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!--Photo-->
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="photo" nzRequired>Photo</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('photo')?'error':null">
          <input type="file" #photo_file (change)="onFileChange($event)"
                 accept="image/*" style="display: none;">
          <button nz-button (click)="select_file();">
            <i nz-icon type="upload"></i><span>Select file...</span>
          </button>
          <nz-form-explain *ngIf="hasErrors('photo')">
            <app-field-errors [errors]="fieldErrors('photo')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>



      <fieldset formArrayName="phones">
        <legend class="senior-care-legend">
          Phone Number(s)
          <button [style.float]="'right'" nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="add_field('phones');">
            <i nz-icon type="plus"></i>
          </button>
        </legend>
        <table class="senior-care-form-table table table-hover table-bordered table-sm"
               *ngIf="get_form_array('phones').controls.length > 0">
          <thead>
          <tr>
            <th class="w-25 text-center">
              <nz-form-label>Primary</nz-form-label>
            </th>
            <th class="w-25">
              <nz-form-label nzRequired>Type</nz-form-label>
            </th>
            <th class="w-50">
              <nz-form-label nzRequired>Number</nz-form-label>
            </th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let phone of get_form_array('phones').controls;let i = index">
            <tr [formGroupName]="i">
              <td class="text-center">
                <nz-switch nzSize="small" formControlName="primary"></nz-switch>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('phones.'+i+'.type')?'error':null">
                    <nz-select nzSize="small" nzMode="default" nzPlaceHolder="Select Type" formControlName="type">
                      <ng-container *ngFor="let type of phone_types">
                        <nz-option [nzLabel]="(type.name)|translate" [nzValue]="type.id"></nz-option>
                      </ng-container>
                    </nz-select>
                    <nz-form-explain *ngIf="hasErrors('phones.'+i+'.type')">
                      <app-field-errors [errors]="fieldErrors('phones.'+i+'.type')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('phones.'+i+'.number')?'error':null">
                    <input nz-input nzSize="small" placeholder="Number" formControlName="number">
                    <nz-form-explain *ngIf="hasErrors('phones.'+i+'.number')">
                      <app-field-errors [errors]="fieldErrors('phones.'+i+'.number')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td class="text-center">
                <button nz-button nzType="danger" nzSize="small" nzShape="circle" (click)="remove_field('phones', i);">
                  <i nz-icon type="minus"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </fieldset>
      <!--Phone-->
    </nz-tab>
    <nz-tab *ngIf="type == ResidentType.FACILITY" formGroupName="option" nzTitle="Facility Information">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date_admitted" nzRequired>Date admitted</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date_admitted')?'error':null">
          <nz-date-picker formControlName="date_admitted"></nz-date-picker>
          <nz-form-explain *ngIf="hasErrors('date_admitted')">
            <app-field-errors [errors]="fieldErrors('date_admitted')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="state" nzRequired>State</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('state')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="state">
            <ng-container *ngFor="let state of states">
              <nz-option [nzLabel]="(state.name)|translate" [nzValue]="state.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('state')">
            <app-field-errors [errors]="fieldErrors('state')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_group" nzRequired>Care Group</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_group')?'error':null">
          <input nz-input placeholder="Care Group" formControlName="care_group">
          <nz-form-explain *ngIf="hasErrors('care_group')">
            <app-field-errors [errors]="fieldErrors('care_group')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_level_id" nzRequired>Care Level</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_level_id')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="care_level_id">
            <ng-container *ngFor="let care_level of care_levels">
              <nz-option [nzLabel]="care_level.title" [nzValue]="care_level.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('care_level_id')">
            <app-field-errors [errors]="fieldErrors('care_level_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="ambulatory" nzRequired>Ambulatory</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="ambulatory"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('ambulatory')">
            <app-field-errors [errors]="fieldErrors('ambulatory')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="dnr" nzRequired>DNR</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="dnr"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('dnr')">
            <app-field-errors [errors]="fieldErrors('dnr')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="polst" nzRequired>POLST</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="polst"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('polst')">
            <app-field-errors [errors]="fieldErrors('polst')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="room_id" nzRequired>Room</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('room_id')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="room_id">
            <ng-container *ngFor="let room of facility_rooms">
              <nz-option [nzLabel]="room.number" [nzValue]="room.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('room_id')">
            <app-field-errors [errors]="fieldErrors('room_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="dining_room_id" nzRequired>Dinning Room</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('dining_room_id')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="dining_room_id">
            <ng-container *ngFor="let dining_room of dining_rooms">
              <nz-option [nzLabel]="dining_room.title" [nzValue]="dining_room.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('dining_room_id')">
            <app-field-errors [errors]="fieldErrors('dining_room_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab *ngIf="type == ResidentType.APARTMENT" formGroupName="option" nzTitle="Apartment Information">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date_admitted" nzRequired>Date admitted</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date_admitted')?'error':null">
          <nz-date-picker formControlName="date_admitted"></nz-date-picker>
          <nz-form-explain *ngIf="hasErrors('date_admitted')">
            <app-field-errors [errors]="fieldErrors('date_admitted')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="state" nzRequired>State</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('state')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="state">
            <ng-container *ngFor="let state of states">
              <nz-option [nzLabel]="(state.name)|translate" [nzValue]="state.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('state')">
            <app-field-errors [errors]="fieldErrors('state')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="room_id" nzRequired>Room</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('room_id')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="room_id">
            <ng-container *ngFor="let room of apartment_rooms">
              <nz-option [nzLabel]="room.number" [nzValue]="room.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('room_id')">
            <app-field-errors [errors]="fieldErrors('room_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab *ngIf="type == ResidentType.REGION" formGroupName="option" nzTitle="IHC Region Information">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date_admitted" nzRequired>Date admitted</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date_admitted')?'error':null">
          <nz-date-picker formControlName="date_admitted"></nz-date-picker>
          <nz-form-explain *ngIf="hasErrors('date_admitted')">
            <app-field-errors [errors]="fieldErrors('date_admitted')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="state" nzRequired>State</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('state')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="state">
            <ng-container *ngFor="let state of states">
              <nz-option [nzLabel]="(state.name)|translate" [nzValue]="state.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('state')">
            <app-field-errors [errors]="fieldErrors('state')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_group" nzRequired>Care Group</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_group')?'error':null">
          <input nz-input placeholder="Care Group" formControlName="care_group">
          <nz-form-explain *ngIf="hasErrors('care_group')">
            <app-field-errors [errors]="fieldErrors('care_group')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_level_id" nzRequired>Care Level</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_level_id')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="care_level_id">
            <ng-container *ngFor="let care_level of care_levels">
              <nz-option [nzLabel]="care_level.title" [nzValue]="care_level.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('care_level_id')">
            <app-field-errors [errors]="fieldErrors('care_level_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="ambulatory" nzRequired>Ambulatory</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="ambulatory"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('ambulatory')">
            <app-field-errors [errors]="fieldErrors('ambulatory')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="dnr" nzRequired>DNR</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="dnr"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('dnr')">
            <app-field-errors [errors]="fieldErrors('dnr')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="polst" nzRequired>POLST</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="polst"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('polst')">
            <app-field-errors [errors]="fieldErrors('polst')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- region -->

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="csz_id" nzRequired>CSZ</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('csz_id')?'error':null">
          <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="csz_id">
            <ng-container *ngFor="let city_state_zip of city_state_zips">
              <nz-option [nzLabel]="city_state_zip|csz" [nzValue]="city_state_zip.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('csz_id')">
            <app-field-errors [errors]="fieldErrors('csz_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="street_address" nzRequired>Street Address</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('street_address')?'error':null">
          <input nz-input placeholder="Street Address" formControlName="street_address">
          <nz-form-explain *ngIf="hasErrors('street_address')">
            <app-field-errors [errors]="fieldErrors('street_address')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="space_id" nzRequired>Space</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('space_id')?'error':null">
      <nz-select nzMode="default" nzPlaceHolder="Please select" formControlName="space_id">
        <ng-container *ngFor="let space of spaces">
          <nz-option [nzLabel]="space.name" [nzValue]="space.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('space_id')">
        <app-field-errors [errors]="fieldErrors('space_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
