<h4>{{ 'form.admin.role._title'|translate }}</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="name" nzRequired>{{ 'form.admin.role.name'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('name')?'error':null">
      <input nz-input placeholder="{{ 'form.admin.role.name'|translate }}" formControlName="name">
      <nz-form-explain *ngIf="hasErrors('name')">
        <app-field-errors [errors]="fieldErrors('name')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="default">
      {{ 'form.admin.role.default'|translate }}
      <i class="far fa-question-circle" nz-tooltip nzTitle="{{ 'form.admin.role.default_hint'|translate }}"></i>
    </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="default"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('default')">
        <app-field-errors [errors]="fieldErrors('default')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-table #nzTable [nzData]="form.get('grants').value" nzSize="small" nzShowPagination="false" class="grant-table">
  <thead>
  <tr>
    <th nzWidth="60%">{{ 'form.admin.role.grant_title'|translate }}</th>
    <th nzWidth="20%">{{ 'form.admin.role.grant_level'|translate }}</th>
    <th nzWidth="20%">{{ 'form.admin.role.grant_identity'|translate }}</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-data [ngForOf]="nzTable.data">
    <ng-template ngFor let-item [ngForOf]="expandDataCache[data.key]">
      <tr *ngIf="(item.tree_parent&&item.tree_parent.tree_expand)||!(item.tree_parent)">
        <td [nzIndentSize]="item.tree_level*20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.tree_expand"
            (nzExpandChange)="collapse(expandDataCache[data.key],item,$event)"
            [attr.colspan]="!item.hasOwnProperty('level') && !item.hasOwnProperty('identity') ? 3 : (item.hasOwnProperty('level') && !item.hasOwnProperty('identity') ? 2  : null)"
        >
          <nz-switch nzSize="small" *ngIf="item.hasOwnProperty('enabled') && item.enabled !== null"
                     [(ngModel)]="item.enabled"></nz-switch>&nbsp;
          <span style="font-size: smaller">{{item.title}}</span>
        </td>
        <td>
          <nz-select nzSize="small" *ngIf="item.hasOwnProperty('level') && item.level !== null"
                     nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" [(ngModel)]="item.level">
            <nz-option nzLabel="{{ 'list.grant_level.NONE'|translate }}" [nzValue]="0"></nz-option>
            <nz-option nzLabel="{{ 'list.grant_level.VIEW'|translate }}" [nzValue]="1"></nz-option>
            <nz-option nzLabel="{{ 'list.grant_level.EDIT'|translate }}" [nzValue]="2"></nz-option>
            <nz-option nzLabel="{{ 'list.grant_level.CREATE'|translate }}" [nzValue]="3"></nz-option>
            <nz-option nzLabel="{{ 'list.grant_level.DELETE'|translate }}" [nzValue]="4"></nz-option>
            <nz-option nzLabel="{{ 'list.grant_level.UNDELETE'|translate }}" [nzValue]="5"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select nzSize="small" *ngIf="item.hasOwnProperty('identity') && item.identity !== null"
                     nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" [(ngModel)]="item.identity">
            <nz-option nzLabel="{{ 'list.grant_identity.ALL'|translate }}" [nzValue]="0"></nz-option>
            <nz-option nzLabel="{{ 'list.grant_identity.SEVERAL'|translate }}" [nzValue]="1"></nz-option>
            <nz-option nzLabel="{{ 'list.grant_identity.OWN'|translate }}" [nzValue]="2"></nz-option>
          </nz-select>
        </td>
      </tr>
    </ng-template>
  </ng-template>
  </tbody>
</nz-table>
<nz-form-item *ngIf="formErrors()">
  <nz-form-control [nzSm]="24" [nzXs]="24">
    <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
  </nz-form-control>
</nz-form-item>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
