<div class="card">
  <div class="card-header">
    <ng-container *ngIf="!resident">
      Resident
    </ng-container>
    <ng-container *ngIf="resident">
      {{ resident|resident }}
    </ng-container>
  </div>
  <div class="card-body">
    <nz-empty *ngIf="!resident" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
    <div *ngIf="resident">
      <div nz-row>
        <div nz-col [nzSpan]="24">
          <div class="text-center m-0">
            <div class="resident-photo">
              <img *ngIf="!resident.image || !resident.image.photo" src="/assets/img/person_placeholder.png" class="img-thumbnail"
                   style="max-height: 25rem"
                   alt="{{ resident|resident }}" title="{{ resident|resident }}"/>
              <img *ngIf="resident.image && resident.image.photo" src="{{ resident.image.photo }}" class="img-thumbnail"
                   style="min-height: 20rem;max-height: 25rem"
                   alt="{{ resident|resident }}" title="{{ resident|resident }}"/>
              <div *ngIf="resident.image && resident.image.photo" class="edit">
                <button nz-button nzType="primary" (click)="show_modal_image_editor();"><i
                  class="fas fa-pencil-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="4">
        &nbsp;
      </div>

      <div nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="8" class="text-right"><strong>Birthday:</strong></div>
        <div nz-col [nzSpan]="16">{{ resident.birthday|date }}
          ({{ today | amDifference: resident.birthday :'years' : false }} years)
        </div>
      </div>

      <div nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="8" class="text-right"><strong>Gender:</strong></div>
        <div nz-col [nzSpan]="16">{{ resident.gender|gender }}</div>
      </div>

      <div *ngIf="resident.phones && resident.phones.length > 0" nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="24"><strong>Phone Numbers:</strong></div>
        <div nz-col [nzOffset]="4" [nzSpan]="20">
          <div nz-row [nzGutter]="4" *ngFor="let phone of resident.phones">
            <div nz-col [nzSpan]="6" class="text-right"><strong>{{ phone.type|phone_type }}:</strong></div>
            <div nz-col [nzSpan]="12">
              <a href="tel:{{ phone.number| mask: '(000) 000-0000' }}">{{ phone.number| mask: '(000) 000-0000' }}</a>
              <ng-container *ngIf="phone.extension">, ext. {{ phone.extension }}</ng-container>
            </div>
            <div *ngIf="phone.primary" nz-col [nzSpan]="2">
              <i class="fas fa-key" title="Primary"></i>
            </div>
            <div *ngIf="phone.sms_enabled" nz-col [nzSpan]="2">
              <i class="fas fa-sms" title="SMS Enabled"></i>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="!admission">
        <nz-divider nzText="Reports"></nz-divider>
        <p style="margin:0;text-indent: 1rem;">
          <a [routerLink]="" (click)="show_report('resident', 'profile-no-admission');">
            <i class="fas fa-file-download"></i> Profile
          </a>
        </p>
        <p style="margin:0;text-indent: 1rem;">
          <a [routerLink]="" (click)="show_report('resident', 'profile-no-admission', {discontinued: true});">
            <i class="fas fa-file-download"></i> Profile (with discontinued medications)
          </a>
        </p>
        <p style="margin:0;text-indent: 1rem;">
          <a [routerLink]="" (click)="show_report('resident', 'face-sheet-no-admission');">
            <i class="fas fa-file-download"></i> FACE Sheet
          </a>
        </p>
        <p style="margin:0;text-indent: 1rem;">
          <a [routerLink]="" (click)="show_report('form', 'medication-chart-no-admission');">
            <i class="fas fa-file-download"></i> MAR Chart
          </a>
        </p>
        <p style="margin:0;text-indent: 1rem;">
          <a [routerLink]="" (click)="show_report('form', 'medication-list-resident-no-admission');">
            <i class="fas fa-file-download"></i> Medication List
          </a>
        </p>
        <p style="margin:0;text-indent: 1rem;">
          <a [routerLink]=""
             (click)="show_report('form', 'medication-list-resident-no-admission', {discontinued: true});">
            <i class="fas fa-file-download"></i> Medication List (with discontinued medications)
          </a>
        </p>
      </ng-container>

      <ng-container *ngIf="admission" [ngSwitch]="admission.group_type">
        <div nz-row [nzGutter]="4">
          <div nz-col [nzSpan]="8" class="text-right"><strong>Effective Date:</strong></div>
          <div nz-col [nzSpan]="16">{{ admission.date|date }}</div>
        </div>

        <div nz-row [nzGutter]="4">
          <div nz-col [nzSpan]="8" class="text-right"><strong>Admission Type:</strong></div>
          <div nz-col [nzSpan]="16">{{ admission.admission_type|admission_type }}</div>
        </div>

        <ng-container [ngSwitch]="admission.group_type">
          <template *ngSwitchCase="GroupType.FACILITY"
                    [ngTemplateOutletContext]="{ option: admission }" [ngTemplateOutlet]="tplFacility">
          </template>
          <template *ngSwitchCase="GroupType.APARTMENT"
                    [ngTemplateOutletContext]="{ option: admission }" [ngTemplateOutlet]="tplApartment">
          </template>
          <template *ngSwitchCase="GroupType.REGION"
                    [ngTemplateOutletContext]="{ option: admission }" [ngTemplateOutlet]="tplRegion">
          </template>
        </ng-container>
      </ng-container>

      <nz-divider></nz-divider>

      <div class="d-flex">
        <nz-button-group [nzSize]="'small'" class="ml-auto">
          <button nz-button nzType="primary" (click)="show_modal_add(); $event.preventDefault();">
            <i nz-icon type="plus"></i> {{ "grid.add"|translate }}
          </button>
          <button nz-button nzType="default" [nzLoading]="loading_edit_modal"
                  (click)="show_modal_edit(); $event.preventDefault();">
            <i nz-icon type="edit"></i> {{ "grid.edit"|translate }}
          </button>
          <button nz-button nzType="danger" (click)="show_modal_remove(); $event.preventDefault();">
            <i nz-icon type="delete"></i> {{ "grid.remove"|translate }}
          </button>
        </nz-button-group>
      </div>
    </div>
  </div>
</div>

<ng-template #tplFacility let-option="option">
  <div nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Care Group:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.care_group }}</div>
  </div>
  <div *ngIf="option.care_level" nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Care Level:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.care_level.title }}</div>
  </div>
  <div nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Ambulatory:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.ambulatory ? 'Yes' : 'No' }}</div>
  </div>
  <div nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>DNR:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.dnr ? 'Yes' : 'No' }}</div>
  </div>
  <div nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>POLST:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.polst ? 'Yes' : 'No' }}</div>
  </div>

  <div *ngIf="option.dining_room" nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Dinning Room:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.dining_room.title }}</div>
  </div>
  <div *ngIf="option.facility_bed && option.facility_bed.room && option.facility_bed.room.facility" nz-row
       [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Facility:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.facility_bed.room.facility.name }}</div>
  </div>
  <div *ngIf="option.facility_bed && option.facility_bed.room" nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Room/Bed:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.facility_bed.room.number }} ({{ option.facility_bed.number }})</div>
  </div>
</ng-template>

<ng-template #tplApartment let-option="option">
  <div *ngIf="option.apartment_bed && option.apartment_bed.room && option.apartment_bed.room.apartment" nz-row
       [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Apartment:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.apartment_bed.room.apartment.name }}</div>
  </div>
  <div *ngIf="option.apartment_bed && option.apartment_bed.room" nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Room/Bed:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.apartment_bed.room.number }} ({{ option.apartment_bed.number }})</div>
  </div>
</ng-template>

<ng-template #tplRegion let-option="option">
  <div nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Care Group:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.care_group }}</div>
  </div>
  <div *ngIf="option.care_level" nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Care Level:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.care_level.title }}</div>
  </div>
  <div nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Ambulatory:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.ambulatory ? 'Yes' : 'No' }}</div>
  </div>
  <div nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>DNR:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.dnr ? 'Yes' : 'No' }}</div>
  </div>
  <div nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>POLST:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.polst ? 'Yes' : 'No' }}</div>
  </div>

  <div *ngIf="option.region" nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Region:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.region.name }}</div>
  </div>
  <div nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>City State Zip:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.address }}</div>
  </div>
  <div *ngIf="option.csz" nz-row [nzGutter]="4">
    <div nz-col [nzSpan]="8" class="text-right"><strong>Street Address:</strong></div>
    <div nz-col [nzSpan]="16">{{ option.csz|csz }}</div>
  </div>
</ng-template>


