<h4>Health Insurance</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="company_id" nzRequired>Company</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('company_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="company_id">
          <ng-container *ngFor="let company of companies">
            <nz-option [nzLabel]="company.title" [nzValue]="company.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('insurance_company');">
          <i nz-icon nzType="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('company_id')">
        <app-field-errors [errors]="fieldErrors('company_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="medical_record_number" nzRequired>Medical Record Number</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('medical_record_number')?'error':null">
      <input nz-input placeholder="Medical Record Number" formControlName="medical_record_number">
      <nz-form-explain *ngIf="hasErrors('medical_record_number')">
        <app-field-errors [errors]="fieldErrors('medical_record_number')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="group_number" nzRequired>Group Number</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('group_number')?'error':null">
      <input nz-input placeholder="Group Number" formControlName="group_number">
      <nz-form-explain *ngIf="hasErrors('group_number')">
        <app-field-errors [errors]="fieldErrors('group_number')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('notes')?'error':null">
      <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512"></input-counter>
      <nz-form-explain *ngIf="hasErrors('notes')">
        <app-field-errors [errors]="fieldErrors('notes')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="first_file">Card Scan - Front</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('first_file')?'error':null">
      <input type="file" #first_file (change)="onFileChange(files[0], $event)" accept="image/*,application/pdf" style="display: none;">
      <button type="button" nz-button nzSize="small" *ngIf="form.get('first_file').value === null" (click)="select_file(files[0]);">
        <i nz-icon nzType="upload"></i>
        <span>Select file...</span>
      </button>
      <button type="button" nz-button nzSize="small" nzType="danger" *ngIf="form.get('first_file').value !== null" (click)="clear_file(files[0]);">
        <i nz-icon nzType="close"></i>
        {{ (files[0].file_name && files[0].file_name !== '') ? files[0].file_name : 'Remove' }}
      </button>
      <p style="font-size: smaller;line-height: 0.5;" [style.color]="files[0].size_exceed?'red':'inherit'">(Maximum file size is 10 MB.)</p>
      <nz-form-explain *ngIf="hasErrors('first_file')">
        <app-field-errors [errors]="fieldErrors('first_file')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="second_file">Card Scan - Back</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('second_file')?'error':null">
      <input type="file" #second_file (change)="onFileChange(files[1], $event)" accept="image/*,application/pdf" style="display: none;">
      <button type="button" nz-button nzSize="small" *ngIf="form.get('second_file').value === null" (click)="select_file(files[1]);">
        <i nz-icon nzType="upload"></i>
        <span>Select file...</span>
      </button>
      <button type="button" nz-button nzSize="small" nzType="danger" *ngIf="form.get('second_file').value !== null" (click)="clear_file(files[1]);">
        <i nz-icon nzType="close"></i>
        {{ (files[1].file_name && files[1].file_name !== '') ? files[1].file_name : 'Remove' }}
      </button>
      <p style="font-size: smaller;line-height: 0.5;" [style.color]="files[1].size_exceed?'red':'inherit'">(Maximum file size is 10 MB.)</p>
      <nz-form-explain *ngIf="hasErrors('second_file')">
        <app-field-errors [errors]="fieldErrors('second_file')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
