<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            Outreach
          </div>
          <div class="card-body">
            <nz-empty *ngIf="!outreach" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
            <div *ngIf="outreach">
              <div nz-row [nzGutter]="4" *ngIf="outreach.date">
                <div nz-col [nzSpan]="8" class="text-right"><strong>Date:</strong></div>
                <div nz-col [nzSpan]="16">{{ outreach.date|date:'MMM d, y':'UTC' }}</div>
              </div>
              <div nz-row [nzGutter]="4" *ngIf="outreach.type">
                <div nz-col [nzSpan]="8" class="text-right"><strong>Type:</strong></div>
                <div nz-col [nzSpan]="16">{{ outreach.type.title }}</div>
              </div>
              <div nz-row [nzGutter]="4" *ngIf="outreach.organization">
                <div nz-col [nzSpan]="8" class="text-right"><strong>Organization:</strong></div>
                <div nz-col [nzSpan]="16">{{ outreach.organization.name }}</div>
              </div>
              <div nz-row [nzGutter]="4" *ngIf="outreach.notes">
                <div nz-col [nzSpan]="8" class="text-right"><strong>Notes:</strong></div>
                <div nz-col [nzSpan]="16">{{ outreach.notes }}</div>
              </div>

              <div nz-row [nzGutter]="4" *ngIf="outreach.contacts && outreach.contacts.length > 0">
                <div nz-col [nzSpan]="8" class="text-right"><strong>Contacts(s):</strong></div>
                <div nz-col [nzSpan]="16">
                  <ng-container *ngFor="let contact of outreach.contacts; let last = last;">
                    {{ contact|lead_contact }}
                    <ng-container *ngIf="!last">,</ng-container>
                  </ng-container>
                </div>
              </div>

              <div nz-row [nzGutter]="4" *ngIf="outreach.users && outreach.users.length > 0">
                <div nz-col [nzSpan]="8" class="text-right"><strong>Email(s):</strong></div>
                <div nz-col [nzSpan]="16">
                  <ng-container *ngFor="let user of outreach.users; let last = last;">
                    {{ user|user }}
                    <ng-container *ngIf="!last">,</ng-container>
                  </ng-container>
                </div>
              </div>

              <nz-divider></nz-divider>
              <div class="d-flex">
                <nz-button-group [nzSize]="'small'" class="ml-auto">
                  <button type="button" nz-button nzType="default"
                          (click)="show_modal_edit('outreach'); $event.preventDefault();">
                    <i nz-icon nzType="edit"></i> {{ "grid.edit"|translate }}
                  </button>
                </nz-button-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-8">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            Activity Log
          </div>
          <div class="card-body">
            <nz-empty *ngIf="!outreach" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
            <app-lead-outreach-activity *ngIf="outreach" [outreach_id]="outreach.id"></app-lead-outreach-activity>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
