<nz-button-group [nzSize]="'large'" class="resident-pages" *ngIf="resident_id">
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: resident_id }" [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('responsible-persons')"
     title="Responsible Persons">
    <i class="seniorcare seniorcare-3x seniorcare-resident"></i>
  </a>
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: resident_id }" [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('events')"
     title="Events">
    <i class="seniorcare seniorcare-3x seniorcare-events"></i>
  </a>
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: resident_id }" [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('contracts')"
     title="Contracts">
    <i class="seniorcare seniorcare-3x seniorcare-contracts"></i>
  </a>
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: resident_id }" [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('rents')"
     title="Rents">
    <i class="seniorcare seniorcare-3x seniorcare-rents"></i>
  </a>
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: resident_id }" [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('physicians')"
     title="Physicians">
    <i class="seniorcare seniorcare-3x seniorcare-physicians"></i>
  </a>
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: resident_id }" [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('medications')"
     title="Medications">
    <i class="seniorcare seniorcare-3x seniorcare-medications"></i>
  </a>
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: resident_id }" [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('history')"
     title="History">
    <i class="seniorcare seniorcare-3x seniorcare-medical-history"></i>
  </a>
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: resident_id }" [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('diets')"
     title="Dietary Restrictions">
    <i class="seniorcare seniorcare-3x seniorcare-dietary"></i>
  </a>
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: resident_id }" [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('assessments')"
     title="Assessments">
    <i class="seniorcare seniorcare-3x seniorcare-assessments"></i>
  </a>
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: resident_id }" [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('reports')"
     title="Reports">
    <i class="seniorcare seniorcare-3x seniorcare-reports"></i>
  </a>
</nz-button-group>
<div class="facility-selector">
  <i class="fa fa-home"></i>
  <nz-select nzShowSearch [(ngModel)]="group_id" (ngModelChange)="load_residents_list($event);">
    <nz-option nzLabel="No Contract" [nzValue]="null"></nz-option>
    <nz-option-group nzLabel="FFC - Facilities">
      <ng-container *ngFor="let facility of facilities">
        <nz-option [nzLabel]="facility.name" [nzValue]="facility"></nz-option>
      </ng-container>
    </nz-option-group>
    <nz-option-group nzLabel="IHC - Regions">
      <ng-container *ngFor="let region of regions">
        <nz-option [nzLabel]="region.name" [nzValue]="region"></nz-option>
      </ng-container>
    </nz-option-group>
    <nz-option-group nzLabel="IL - Apartments">
      <ng-container *ngFor="let apartment of apartments">
        <nz-option [nzLabel]="apartment.name" [nzValue]="apartment"></nz-option>
      </ng-container>
    </nz-option-group>
  </nz-select>
  <i class="fa fa-users"></i>
  <nz-select nzShowSearch nzAllowClear
             [nzDisabled]="group_id == null || active_residents == null || active_residents.length == 0"
             [(ngModel)]="active_resident_id" (ngModelChange)="residentChanged($event);">
    <ng-container *ngFor="let resident of active_residents">
      <nz-option [nzLabel]="resident|resident_selector" [nzValue]="resident.id"></nz-option>
    </ng-container>
  </nz-select>
  <i class="fa fa-ban"></i>
  <nz-select nzShowSearch [nzDisabled]="inactive_residents == null || inactive_residents.length == 0"
             [(ngModel)]="inactive_resident_id" (ngModelChange)="residentChanged($event);">
    <ng-container *ngFor="let resident of inactive_residents">
      <nz-option [nzLabel]="resident|resident_selector" [nzValue]="resident.id"></nz-option>
    </ng-container>
  </nz-select>
</div>
