<nz-button-group [nzSize]="'large'" class="resident-pages" *ngIf="residentSelector$.resident.value !== null">
  <a *ngIf="addIfHasPermission('persistence-resident-resident_responsible_person')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('responsible-persons')"
     title="Responsible Persons">
    <i class="seniorcare seniorcare-3x seniorcare-resident"></i>
  </a>
  <a *ngIf="addIfHasPermission('persistence-resident-resident_document')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('documents')"
     title="Documents">
    <i class="seniorcare seniorcare-3x seniorcare-documents"></i>
  </a>
  <a *ngIf="addIfHasPermission('persistence-resident-resident_health_insurance')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('health-insurance')"
     title="Health Insurance">
    <i class="seniorcare seniorcare-3x seniorcare-insurance"></i>
  </a>
  <a *ngIf="addIfHasPermission('persistence-resident-resident_event')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('events')"
     title="Events">
    <i class="seniorcare seniorcare-3x seniorcare-events"></i>
  </a>
  <a *ngIf="addIfHasPermission('persistence-resident-admission')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('admissions')"
     title="Admission and Room Assignments">
    <i class="seniorcare seniorcare-3x seniorcare-contracts"></i>
  </a>
  <a *ngIf="addIfHasPermission('persistence-resident-resident_rent')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('rents')"
     title="Rents">
    <i class="seniorcare seniorcare-3x seniorcare-rents"></i>
  </a>
  <a *ngIf="addIfHasPermission('persistence-resident-resident_physician')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('physicians')"
     title="Physicians">
    <i class="seniorcare seniorcare-3x seniorcare-physicians"></i>
  </a>
  <a *ngIf="addIfHasPermission('persistence-resident-resident_medication')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('medications')"
     title="Medications">
    <i class="seniorcare seniorcare-3x seniorcare-medications"></i>
  </a>
  <a *ngIf="addIfHasPermission('persistence-resident-resident_medical_history_condition')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('history')"
     title="History">
    <i class="seniorcare seniorcare-3x seniorcare-medical-history"></i>
  </a>
  <a *ngIf="addIfHasPermission('persistence-resident-resident_diet')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('diets')"
     title="Dietary Restrictions">
    <i class="seniorcare seniorcare-3x seniorcare-dietary"></i>
  </a>
  <a *ngIf="addIfHasPermission('persistence-resident-assessment-assessment')" nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('assessments')"
     title="Assessments">
    <i class="seniorcare seniorcare-3x seniorcare-assessments"></i>
  </a>
  <a nz-button [routerLinkActiveOptions]="{ __cdh__: residentSelector$.resident.value }"
     [routerLinkActive]="['active-link']"
     [routerLink]="routeInfo('reports')" *ngIf="residentSelector$.group.value !== null"
     title="Reports">
    <i class="seniorcare seniorcare-3x seniorcare-reports"></i>
  </a>
</nz-button-group>
<form nz-form [formGroup]="form">
  <div class="group-selector">
    <i class="fa fa-home"></i>
    <nz-select nzShowSearch [nzDropdownMatchSelectWidth]="false" formControlName="group">
      <nz-option nzLabel="Pre-Admit" [nzValue]="group_helper.no_admission"></nz-option>
      <nz-option-group nzLabel="FFC - Facilities">
        <ng-container *ngFor="let facility of group_helper.facilities">
          <nz-option [nzLabel]="facility.name" [nzValue]="facility"></nz-option>
        </ng-container>
      </nz-option-group>
      <!--<nz-option-group nzLabel="IHC - Regions">-->
        <!--<ng-container *ngFor="let region of group_helper.regions">-->
          <!--<nz-option [nzLabel]="region.name" [nzValue]="region"></nz-option>-->
        <!--</ng-container>-->
      <!--</nz-option-group>-->
      <!--<nz-option-group nzLabel="IL - Apartments">-->
        <!--<ng-container *ngFor="let apartment of group_helper.apartments">-->
          <!--<nz-option [nzLabel]="apartment.name" [nzValue]="apartment"></nz-option>-->
        <!--</ng-container>-->
      <!--</nz-option-group>-->
    </nz-select>
    <i class="fa fa-users"></i>
    <nz-select nzShowSearch [nzDropdownMatchSelectWidth]="false" formControlName="active_resident_id"
               [nzDisabled]="residentSelector$.group.value === null || active_residents === null || active_residents.length === 0">
      <ng-container *ngFor="let resident of active_residents">
        <nz-option [nzLabel]="resident|resident_selector" [nzValue]="resident.id"></nz-option>
      </ng-container>
    </nz-select>
    <i class="fa fa-ban"></i>
    <nz-select nzShowSearch [nzDropdownMatchSelectWidth]="false" formControlName="inactive_resident_id"
               [nzDisabled]="inactive_residents === null || inactive_residents.length === 0">
      <ng-container *ngFor="let resident of inactive_residents">
        <nz-option [nzLabel]="resident|resident_selector" [nzValue]="resident.id"></nz-option>
      </ng-container>
    </nz-select>
  </div>
</form>
