<h4>Facility Room</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item *ngIf="form.get('facility_id').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="facility_id" nzRequired>Facility</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('facility_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="facility_id">
        <ng-container *ngFor="let facility of facilities">
          <nz-option [nzLabel]="facility.name" [nzValue]="facility.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('facility_id')">
        <app-field-errors [errors]="fieldErrors('facility_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('type_id').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="type_id" nzRequired>Room Type</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('type_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="type_id">
          <ng-container *ngFor="let type of facility_room_types">
            <nz-option [nzLabel]="type.title" [nzValue]="type.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('room_type');">
          <i nz-icon nzType="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('type_id')">
        <app-field-errors [errors]="fieldErrors('type_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="facility">
    <nz-form-label [nzSm]="8" [nzXs]="24">Occupation/Target</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <span
        [style.color]="(room_curr_occupation + other_occupation) > facility.beds_target ? 'red' : 'inherit'"
      >{{ (room_curr_occupation + other_occupation) }} / {{ facility.beds_target }}</span>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="number" nzRequired>Number</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('number')?'error':null">
      <input nz-input placeholder="Number" maxlength="10" formControlName="number">
      <nz-form-explain *ngIf="hasErrors('number')">
        <app-field-errors [errors]="fieldErrors('number')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="floor" nzRequired>Floor</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('floor')?'error':null">
      <nz-input-number [nzMin]="1" [nzMax]="99" [nzStep]="1" nzPlaceHolder="Floor"
                       formControlName="floor"></nz-input-number>
      <nz-form-explain *ngIf="hasErrors('floor')">
        <app-field-errors [errors]="fieldErrors('floor')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('notes')?'error':null">
      <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512"></input-counter>
      <nz-form-explain *ngIf="hasErrors('notes')">
        <app-field-errors [errors]="fieldErrors('notes')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <fieldset formArrayName="beds">
    <legend class="senior-care-legend">
      <span style="display: inline-block;margin-right: 4px;color: #f5222d;font-size: 14px;font-family: SimSun,sans-serif;">*</span>Bed(s)
      <button type="button" [style.float]="'right'" #addBed nz-button nzType="primary" nzSize="small" nzShape="circle"
              (click)="add_field('beds');" [disabled]="!form.get('facility_id').value
        || (facility !== null && ((room_curr_occupation + other_occupation) >= facility.beds_target))">
        <i nz-icon nzType="plus"></i>
      </button>
    </legend>
    <table class="senior-care-form-table table table-hover table-bordered table-sm"
           *ngIf="get_form_array('beds').controls.length > 0">
      <thead>
      <tr>
        <th class="w-25 text-center">
          <nz-form-label>Enabled</nz-form-label>
        </th>
        <th class="w-75">
          <nz-form-label nzRequired>Number</nz-form-label>
        </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of get_form_array('beds').controls;let i = index">
        <tr [formGroupName]="i">
          <td class="text-center">
            <nz-switch nzSize="small" formControlName="enabled"></nz-switch>
          </td>
          <td>
            <nz-form-item>
              <nz-form-control [nzSm]="16" [nzXs]="24"
                               [nzValidateStatus]="hasErrors('beds.'+i+'.number')?'error':null">
                <div style="width: 100%;">
                  <input style="width: 50%;" nz-input nzSize="small" placeholder="Number" formControlName="number"/>
                  <span style="width: 50%;margin-left: 1rem;"><strong>{{ get_resident_of_bed(i) }}</strong></span>
                </div>
                <nz-form-explain *ngIf="hasErrors('beds.'+i+'.number')">
                  <app-field-errors [errors]="fieldErrors('beds.'+i+'.number')"></app-field-errors>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </td>
          <td class="text-center">
            <button type="button" nz-button nzType="danger" nzSize="small" nzShape="circle" [nzLoading]="button_loading[i]"
                    (click)="remove_field('beds', i);">
              <i nz-icon nzType="minus"></i>
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </fieldset>
  <nz-form-item>
    <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="hasErrors('beds')?'error':null">
      <nz-form-explain *ngIf="hasErrors('beds')">
        <app-field-errors [errors]="fieldErrors('beds')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
