<h4>Ledger</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-tabset [nzSelectedIndex]="tabSelected.value" (nzSelectedIndexChange)="tabChanged($event);">
    <nz-tab nzTitle="Expense Item">
      <fieldset formArrayName="resident_expense_items">
        <legend class="senior-care-legend">
          Expense Item(s)
          <button type="button" [style.float]="'right'" #addExpenseItem nz-button nzType="primary" nzSize="small" nzShape="circle"
                  (click)="add_field('resident_expense_items');">
            <i nz-icon nzType="plus"></i>
          </button>
        </legend>
        <table class="senior-care-form-table table table-hover table-bordered table-sm"
               *ngIf="get_form_array('resident_expense_items').controls.length > 0">
          <thead>
          <tr>
            <th class="w-20 text-center">
              <nz-form-label nzRequired>Date</nz-form-label>
            </th>
            <th class="w-20 text-center">
              <nz-form-label nzRequired>Expense Item</nz-form-label>
            </th>
            <th class="w-20 text-center">
              <nz-form-label nzRequired>Amount</nz-form-label>
            </th>
            <th class="w-40 text-center">
              <nz-form-label>Notes</nz-form-label>
            </th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of get_form_array('resident_expense_items').controls;let i = index">
            <tr [formGroupName]="i">
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_expense_items.'+i+'.date')?'error':null">
                    <nz-date-picker formControlName="date" nzFormat="MM/dd/yyyy"></nz-date-picker>
                    <nz-form-explain *ngIf="hasErrors('resident_expense_items.'+i+'.date')">
                      <app-field-errors [errors]="fieldErrors('resident_expense_items.'+i+'.date')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_expense_items.'+i+'.expense_item_id')?'error':null">
                    <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="expense_item_id">
                      <ng-container *ngFor="let expense_item of expense_items">
                        <nz-option [nzLabel]="expense_item.title" [nzValue]="expense_item.id"></nz-option>
                      </ng-container>
                    </nz-select>
                    <nz-form-explain *ngIf="hasErrors('resident_expense_items.'+i+'.expense_item_id')">
                      <app-field-errors [errors]="fieldErrors('resident_expense_items.'+i+'.expense_item_id')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_expense_items.'+i+'.amount')?'error':null">
                    <nz-input-number [nzMin]="0" [nzStep]="1" [nzPrecision]="2" [nzFormatter]="formatterDollar"
                                     nzSize="small" nzPlaceHolder="Amount" formControlName="amount"></nz-input-number>
                    <nz-form-explain *ngIf="hasErrors('resident_expense_items.'+i+'.amount')">
                      <app-field-errors [errors]="fieldErrors('resident_expense_items.'+i+'.amount')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_expense_items.'+i+'.notes')?'error':null">
                    <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512" id="{{ 'note-' + i }}"></input-counter>
                    <nz-form-explain *ngIf="hasErrors('resident_expense_items.'+i+'.notes')">
                      <app-field-errors [errors]="fieldErrors('resident_expense_items.'+i+'.notes')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td class="text-center">
                <button type="button" nz-button nzType="danger" nzSize="small" nzShape="circle" [nzLoading]="button_loading[i]"
                        (click)="remove_field('resident_expense_items', i);">
                  <i nz-icon nzType="minus"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </fieldset>
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="hasErrors('resident_expense_items')?'error':null">
          <nz-form-explain *ngIf="hasErrors('resident_expense_items')">
            <app-field-errors [errors]="fieldErrors('resident_expense_items')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>

    <nz-tab nzTitle="Credit Item">
      <fieldset formArrayName="resident_credit_items">
        <legend class="senior-care-legend">
          Credit Item(s)
          <button type="button" [style.float]="'right'" #addCreditItem nz-button nzType="primary" nzSize="small" nzShape="circle"
                  (click)="add_field('resident_credit_items');">
            <i nz-icon nzType="plus"></i>
          </button>
        </legend>
        <table class="senior-care-form-table table table-hover table-bordered table-sm"
               *ngIf="get_form_array('resident_credit_items').controls.length > 0">
          <thead>
          <tr>
            <th class="w-20 text-center">
              <nz-form-label nzRequired>Date</nz-form-label>
            </th>
            <th class="w-20 text-center">
              <nz-form-label nzRequired>Credit Item</nz-form-label>
            </th>
            <th class="w-20 text-center">
              <nz-form-label nzRequired>Amount</nz-form-label>
            </th>
            <th class="w-40 text-center">
              <nz-form-label>Notes</nz-form-label>
            </th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of get_form_array('resident_credit_items').controls;let i = index">
            <tr [formGroupName]="i">
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_credit_items.'+i+'.date')?'error':null">
                    <nz-date-picker formControlName="date" nzFormat="MM/dd/yyyy"></nz-date-picker>
                    <nz-form-explain *ngIf="hasErrors('resident_credit_items.'+i+'.date')">
                      <app-field-errors [errors]="fieldErrors('resident_credit_items.'+i+'.date')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_credit_items.'+i+'.credit_item_id')?'error':null">
                    <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="credit_item_id">
                      <ng-container *ngFor="let credit_item of credit_items">
                        <nz-option [nzLabel]="credit_item.title" [nzValue]="credit_item.id"></nz-option>
                      </ng-container>
                    </nz-select>
                    <nz-form-explain *ngIf="hasErrors('resident_credit_items.'+i+'.credit_item_id')">
                      <app-field-errors [errors]="fieldErrors('resident_credit_items.'+i+'.credit_item_id')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_credit_items.'+i+'.amount')?'error':null">
                    <nz-input-number [nzMin]="0" [nzStep]="1" [nzPrecision]="2" [nzFormatter]="formatterDollar"
                                     nzSize="small" nzPlaceHolder="Amount" formControlName="amount"></nz-input-number>
                    <nz-form-explain *ngIf="hasErrors('resident_credit_items.'+i+'.amount')">
                      <app-field-errors [errors]="fieldErrors('resident_credit_items.'+i+'.amount')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_credit_items.'+i+'.notes')?'error':null">
                    <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512" id="{{ 'note-' + i }}"></input-counter>
                    <nz-form-explain *ngIf="hasErrors('resident_credit_items.'+i+'.notes')">
                      <app-field-errors [errors]="fieldErrors('resident_credit_items.'+i+'.notes')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td class="text-center">
                <button type="button" nz-button nzType="danger" nzSize="small" nzShape="circle" [nzLoading]="button_loading[i]"
                        (click)="remove_field('resident_credit_items', i);">
                  <i nz-icon nzType="minus"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </fieldset>
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="hasErrors('resident_credit_items')?'error':null">
          <nz-form-explain *ngIf="hasErrors('resident_credit_items')">
            <app-field-errors [errors]="fieldErrors('resident_credit_items')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>

    <nz-tab nzTitle="Discount Item">
      <fieldset formArrayName="resident_discount_items">
        <legend class="senior-care-legend">
          Discount Item(s)
          <button type="button" [style.float]="'right'" #addDiscountItem nz-button nzType="primary" nzSize="small" nzShape="circle"
                  (click)="add_field('resident_discount_items');">
            <i nz-icon nzType="plus"></i>
          </button>
        </legend>
        <table class="senior-care-form-table table table-hover table-bordered table-sm"
               *ngIf="get_form_array('resident_discount_items').controls.length > 0">
          <thead>
          <tr>
            <th class="w-20 text-center">
              <nz-form-label nzRequired>Date</nz-form-label>
            </th>
            <th class="w-20 text-center">
              <nz-form-label nzRequired>Discount Item</nz-form-label>
            </th>
            <th class="w-20 text-center">
              <nz-form-label nzRequired>Amount</nz-form-label>
            </th>
            <th class="w-40 text-center">
              <nz-form-label>Notes</nz-form-label>
            </th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of get_form_array('resident_discount_items').controls;let i = index">
            <tr [formGroupName]="i">
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_discount_items.'+i+'.date')?'error':null">
                    <nz-date-picker formControlName="date" nzFormat="MM/dd/yyyy"></nz-date-picker>
                    <nz-form-explain *ngIf="hasErrors('resident_discount_items.'+i+'.date')">
                      <app-field-errors [errors]="fieldErrors('resident_discount_items.'+i+'.date')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_discount_items.'+i+'.discount_item_id')?'error':null">
                    <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="discount_item_id">
                      <ng-container *ngFor="let discount_item of discount_items">
                        <nz-option [nzLabel]="discount_item.title" [nzValue]="discount_item.id"></nz-option>
                      </ng-container>
                    </nz-select>
                    <nz-form-explain *ngIf="hasErrors('resident_discount_items.'+i+'.discount_item_id')">
                      <app-field-errors [errors]="fieldErrors('resident_discount_items.'+i+'.discount_item_id')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_discount_items.'+i+'.amount')?'error':null">
                    <nz-input-number [nzMin]="0" [nzStep]="1" [nzPrecision]="2" [nzFormatter]="formatterDollar"
                                     nzSize="small" nzPlaceHolder="Amount" formControlName="amount"></nz-input-number>
                    <nz-form-explain *ngIf="hasErrors('resident_discount_items.'+i+'.amount')">
                      <app-field-errors [errors]="fieldErrors('resident_discount_items.'+i+'.amount')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_discount_items.'+i+'.notes')?'error':null">
                    <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512" id="{{ 'note-' + i }}"></input-counter>
                    <nz-form-explain *ngIf="hasErrors('resident_discount_items.'+i+'.notes')">
                      <app-field-errors [errors]="fieldErrors('resident_discount_items.'+i+'.notes')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td class="text-center">
                <button type="button" nz-button nzType="danger" nzSize="small" nzShape="circle" [nzLoading]="button_loading[i]"
                        (click)="remove_field('resident_discount_items', i);">
                  <i nz-icon nzType="minus"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </fieldset>
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="hasErrors('resident_discount_items')?'error':null">
          <nz-form-explain *ngIf="hasErrors('resident_discount_items')">
            <app-field-errors [errors]="fieldErrors('resident_discount_items')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>

    <nz-tab nzTitle="Payment Received Item">
      <fieldset formArrayName="resident_payment_received_items">
        <legend class="senior-care-legend">
          Payment Received Item(s)
          <button type="button" [style.float]="'right'" #addPaymentReceivedItem nz-button nzType="primary" nzSize="small" nzShape="circle"
                  (click)="add_field('resident_payment_received_items');">
            <i nz-icon nzType="plus"></i>
          </button>
        </legend>
        <table class="senior-care-form-table table table-hover table-bordered table-sm"
               *ngIf="get_form_array('resident_payment_received_items').controls.length > 0">
          <thead>
          <tr>
            <th class="w-20 text-left">
              <nz-form-label nzRequired>Date</nz-form-label>
            </th>
            <th class="w-20 text-left">
              <nz-form-label nzRequired>Type</nz-form-label>
            </th>
            <th class="w-20 text-left">
              <nz-form-label nzRequired>Amount</nz-form-label>
            </th>
            <th class="w-20 text-left">
              <nz-form-label nzRequired>Transaction #</nz-form-label>
            </th>
            <th class="w-20 text-left">
              <nz-form-label>Notes</nz-form-label>
            </th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of get_form_array('resident_payment_received_items').controls;let i = index">
            <tr [formGroupName]="i">
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_payment_received_items.'+i+'.date')?'error':null">
                    <nz-date-picker formControlName="date" nzFormat="MM/dd/yyyy"></nz-date-picker>
                    <nz-form-explain *ngIf="hasErrors('resident_payment_received_items.'+i+'.date')">
                      <app-field-errors [errors]="fieldErrors('resident_payment_received_items.'+i+'.date')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_payment_received_items.'+i+'.payment_type_id')?'error':null">
                    <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="payment_type_id">
                      <ng-container *ngFor="let payment_type of payment_types">
                        <nz-option [nzLabel]="payment_type.title" [nzValue]="payment_type.id"></nz-option>
                      </ng-container>
                    </nz-select>
                    <nz-form-explain *ngIf="hasErrors('resident_payment_received_items.'+i+'.payment_type_id')">
                      <app-field-errors [errors]="fieldErrors('resident_payment_received_items.'+i+'.payment_type_id')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_payment_received_items.'+i+'.amount')?'error':null">
                    <nz-input-number [nzMin]="0" [nzStep]="1" [nzPrecision]="2" [nzFormatter]="formatterDollar"
                                     nzSize="small" nzPlaceHolder="Amount" formControlName="amount"></nz-input-number>
                    <nz-form-explain *ngIf="hasErrors('resident_payment_received_items.'+i+'.amount')">
                      <app-field-errors [errors]="fieldErrors('resident_payment_received_items.'+i+'.amount')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('resident_payment_received_items.'+i+'.transaction_number')?'error':null">
                    <input nz-input placeholder="Transaction Number" formControlName="transaction_number">
                    <nz-form-explain *ngIf="hasErrors('resident_payment_received_items.'+i+'.transaction_number')">
                      <app-field-errors [errors]="fieldErrors('resident_payment_received_items.'+i+'.transaction_number')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_payment_received_items.'+i+'.notes')?'error':null">
                    <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512" id="{{ 'note-' + i }}"></input-counter>
                    <nz-form-explain *ngIf="hasErrors('resident_payment_received_items.'+i+'.notes')">
                      <app-field-errors [errors]="fieldErrors('resident_payment_received_items.'+i+'.notes')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td class="text-center">
                <button type="button" nz-button nzType="danger" nzSize="small" nzShape="circle" [nzLoading]="button_loading[i]"
                        (click)="remove_field('resident_payment_received_items', i);">
                  <i nz-icon nzType="minus"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </fieldset>
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="hasErrors('resident_payment_received_items')?'error':null">
          <nz-form-explain *ngIf="hasErrors('resident_payment_received_items')">
            <app-field-errors [errors]="fieldErrors('resident_payment_received_items')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>

    <nz-tab nzTitle="Away Days" *ngIf="isThirdParty">
      <fieldset formArrayName="resident_away_days">
        <legend class="senior-care-legend">
          Away Days
          <button type="button" [style.float]="'right'" #addAwayDays nz-button nzType="primary" nzSize="small" nzShape="circle"
                  (click)="add_field('resident_away_days');">
            <i nz-icon nzType="plus"></i>
          </button>
        </legend>
        <table class="senior-care-form-table table table-hover table-bordered table-sm"
               *ngIf="get_form_array('resident_away_days').controls.length > 0">
          <thead>
          <tr>
            <th class="w-30 text-center">
              <nz-form-label nzRequired>Start Date</nz-form-label>
            </th>
            <th class="w-30 text-center">
              <nz-form-label nzRequired>End Date</nz-form-label>
            </th>
            <th class="w-40 text-center">
              <nz-form-label nzRequired>Reason</nz-form-label>
            </th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of get_form_array('resident_away_days').controls;let i = index">
            <tr [formGroupName]="i">
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_away_days.'+i+'.start')?'error':null">
                    <nz-date-picker formControlName="start" nzFormat="MM/dd/yyyy"></nz-date-picker>
                    <nz-form-explain *ngIf="hasErrors('resident_away_days.'+i+'.start')">
                      <app-field-errors [errors]="fieldErrors('resident_away_days.'+i+'.start')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('resident_away_days.'+i+'.end')?'error':null">
                    <nz-date-picker formControlName="end" nzFormat="MM/dd/yyyy"></nz-date-picker>
                    <nz-form-explain *ngIf="hasErrors('resident_away_days.'+i+'.end')">
                      <app-field-errors [errors]="fieldErrors('resident_away_days.'+i+'.end')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('resident_away_days.'+i+'.reason')?'error':null">
                    <input nz-input placeholder="Reason" formControlName="reason">
                    <nz-form-explain *ngIf="hasErrors('resident_away_days.'+i+'.reason')">
                      <app-field-errors [errors]="fieldErrors('resident_away_days.'+i+'.reason')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td class="text-center">
                <button type="button" nz-button nzType="danger" nzSize="small" nzShape="circle" [nzLoading]="button_loading[i]"
                        (click)="remove_field('resident_away_days', i);">
                  <i nz-icon nzType="minus"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </fieldset>
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="hasErrors('resident_away_days')?'error':null">
          <nz-form-explain *ngIf="hasErrors('resident_away_days')">
            <app-field-errors [errors]="fieldErrors('resident_away_days')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
