<h4>Ledger</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="amount">Amount</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('amount')?'error':null">
      <nz-input-number [nzMin]="0" [nzStep]="1" [nzPrecision]="2" [nzFormatter]="formatterDollar"
                       nzPlaceHolder="Amount" formControlName="amount" [nzDisabled]="true"></nz-input-number>
      <nz-form-explain *ngIf="hasErrors('amount')">
        <app-field-errors [errors]="fieldErrors('amount')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="balance_due">Balance Due</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('balance_due')?'error':null">
      <nz-input-number [nzMin]="0" [nzStep]="1" [nzPrecision]="2" [nzFormatter]="formatterDollar"
                       nzPlaceHolder="Balance Due" formControlName="balance_due" [nzDisabled]="true"></nz-input-number>
      <nz-form-explain *ngIf="hasErrors('balance_due')">
        <app-field-errors [errors]="fieldErrors('balance_due')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <fieldset formArrayName="source">
    <table class="senior-care-form-table table table-hover table-bordered table-sm">
      <thead>
      <tr>
        <th class="w-50">
          <nz-form-label>Title</nz-form-label>
        </th>
        <th class="w-50">
          <nz-form-label>Amount</nz-form-label>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of get_form_array('source').controls;let i = index" [formGroupName]="i">
        <td>
          <input type="hidden" formControlName="id" [disabled]="true">
          {{ get_title(i) }}
        </td>
        <td>
          <nz-input-number [nzMin]="0" [nzStep]="0.01" [nzFormatter]="formatterDollar" [nzDisabled]="true"
                           nzSize="small" nzPlaceHolder="Amount" formControlName="amount"></nz-input-number>
        </td>
      </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </fieldset>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
