<h4>Diagnose</h4>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="type" nzRequired>Type</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('type')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="type">
        <ng-container *ngFor="let type of types">
          <nz-option [nzLabel]="(type.name)|translate" [nzValue]="type.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('type')">
        <app-field-errors [errors]="fieldErrors('type')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="diagnose_id" nzRequired>Diagnose</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('diagnose_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="diagnose_id">
          <ng-container *ngFor="let diagnose of diagnoses">
            <nz-option [nzLabel]="diagnose.title" [nzValue]="diagnose.id"></nz-option>
          </ng-container>
        </nz-select>
        <button nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('diagnose');">
          <i nz-icon type="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('diagnose_id')">
        <app-field-errors [errors]="fieldErrors('diagnose_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('notes')?'error':null">
      <textarea formControlName="notes" nz-input rows="4" placeholder="Description"></textarea>
      <nz-form-explain *ngIf="hasErrors('notes')">
        <app-field-errors [errors]="fieldErrors('notes')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
