<h4>Reorder Responsible Persons</h4>
<nz-divider></nz-divider>
<p class="text-center">Please drag and drop following items to reorder them.</p>
<form nz-form [formGroup]="form">
  <nz-list
    formArrayName="responsible_persons"
    dnd-sortable-container
    [sortableData]="get_form_array('responsible_persons').controls"
    [nzDataSource]="get_form_array('responsible_persons').controls"
    nzBordered
    nzSize="small"
    [nzRenderItem]="item"
  >
    <ng-template #item let-item>
      <nz-list-item
        [formGroupName]="get_form_array('responsible_persons').controls.indexOf(item)"
        dnd-sortable
        [sortableIndex]="get_form_array('responsible_persons').controls.indexOf(item)"

        dnd-sortable-handle
      >
        <input type="hidden" formControlName="id"/>
        <strong>{{ get_rp_by_id(item.get('id').value)|responsible_person }}</strong>
      </nz-list-item>
    </ng-template>
  </nz-list>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
