<h4>Generate Referral List Report</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date_from" nzRequired>From</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date_from')?'error':null">
      <nz-date-picker formControlName="date_from" nzFormat="MM/dd/yyyy"></nz-date-picker>
      <nz-form-explain *ngIf="hasErrors('date_from')">
        <app-field-errors [errors]="fieldErrors('date_from')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date_to" nzRequired>To</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date_to')?'error':null">
      <nz-date-picker formControlName="date_to" nzFormat="MM/dd/yyyy"></nz-date-picker>
      <nz-form-explain *ngIf="hasErrors('date_to')">
        <app-field-errors [errors]="fieldErrors('date_to')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
