<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <form [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="card-body p-4">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"
                         [ngClass]="{'is-invalid': fieldErrors('firstName')}"/>
                  <app-field-errors [errors]="fieldErrors('firstName')" class="invalid-feedback"></app-field-errors>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"
                         [ngClass]="{'is-invalid': fieldErrors('lastName')}"/>
                  <app-field-errors [errors]="fieldErrors('lastName')" class="invalid-feedback"></app-field-errors>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i nz-icon theme="outline" type="mail"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="E-Mail" formControlName="email"
                         [ngClass]="{'is-invalid': fieldErrors('email') }"/>
                  <app-field-errors [errors]="fieldErrors('email')" class="invalid-feedback"></app-field-errors>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i nz-icon theme="outline" type="mail"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Phone" formControlName="phone"
                         [ngClass]="{'is-invalid': fieldErrors('phone') }"/>
                  <app-field-errors [errors]="fieldErrors('phone')" class="invalid-feedback"></app-field-errors>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password"
                         [ngClass]="{'is-invalid': fieldErrors('password')}"/>
                  <app-field-errors [errors]="fieldErrors('password')" class="invalid-feedback"></app-field-errors>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repeat password" formControlName="rePassword"
                         [ngClass]="{'is-invalid': fieldErrors('rePassword')}"/>
                  <app-field-errors [errors]="fieldErrors('rePassword')" class="invalid-feedback"></app-field-errors>
                </div>

                <!-- Status -->
                <div class="row" *ngIf="formErrors()">
                  <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                      <app-form-errors [errors]="formErrors()"></app-form-errors>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="message">
                  <div class="col-12">
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                  </div>
                </div>
              </div>
              <div class="card-footer p-4">
                <div class="row">
                  <div class="col-6">
                    <button [disabled]="loading" type="submit" class="btn btn-primary px-4">
                      <i *ngIf="loading" nz-icon theme="outline" type="loading-3-quarters"></i>
                      Sign Up
                    </button>
                  </div>
                  <div class="col-6 text-right">
                    <a routerLink="/login" class="btn btn-link px-0">Have account?</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
