<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="card-body">
                <h1>Account Activation</h1>

                <nz-form-item *ngIf="formErrors()">
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item *ngIf="message">
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-alert nzShowIcon nzType="success" [nzMessage]="message"></nz-alert>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-6">
                    <a routerLink="/sign-out" class="btn btn-link px-0">Sign In?</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
