<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <form [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="card-body p-4">
                <h1>Sign In</h1>
                <p class="text-muted"> Sign into your account.</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i nz-icon theme="outline" type="user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username or e-mail" formControlName="username"
                         [ngClass]="{'is-invalid': fieldErrors('username') }"/>
                  <app-field-errors [errors]="fieldErrors('username')" class="invalid-feedback"></app-field-errors>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i nz-icon theme="outline" type="lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password"
                         [ngClass]="{'is-invalid': fieldErrors('password')}"/>
                  <app-field-errors [errors]="fieldErrors('password')" class="invalid-feedback"></app-field-errors>
                </div>

                <!-- Status -->
                <div class="row" *ngIf="formErrors()">
                  <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                      <app-form-errors [errors]="formErrors()"></app-form-errors>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="message">
                  <div class="col-12">
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-6">
                    <button type="submit" nz-button nzType="primary" [nzLoading]="loading" [disabled]="form.invalid"
                            class="btn btn-primary">
                      Sign In
                    </button>
                  </div>
                  <div class="col-6 text-right">
                    <a routerLink="/forgot-password" class="btn btn-link px-0">Forgot password?</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
