<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="card-header">
            <strong>Change Password</strong>
          </div>
          <div class="card-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Current Password" formControlName="password"
                     [ngClass]="{'is-invalid': fieldErrors('password')}"/>
              <app-field-errors [errors]="fieldErrors('password')" class="invalid-feedback"></app-field-errors>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword"
                     [ngClass]="{'is-invalid': fieldErrors('newPassword')}"/>
              <app-field-errors [errors]="fieldErrors('newPassword')" class="invalid-feedback"></app-field-errors>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Repeat new password"
                     formControlName="reNewPassword"
                     [ngClass]="{'is-invalid': fieldErrors('reNewPassword')}"/>
              <app-field-errors [errors]="fieldErrors('reNewPassword')" class="invalid-feedback"></app-field-errors>
            </div>

            <!-- Status -->
            <div class="row" *ngIf="formErrors()">
              <div class="col-12">
                <div class="alert alert-danger" role="alert">
                  <app-form-errors [errors]="formErrors()"></app-form-errors>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="message">
              <div class="col-12">
                <div class="alert alert-success" role="alert">{{ message }}</div>
              </div>
            </div>
            <div class="row">
            </div>
          </div>
          <div class="card-footer">
            <button [disabled]="loading" type="submit" class="btn btn-primary px-4">
              <i *ngIf="loading" nz-icon theme="outline" type="loading-3-quarters"></i>
              Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
