<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card mx-4">
        <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="card-header">
            <strong>Change Password</strong>
          </div>
          <div class="card-body">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="password" nzRequired>Current Password</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('password')?'error':null">
                <input nz-input type="password" id="password" formControlName="password">
                <nz-form-explain *ngIf="hasErrors('password')">
                  <app-field-errors [errors]="fieldErrors('password')"></app-field-errors>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="new_password" nzRequired>New Password</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('new_password')?'error':null">
                <input nz-input type="password" id="new_password" formControlName="new_password">
                <nz-form-explain *ngIf="hasErrors('new_password')">
                  <app-field-errors [errors]="fieldErrors('new_password')"></app-field-errors>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="re_new_password" nzRequired>Repeat Password</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('re_new_password')?'error':null">
                <input nz-input type="password" id="re_new_password" formControlName="re_new_password">
                <nz-form-explain *ngIf="hasErrors('re_new_password')">
                  <app-field-errors [errors]="fieldErrors('re_new_password')"></app-field-errors>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="formErrors()">
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="message">
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-alert nzShowIcon nzType="success" [nzMessage]="message"></nz-alert>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="card-footer text-right">
            <button type="submit" nz-button nzType="primary" [nzLoading]="loading" [disabled]="form.invalid"
                    class="btn btn-primary">
              Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
