<h4>Facility Event</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="definition_id" nzRequired>Type</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('definition_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="definition_id">
        <ng-container *ngFor="let definition of definitions">
          <nz-option [nzLabel]="definition.title" [nzValue]="definition.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('definition_id')">
        <app-field-errors [errors]="fieldErrors('definition_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <ng-container *ngIf="this.form.get('start_date').enabled && this.form.get('all_day').enabled">
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="start_date" nzRequired>Start</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('start_date')||hasErrors('start_time')?'error':null">

        <div *ngIf="this.form.get('start_time').enabled" nz-row nzType="flex" nzJustify="space-between">
          <div nz-col nzSpan="10">
            <nz-date-picker formControlName="start_date" nzFormat="MM/dd/yyyy"></nz-date-picker>
          </div>
          <div nz-col nzSpan="6">
            <nz-time-picker formControlName="start_time" nzFormat="hh:mm aaa"></nz-time-picker>
          </div>
          <div nz-col nzSpan="5" class="text-center"><label nz-checkbox formControlName="all_day">All Day</label></div>
        </div>

        <div *ngIf="!this.form.get('start_time').enabled" nz-row nzType="flex" nzJustify="space-between">
          <div nz-col nzSpan="19">
            <nz-date-picker style="width: 97%;" formControlName="start_date" nzFormat="MM/dd/yyyy"></nz-date-picker>
          </div>
          <div nz-col nzSpan="5" class="text-center"><label nz-checkbox formControlName="all_day">All Day</label></div>
        </div>

        <nz-form-explain *ngIf="hasErrors('start_date')">
          <app-field-errors [errors]="fieldErrors('start_date')"></app-field-errors>
        </nz-form-explain>
        <nz-form-explain *ngIf="hasErrors('start_time')">
          <app-field-errors [errors]="fieldErrors('start_time')"></app-field-errors>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="this.form.get('end_date').enabled">
      <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="end_date" nzRequired>End</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('end_date')||hasErrors('end_time')?'error':null">

        <div nz-row nzType="flex" nzJustify="space-between">
          <div nz-col nzSpan="10"><nz-date-picker formControlName="end_date" nzFormat="MM/dd/yyyy" [nzDisabledDate]="disabledEndDate"></nz-date-picker></div>
          <div nz-col nzSpan="6"><nz-time-picker formControlName="end_time" nzFormat="hh:mm aaa"
                                                 [nzDisabledHours]="disabledEndHours"
                                                 [nzDisabledMinutes]="disabledEndMinutes"></nz-time-picker></div>
          <div nz-col nzSpan="5">&nbsp;</div>
        </div>

        <nz-form-explain *ngIf="hasErrors('end_date')">
          <app-field-errors [errors]="fieldErrors('end_date')"></app-field-errors>
        </nz-form-explain>
        <nz-form-explain *ngIf="hasErrors('end_time')">
          <app-field-errors [errors]="fieldErrors('end_time')"></app-field-errors>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </ng-container>

  <ng-container *ngIf="this.form.get('repeat').enabled && this.form.get('no_repeat_end').enabled">
    <nz-form-item *ngIf="this.form.get('repeat').enabled">
      <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="repeat" nzRequired>Repeat</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('repeat')?'error':null">
        <div nz-row nzType="flex" nzJustify="space-between">
          <div nz-col nzSpan="19">
            <nz-select style="width: 97%;" nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="repeat">
              <ng-container *ngFor="let repeatType of repeatTypes">
                <nz-option [nzLabel]="repeatType.name" [nzValue]="repeatType.id"></nz-option>
              </ng-container>
            </nz-select>
          </div>
          <div nz-col nzSpan="5" class="text-center"><label nz-checkbox formControlName="no_repeat_end">No end</label>
          </div>
        </div>

        <nz-form-explain *ngIf="hasErrors('repeat')">
          <app-field-errors [errors]="fieldErrors('repeat')"></app-field-errors>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="this.form.get('repeat_end').enabled">
      <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="repeat_end" nzRequired>Repeat End</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('repeat_end')?'error':null"
                       class="sc-select-all">
        <div nz-row nzType="flex" nzJustify="space-between">
          <div nz-col nzSpan="19">
            <nz-date-picker style="width: 97%;" formControlName="repeat_end" nzFormat="MM/dd/yyyy"
                            [nzDisabledDate]="disabledRepeatEndDate"></nz-date-picker>
          </div>
          <div nz-col nzSpan="5" class="text-center">&nbsp;</div>
        </div>
        <nz-form-explain *ngIf="hasErrors('repeat_end')">
          <app-field-errors [errors]="fieldErrors('repeat_end')"></app-field-errors>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </ng-container>

  <nz-form-item *ngIf="this.form.get('users').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="users" nzRequired>User(s)</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('users')?'error':null">
      <nz-select nzShowSearch nzMode="multiple" nzPlaceHolder="Please select" formControlName="users">
        <ng-container *ngFor="let user of users">
          <nz-option [nzLabel]="user|user" [nzValue]="user.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('users')">
        <app-field-errors [errors]="fieldErrors('users')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="this.form.get('residents').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="residents" nzRequired>Resident(s)</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('residents')?'error':null">
      <nz-select nzShowSearch nzMode="multiple" nzPlaceHolder="Please select" formControlName="residents">
        <ng-container *ngFor="let resident of residents">
          <nz-option [nzLabel]="resident|resident_selector" [nzValue]="resident.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('residents')">
        <app-field-errors [errors]="fieldErrors('residents')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="this.form.get('rsvp').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="rsvp">RSVP</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="rsvp"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('rsvp')">
        <app-field-errors [errors]="fieldErrors('rsvp')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('notes')?'error':null">
      <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512"></input-counter>
      <nz-form-explain *ngIf="hasErrors('notes')">
        <app-field-errors [errors]="fieldErrors('notes')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
