<h4>Activity Type</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="title" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('title')?'error':null">
      <input nz-input placeholder="Title" formControlName="title">
      <nz-form-explain *ngIf="hasErrors('title')">
        <app-field-errors [errors]="fieldErrors('title')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="categories" nzRequired>Categories</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('categories')?'error':null">
      <nz-select nzMode="multiple" nzPlaceHolder="Please select" formControlName="categories">
        <ng-container *ngFor="let category of categories">
          <nz-option [nzLabel]="category.name" [nzValue]="category.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('categories')">
        <app-field-errors [errors]="fieldErrors('categories')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="default_status_id" nzRequired>Default status</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('default_status_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="default_status_id">
          <ng-container *ngFor="let activity_status of activity_statuses">
            <nz-option [nzLabel]="activity_status.title" [nzValue]="activity_status.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('activity_status');">
          <i nz-icon nzType="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('default_status_id')">
        <app-field-errors [errors]="fieldErrors('default_status_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="assign_to">Assign to</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="assign_to"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('assign_to')">
        <app-field-errors [errors]="fieldErrors('assign_to')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="due_date">Due Date</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="due_date"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('due_date')">
        <app-field-errors [errors]="fieldErrors('due_date')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="reminder_date">Reminder Date</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="reminder_date"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('reminder_date')">
        <app-field-errors [errors]="fieldErrors('reminder_date')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="cc">CC</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="cc"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('cc')">
        <app-field-errors [errors]="fieldErrors('cc')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="sms">SMS</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="sms"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('sms')">
        <app-field-errors [errors]="fieldErrors('sms')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="facility">Facility</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="facility"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('facility')">
        <app-field-errors [errors]="fieldErrors('facility')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="contact">Contact</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="contact"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('contact')">
        <app-field-errors [errors]="fieldErrors('contact')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="amount">Amount</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="amount"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('amount')">
        <app-field-errors [errors]="fieldErrors('amount')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="editable">Editable</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="editable"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('editable')">
        <app-field-errors [errors]="fieldErrors('editable')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="deletable">Deletable</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="deletable"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('deletable')">
        <app-field-errors [errors]="fieldErrors('deletable')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
