<h4>Room Rent</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item *ngIf="admission">
    <nz-form-label [nzSm]="8" [nzXs]="24">
      <ng-container [ngSwitch]="residentSelector$.type.value">
        <ng-container *ngSwitchCase="GROUP_TYPE.FACILITY">Facility</ng-container>
        <ng-container *ngSwitchCase="GROUP_TYPE.APARTMENT">Apartment</ng-container>
        <ng-container *ngSwitchCase="GROUP_TYPE.REGION">Region</ng-container>
      </ng-container>
    </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      {{ get_group_title() }}
      <ng-container *ngIf="residentSelector$.type.value == GROUP_TYPE.FACILITY">
        <strong>(Base Room Rate: {{ get_base_room_rate()|currency:'USD':'symbol-narrow':'1.2-2' }})</strong>
      </ng-container>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="start" nzRequired>Start Date</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('start')?'error':null">
      <nz-date-picker formControlName="start" nzFormat="MM/dd/yyyy"></nz-date-picker>
      <nz-form-explain *ngIf="hasErrors('start')">
        <app-field-errors [errors]="fieldErrors('start')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="end">End Date</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('end')?'error':null">
      <nz-date-picker formControlName="end" nzFormat="MM/dd/yyyy"></nz-date-picker>
      <nz-form-explain *ngIf="hasErrors('end')">
        <app-field-errors [errors]="fieldErrors('end')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="use_base_rate">Use Base Room Rate</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="use_base_rate"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('use_base_rate')">
        <app-field-errors [errors]="fieldErrors('use_base_rate')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="amount" nzRequired>Amount</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('amount')?'error':null">
      <nz-input-number [nzMin]="0" [nzStep]="1" [nzPrecision]="2" [nzFormatter]="formatterDollar"
                       nzPlaceHolder="Amount" formControlName="amount"></nz-input-number>
      <nz-form-explain *ngIf="hasErrors('amount')">
        <app-field-errors [errors]="fieldErrors('amount')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="reason_id">Reason</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('reason_id')?'error':null">
      <div class="add-select-container">
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="reason_id">
          <ng-container *ngFor="let reason of reasons">
            <nz-option [nzLabel]="reason.title" [nzValue]="reason.id"></nz-option>
          </ng-container>
        </nz-select>
        <button type="button" nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="open_sub_modal('reason');">
          <i nz-icon nzType="plus"></i>
        </button>
      </div>
      <nz-form-explain *ngIf="hasErrors('reason_id')">
        <app-field-errors [errors]="fieldErrors('reason_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('notes')?'error':null">
      <input-counter formControlName="notes" placeholder="Notes" [maxlength]="512"></input-counter>
      <nz-form-explain *ngIf="hasErrors('notes')">
        <app-field-errors [errors]="fieldErrors('notes')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>


  <fieldset formArrayName="source">
    <table class="senior-care-form-table table table-hover table-bordered table-sm">
      <thead>
      <tr>
        <th class="w-50">
          <nz-form-label>Title</nz-form-label>
        </th>
        <th class="w-50">
          <nz-form-label nzRequired>Amount</nz-form-label>
        </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Source(s)
        </td>
        <td>
          <nz-select class="sc-wide" nzSize="small" nzMode="default" nzPlaceHolder="Select source" [(ngModel)]="source_selector"
                     [ngModelOptions]="{standalone: true}">
            <nz-option *ngFor="let payment_source of payment_sources"
                       [nzLabel]="payment_source.title"
                       [nzValue]="payment_source.id"
                       [nzDisabled]="payment_source.disabled">
            </nz-option>
          </nz-select>
        </td>
        <td>
          <button type="button" [style.float]="'right'" nz-button nzType="primary" nzSize="small" nzShape="circle"
                  (click)="add_source();">
            <i nz-icon nzType="plus"></i>
          </button>
        </td>
      </tr>
      <tr *ngFor="let item of get_form_array('source').controls;let i = index" [formGroupName]="i">
        <td>
          <input type="hidden" formControlName="id">
          {{ get_title(i) }}
        </td>
        <td>
            <nz-input-number [nzMin]="0" [nzStep]="0.01" [nzFormatter]="formatterDollar"
                             nzSize="small" nzPlaceHolder="Amount" formControlName="amount"></nz-input-number>
        </td>
        <td class="text-center">
          <button type="button" nz-button nzType="danger" nzSize="small" nzShape="circle" (click)="remove_source(i);">
            <i nz-icon nzType="minus"></i>
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>
          Remaining
        </td>
        <td colspan="2">
          {{ remaining()|currency:'USD':'symbol-narrow':'1.2-2' }}
        </td>
      </tr>
      </tfoot>
    </table>
  </fieldset>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
