<h4>Assesment Care Level Group</h4>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="title" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('title')?'error':null">
      <input nz-input placeholder="Title" formControlName="title">
      <nz-form-explain *ngIf="hasErrors('title')">
        <app-field-errors [errors]="fieldErrors('title')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="space_id" nzRequired>Space</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('space_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="space_id">
        <ng-container *ngFor="let space of spaces">
          <nz-option [nzLabel]="space.name" [nzValue]="space.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('space_id')">
        <app-field-errors [errors]="fieldErrors('space_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
