<h4>Event Type</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="title" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="hasErrors('title')?'error':null">
      <input nz-input placeholder="Title" formControlName="title">
      <nz-form-explain *ngIf="hasErrors('title')">
        <app-field-errors [errors]="fieldErrors('title')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="view" nzRequired>View</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="hasErrors('view')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="view">
        <ng-container *ngFor="let view of views">
          <nz-option [nzLabel]="view.name" [nzValue]="view.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('view')">
        <app-field-errors [errors]="fieldErrors('view')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type" nzRequired>Type</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="hasErrors('type')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="type">
        <ng-container *ngFor="let type of types">
          <nz-option [nzLabel]="type.name" [nzValue]="type.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('type')">
        <app-field-errors [errors]="fieldErrors('type')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="in_chooser">In Chooser</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="in_chooser"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('in_chooser')">
        <app-field-errors [errors]="fieldErrors('in_chooser')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('ffc').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="ffc">FFC</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="ffc"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('ffc')">
        <app-field-errors [errors]="fieldErrors('ffc')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('ihc').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="ihc">IHC</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="ihc"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('ihc')">
        <app-field-errors [errors]="fieldErrors('ihc')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('il').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="il">IL</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="il"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('il')">
        <app-field-errors [errors]="fieldErrors('il')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('physician').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="physician">Physician (Required)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="physician"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('physician')">
        <app-field-errors [errors]="fieldErrors('physician')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('physician_optional').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="physician_optional">Physician (Optional)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="physician_optional"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('physician_optional')">
        <app-field-errors [errors]="fieldErrors('physician_optional')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('responsible_person').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="responsible_person">Responsible Person (Required)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="responsible_person"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('responsible_person')">
        <app-field-errors [errors]="fieldErrors('responsible_person')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('responsible_person_optional').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="responsible_person_optional">Responsible Person (Optional)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="responsible_person_optional"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('responsible_person_optional')">
        <app-field-errors [errors]="fieldErrors('responsible_person_optional')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('responsible_person_multi').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="responsible_person_multi">Responsible Person Multi (Required)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="responsible_person_multi"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('responsible_person_multi')">
        <app-field-errors [errors]="fieldErrors('responsible_person_multi')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('responsible_person_multi_optional').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="responsible_person_multi_optional">Responsible Person Multi (Optional)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="responsible_person_multi_optional"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('responsible_person_multi_optional')">
        <app-field-errors [errors]="fieldErrors('responsible_person_multi_optional')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('hospice_provider').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="hospice_provider">Hospice Provider</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="hospice_provider"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('hospice_provider')">
        <app-field-errors [errors]="fieldErrors('hospice_provider')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('additional_date').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="additional_date">Date Added</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="additional_date"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('additional_date')">
        <app-field-errors [errors]="fieldErrors('additional_date')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('residents').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="residents">Residents</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="residents"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('residents')">
        <app-field-errors [errors]="fieldErrors('residents')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('users').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="users">Users</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="users"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('users')">
        <app-field-errors [errors]="fieldErrors('users')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('duration').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="duration">Duration</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="duration"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('duration')">
        <app-field-errors [errors]="fieldErrors('duration')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('repeats').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="repeats">Repeats</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="repeats"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('repeats')">
        <app-field-errors [errors]="fieldErrors('repeats')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('rsvp').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="rsvp">RSVP</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="rsvp"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('rsvp')">
        <app-field-errors [errors]="fieldErrors('rsvp')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('done').enabled">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="done">Done</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="done"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('done')">
        <app-field-errors [errors]="fieldErrors('done')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('space_id')">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="space_id" nzRequired>Space</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="hasErrors('space_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="space_id">
        <ng-container *ngFor="let space of spaces">
          <nz-option [nzLabel]="space.name" [nzValue]="space.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('space_id')">
        <app-field-errors [errors]="fieldErrors('space_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
