<h4>{{ 'form.admin.user._title'|translate }}</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-tabset [nzSelectedIndex]="selectedTab">
    <nz-tab nzTitle="{{ 'form.admin.user.tab_personal_info'|translate }}">

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="first_name" nzRequired>{{ 'form.admin.user.first_name'|translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('first_name')?'error':null">
          <input nz-input placeholder="{{ 'form.admin.user.first_name'|translate }}" formControlName="first_name">
          <nz-form-explain *ngIf="hasErrors('first_name')">
            <app-field-errors [errors]="fieldErrors('first_name')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="last_name" nzRequired>{{ 'form.admin.user.last_name'|translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('last_name')?'error':null">
          <input nz-input placeholder="{{ 'form.admin.user.last_name'|translate }}" formControlName="last_name">
          <nz-form-explain *ngIf="hasErrors('last_name')">
            <app-field-errors [errors]="fieldErrors('last_name')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="email" nzRequired>{{ 'form.admin.user.email'|translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('email')?'error':null">
          <input nz-input placeholder="{{ 'form.admin.user.email'|translate }}" formControlName="email">
          <nz-form-explain *ngIf="hasErrors('email')">
            <app-field-errors [errors]="fieldErrors('email')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <fieldset formArrayName="phones">
        <legend class="senior-care-legend">
          {{ 'form.admin.user.phones'|translate }}
          <button type="button" [style.float]="'right'" nz-button nzType="primary" nzSize="small" nzShape="circle"
                  (click)="add_field('phones');">
            <i nz-icon type="plus"></i>
          </button>
        </legend>
        <table class="senior-care-form-table table table-hover table-bordered table-sm"
               *ngIf="get_form_array('phones').controls.length > 0">
          <thead>
          <tr>
            <th style="width:20%;">
              <nz-form-label>{{ 'form.phone.primary'|translate }}</nz-form-label>
            </th>
            <th style="width:15%;">
              <nz-form-label>{{ 'form.phone.sms'|translate }}</nz-form-label>
            </th>
            <th style="width:32%;">
              <nz-form-label nzRequired>{{ 'form.phone.type'|translate }}</nz-form-label>
            </th>
            <th style="width:30%;">
              <nz-form-label nzRequired>{{ 'form.phone.number'|translate }}</nz-form-label>
            </th>
            <th style="width:3%;">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let phone of get_form_array('phones').controls;let i = index">
            <tr [formGroupName]="i">
              <td class="text-center">
                <nz-switch nzSize="small" formControlName="primary"></nz-switch>
              </td>
              <td class="text-center">
                <nz-switch nzSize="small" formControlName="sms_enabled"></nz-switch>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('phones.'+i+'.type')?'error':null">
                    <nz-select nzSize="small" nzMode="default" nzPlaceHolder="{{ 'form.phone.select_placeholder'|translate }}" formControlName="type">
                      <ng-container *ngFor="let type of phone_types">
                        <nz-option [nzLabel]="(type.name)|translate" [nzValue]="type.id"></nz-option>
                      </ng-container>
                    </nz-select>
                    <nz-form-explain *ngIf="hasErrors('phones.'+i+'.type')">
                      <app-field-errors [errors]="fieldErrors('phones.'+i+'.type')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzSm]="16" [nzXs]="24"
                                   [nzValidateStatus]="hasErrors('phones.'+i+'.number')?'error':null">
                    <input nz-input nzSize="small" placeholder="(000) 000-0000" formControlName="number"
                           mask="(000) 000-0000" [showMaskTyped]="true" [dropSpecialCharacters]="false">
                    <nz-form-explain *ngIf="hasErrors('phones.'+i+'.number')">
                      <app-field-errors [errors]="fieldErrors('phones.'+i+'.number')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td class="text-center">
                <button type="button" nz-button nzType="danger" nzSize="small" nzShape="circle" (click)="remove_field('phones', i);">
                  <i nz-icon type="minus"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </fieldset>
    </nz-tab>
    <nz-tab nzTitle="{{ 'form.admin.user.tab_security_info'|translate }}">
      <nz-form-item *ngIf="form.get('space_id')">
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="space_id" nzRequired>{{ 'form.admin.user.space'|translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('space_id')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" formControlName="space_id">
            <ng-container *ngFor="let space of spaces">
              <nz-option [nzLabel]="space.name" [nzValue]="space.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('space_id')">
            <app-field-errors [errors]="fieldErrors('space_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="username" nzRequired>{{ 'form.admin.user.username'|translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('username')?'error':null">
          <input nz-input placeholder="{{ 'form.admin.user.username'|translate }}" formControlName="username">
          <nz-form-explain *ngIf="hasErrors('username')">
            <app-field-errors [errors]="fieldErrors('username')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="password" [nzRequired]="!this.edit_mode">{{ 'form.admin.user.password'|translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('password')?'error':null">
          <input nz-input type="password" formControlName="password" autocomplete="new-password">
          <nz-form-explain *ngIf="hasErrors('password')">
            <app-field-errors [errors]="fieldErrors('password')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="re_password" [nzRequired]="!this.edit_mode">{{ 'form.admin.user.re_password'|translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('re_password')?'error':null">
          <input nz-input type="password" formControlName="re_password">
          <nz-form-explain *ngIf="hasErrors('re_password')">
            <app-field-errors [errors]="fieldErrors('re_password')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="enabled">{{ 'form.admin.user.enabled'|translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="enabled"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('enabled')">
            <app-field-errors [errors]="fieldErrors('enabled')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab nzTitle="{{ 'form.admin.user.tab_access_info'|translate }}">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="roles" nzRequired>{{ 'form.admin.user.roles'|translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('roles')?'error':null">
          <nz-select nzShowSearch nzMode="multiple" nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" formControlName="roles">
            <ng-container *ngFor="let role of roles">
              <nz-option [nzLabel]="role.name" [nzValue]="role.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('roles')">
            <app-field-errors [errors]="fieldErrors('roles')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <ng-container *ngIf="grant_lists">
        <ng-container formGroupName="grants" *ngFor="let grant_key of grant_lists|keys">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="roles">{{ grant_lists[grant_key].title }}(s)</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('grants.' + grant_key)?'error':null">
              <nz-select nzShowSearch nzMode="multiple" nzPlaceHolder="{{ 'form.select_placeholder'|translate }}" [formControlName]="grant_key">
                <ng-container *ngFor="let item of grant_lists[grant_key].items">
                  <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </ng-container>
              </nz-select>
              <nz-form-explain *ngIf="hasErrors('grants.' + grant_key)">
                <app-field-errors [errors]="fieldErrors('grants.' + grant_key)"></app-field-errors>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </ng-container>
    </nz-tab>
  </nz-tabset>
  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
