<h4>Admission</h4>
<form nz-form [formGroup]="form">
  <nz-tabset [nzSelectedIndex]="selectedTab">
    <nz-tab nzTitle="General">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="admission_type" nzRequired>Type</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('admission_type')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="admission_type">
            <ng-container *ngFor="let admission_type of admission_types">
              <nz-option [nzLabel]="(admission_type.name)|translate" [nzValue]="admission_type.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('admission_type')">
            <app-field-errors [errors]="fieldErrors('admission_type')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date" nzRequired>Effective Date</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('date')?'error':null">
          <nz-date-picker formControlName="date"></nz-date-picker>
          <nz-form-explain *ngIf="hasErrors('date')">
            <app-field-errors [errors]="fieldErrors('date')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('notes')?'error':null">
          <textarea formControlName="notes" nz-input rows="4" placeholder="Description"></textarea>
          <nz-form-explain *ngIf="hasErrors('notes')">
            <app-field-errors [errors]="fieldErrors('notes')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="group" nzRequired>Group</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('group')?'error':null">
          <nz-select nzShowSearch formControlName="group">
            <nz-option-group nzLabel="FFC - Facilities">
              <ng-container *ngFor="let facility of group_helper.facilities">
                <nz-option [nzLabel]="facility.name" [nzValue]="facility"></nz-option>
              </ng-container>
            </nz-option-group>
            <nz-option-group nzLabel="IHC - Regions">
              <ng-container *ngFor="let region of group_helper.regions">
                <nz-option [nzLabel]="region.name" [nzValue]="region"></nz-option>
              </ng-container>
            </nz-option-group>
            <nz-option-group nzLabel="IL - Apartments">
              <ng-container *ngFor="let apartment of group_helper.apartments">
                <nz-option [nzLabel]="apartment.name" [nzValue]="apartment"></nz-option>
              </ng-container>
            </nz-option-group>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('group')">
            <app-field-errors [errors]="fieldErrors('group')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>

    <nz-tab *ngIf="form.get('group_type').value === GROUP_TYPE.FACILITY" nzTitle="Facility Information">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_group" nzRequired>Care Group</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_group')?'error':null">
          <input nz-input placeholder="Care Group" formControlName="care_group">
          <nz-form-explain *ngIf="hasErrors('care_group')">
            <app-field-errors [errors]="fieldErrors('care_group')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_level_id" nzRequired>Care Level</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_level_id')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="care_level_id">
            <ng-container *ngFor="let care_level of care_levels">
              <nz-option [nzLabel]="care_level.title" [nzValue]="care_level.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('care_level_id')">
            <app-field-errors [errors]="fieldErrors('care_level_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="ambulatory" nzRequired>Ambulatory</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="ambulatory"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('ambulatory')">
            <app-field-errors [errors]="fieldErrors('ambulatory')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="dnr" nzRequired>DNR</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="dnr"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('dnr')">
            <app-field-errors [errors]="fieldErrors('dnr')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="polst" nzRequired>POLST</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="polst"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('polst')">
            <app-field-errors [errors]="fieldErrors('polst')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="facility_bed_id" nzRequired>Room/Bed</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('facility_bed_id')?'error':null">
          <nz-select nzShowSearch nzPlaceHolder="Please select" formControlName="facility_bed_id">
            <ng-container *ngFor="let room of facility_rooms">
              <ng-container *ngFor="let bed of room.beds">
                <nz-option nzCustomContent [nzValue]="bed.id" nzLabel="{{ room.number }} ({{ bed.number }})">
                  <strong>{{ room.number }}</strong> {{ bed.number }}
                </nz-option>
              </ng-container>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('facility_bed_id')">
            <app-field-errors [errors]="fieldErrors('facility_bed_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="dining_room_id" nzRequired>Dinning Room</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('dining_room_id')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="dining_room_id">
            <ng-container *ngFor="let dining_room of dining_rooms">
              <nz-option [nzLabel]="dining_room.title" [nzValue]="dining_room.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('dining_room_id')">
            <app-field-errors [errors]="fieldErrors('dining_room_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>

    <nz-tab *ngIf="form.get('group_type').value === GROUP_TYPE.APARTMENT" nzTitle="Apartment Information">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="apartment_bed_id" nzRequired>Room/Bed</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('apartment_bed_id')?'error':null">
          <nz-select nzShowSearch nzPlaceHolder="Please select" formControlName="apartment_bed_id">
            <ng-container *ngFor="let room of apartment_rooms">
              <ng-container *ngFor="let bed of room.beds">
                <nz-option nzCustomContent [nzValue]="bed.id" nzLabel="{{ room.number }} ({{ bed.number }})">
                  <strong>{{ room.number }}</strong> {{ bed.number }}
                </nz-option>
              </ng-container>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('apartment_bed_id')">
            <app-field-errors [errors]="fieldErrors('apartment_bed_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab *ngIf="form.get('group_type').value === GROUP_TYPE.REGION" nzTitle="IHC Region Information">
      <input nz-input formControlName="region_id">

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_group" nzRequired>Care Group</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_group')?'error':null">
          <input nz-input placeholder="Care Group" formControlName="care_group">
          <nz-form-explain *ngIf="hasErrors('care_group')">
            <app-field-errors [errors]="fieldErrors('care_group')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_level_id" nzRequired>Care Level</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('care_level_id')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="care_level_id">
            <ng-container *ngFor="let care_level of care_levels">
              <nz-option [nzLabel]="care_level.title" [nzValue]="care_level.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('care_level_id')">
            <app-field-errors [errors]="fieldErrors('care_level_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="ambulatory" nzRequired>Ambulatory</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="ambulatory"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('ambulatory')">
            <app-field-errors [errors]="fieldErrors('ambulatory')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="dnr" nzRequired>DNR</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="dnr"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('dnr')">
            <app-field-errors [errors]="fieldErrors('dnr')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="polst" nzRequired>POLST</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-switch formControlName="polst"></nz-switch>
          <nz-form-explain *ngIf="hasErrors('polst')">
            <app-field-errors [errors]="fieldErrors('polst')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- region -->

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="csz_id" nzRequired>CSZ</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('csz_id')?'error':null">
          <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="csz_id">
            <ng-container *ngFor="let city_state_zip of city_state_zips">
              <nz-option [nzLabel]="city_state_zip|csz" [nzValue]="city_state_zip.id"></nz-option>
            </ng-container>
          </nz-select>
          <nz-form-explain *ngIf="hasErrors('csz_id')">
            <app-field-errors [errors]="fieldErrors('csz_id')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="address" nzRequired>Street Address</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('address')?'error':null">
          <input nz-input placeholder="Street Address" formControlName="address">
          <nz-form-explain *ngIf="hasErrors('address')">
            <app-field-errors [errors]="fieldErrors('address')"></app-field-errors>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
