<h4>{{ 'form.admin.space._title'|translate }}</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="name" nzRequired>{{ 'form.admin.space.name'|translate }}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('name')?'error':null">
      <input nz-input placeholder="{{ 'form.admin.space.name'|translate }}" formControlName="name">
      <nz-form-explain *ngIf="hasErrors('name')">
        <app-field-errors [errors]="fieldErrors('name')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
