<nz-empty *ngIf="!addIfHasPermission('persistence-resident-resident') || !data" class="ant-empty-normal" [nzNotFoundImage]="defaultSvg"></nz-empty>
<ng-container *ngIf="addIfHasPermission('persistence-resident-resident') && data">
  <div *ngIf="data.facility && data.facility.length > 0" class="card">
    <div class="card-header">
      Facilities
    </div>
    <div class="card-body">
      <template [ngTemplateOutlet]="tplResidentList"
                [ngTemplateOutletContext]="{ type: GROUP_TYPE.FACILITY, data: data.facility }">
      </template>
    </div>
  </div>
  <!--<div *ngIf="data.apartment && data.apartment.length > 0" class="card">-->
    <!--<div class="card-header">-->
      <!--Apartments-->
    <!--</div>-->
    <!--<div class="card-body">-->
      <!--<template [ngTemplateOutlet]="tplResidentList"-->
                <!--[ngTemplateOutletContext]="{ type: GROUP_TYPE.APARTMENT, data: data.apartment }">-->
      <!--</template>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div *ngIf="data.region && data.region.length > 0" class="card">-->
    <!--<div class="card-header">-->
      <!--Regions-->
    <!--</div>-->
    <!--<div class="card-body">-->
      <!--<template [ngTemplateOutlet]="tplResidentList"-->
                <!--[ngTemplateOutletContext]="{ type: GROUP_TYPE.REGION, data: data.region }">-->
      <!--</template>-->
    <!--</div>-->
  <!--</div>-->
</ng-container>

<ng-template #tplResidentList let-group_data="data" let-type="type">
  <ng-container *ngFor="let data of group_data; let last = last;">
    <h3 style="margin: 1rem;text-align: center">
      <a [routerLink]="['/facility', data.id]">{{ data.name }}</a>
    </h3>
    <div class="row justify-content-center">
      <div class="col" *ngFor="let resident of data.residents">
        <div class="row">
          <div class="col-12 text-center">
            <img *ngIf="!resident.photo" src="/assets/img/person_placeholder.png" class="img-thumbnail"
                 style="max-height: 150px"
                 alt="{{ resident|resident }}" title="{{ resident|resident }}"/>
            <img *ngIf="resident.photo" src="{{ resident.photo }}" class="img-thumbnail"
                 style="max-height: 150px"
                 alt="{{ resident|resident }}" title="{{ resident|resident }}"/>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="text-center">
              <a [routerLink]="['/resident', resident.id, {outlets: {'resident-details': ['responsible-persons']}}]">
                {{ resident|resident }}
              </a><br/>
              <span *ngIf="type === GROUP_TYPE.FACILITY || type === GROUP_TYPE.APARTMENT">
                <ng-container *ngIf="!resident.private">{{ resident.room_number }} ({{ resident.bed_number }})</ng-container>
                <ng-container *ngIf="resident.private">{{ resident.room_number }}</ng-container>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <nz-divider [nzText]="tplMore" nzOrientation="right">
      <ng-template #tplMore>
        <a [routerLink]="['residents', type, data.id]">More...</a>
      </ng-template>
    </nz-divider>
  </ng-container>
</ng-template>
