<h4>Payment Source</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="title" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('title')?'error':null">
      <input nz-input placeholder="Title" formControlName="title">
      <nz-form-explain *ngIf="hasErrors('title')">
        <app-field-errors [errors]="fieldErrors('title')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="away_reduction">Away Reduction</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="away_reduction"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('away_reduction')">
        <app-field-errors [errors]="fieldErrors('away_reduction')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="period" nzRequired>Period</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('period')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="period">
        <ng-container *ngFor="let period of periods">
          <nz-option [nzLabel]="(period.name)|translate" [nzValue]="period.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('period')">
        <app-field-errors [errors]="fieldErrors('period')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_level_adjustment">Care Level Adjustment</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="care_level_adjustment"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('care_level_adjustment')">
        <app-field-errors [errors]="fieldErrors('care_level_adjustment')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('amount').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="amount" nzRequired>Amount</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('amount')?'error':null">
      <nz-input-number [nzMin]="0" [nzStep]="1" [nzPrecision]="2" [nzFormatter]="formatterDollar"
                       nzPlaceHolder="Amount" formControlName="amount"></nz-input-number>
      <nz-form-explain *ngIf="hasErrors('amount')">
        <app-field-errors [errors]="fieldErrors('amount')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item
    *ngIf="this.form.get('base_rates').enabled && this.care_levels && this.care_levels.length > 0 && get_form_array('base_rates').controls.length > 0">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="title" nzRequired>Base Rates</nz-form-label>
    <div nz-col [nzSpan]="16">
      <table
        class="senior-care-form-table table table-hover table-bordered table-sm"
        formArrayName="base_rates">
        <thead>
        <tr>
          <th style="width:50%;">Care Level</th>
          <th style="width:50%;">Amount</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let base_rate of get_form_array('base_rates').controls;let i = index">
          <tr [formGroupName]="i.toString()">
            <td>{{ this.care_levels[i].title }}</td>
            <td>
              <nz-form-item>
                <nz-form-control [nzSm]="16" [nzXs]="24"
                                 [nzValidateStatus]="hasErrors('base_rates.'+i+'.amount')?'error':null">
                  <nz-input-number [nzMin]="0" [nzStep]="1" [nzPrecision]="2" [nzFormatter]="formatterDollar"
                                   nzSize="small" nzPlaceHolder="Amount" formControlName="amount"></nz-input-number>
                  <nz-form-explain *ngIf="hasErrors('base_rates.'+i+'.amount')">
                    <app-field-errors [errors]="fieldErrors('base_rates.'+i+'.amount')"></app-field-errors>
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('space_id')">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="space_id" nzRequired>Space</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('space_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="space_id">
        <ng-container *ngFor="let space of spaces">
          <nz-option [nzLabel]="space.name" [nzValue]="space.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('space_id')">
        <app-field-errors [errors]="fieldErrors('space_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
