<h4>Payment Source</h4>
<nz-divider></nz-divider>
<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="title" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('title')?'error':null">
      <input nz-input placeholder="Title" formControlName="title">
      <nz-form-explain *ngIf="hasErrors('title')">
        <app-field-errors [errors]="fieldErrors('title')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="private_pay">Private Pay</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="private_pay"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('private_pay')">
        <app-field-errors [errors]="fieldErrors('private_pay')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="period" nzRequired>Period</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('period')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="period">
        <ng-container *ngFor="let period of periods">
          <nz-option [nzLabel]="(period.name)|translate" [nzValue]="period.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('period')">
        <app-field-errors [errors]="fieldErrors('period')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="care_level_adjustment">Care Level Adjustment</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="care_level_adjustment"></nz-switch>
      <i *ngIf="!this.edit_mode && form.get('care_level_adjustment').value == true" class="far fa-lg fa-question-circle"
         nz-popover [nzTitle]="'Important Notice'" [nzContent]="tplAdjustment"
         nzTrigger="click" nzPlacement="topLeft">
        <ng-template #tplAdjustment>
          <p>For Care Level Adjustment Payment Source should have Base Rate.</p>
        </ng-template>
      </i>
      <nz-form-explain *ngIf="hasErrors('care_level_adjustment')">
        <app-field-errors [errors]="fieldErrors('care_level_adjustment')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('amount').enabled">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="amount" nzRequired>Amount</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('amount')?'error':null">
      <nz-input-number [nzMin]="0" [nzStep]="1" [nzPrecision]="2" [nzFormatter]="formatterDollar"
                       nzPlaceHolder="Amount" formControlName="amount"></nz-input-number>
      <nz-form-explain *ngIf="hasErrors('amount')">
        <app-field-errors [errors]="fieldErrors('amount')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <div style="text-align: center">
    <strong>Include in Invoice</strong>
  </div>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="resident_name">Resident Name</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="resident_name"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('resident_name')">
        <app-field-errors [errors]="fieldErrors('resident_name')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date_of_birth">Date of Birth</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="date_of_birth"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('date_of_birth')">
        <app-field-errors [errors]="fieldErrors('date_of_birth')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <div style="text-align: center">
    <strong>Additional Fields</strong>
  </div>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="field_name">Field Name</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('field_name')?'error':null">
      <input nz-input placeholder="Field Name" formControlName="field_name">
      <nz-form-explain *ngIf="hasErrors('field_name')">
        <app-field-errors [errors]="fieldErrors('field_name')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <div style="text-align: center">
    <strong>Away Reduction</strong>
  </div>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="only_for_occupied_days">Only For Occupied Days</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-switch formControlName="only_for_occupied_days"></nz-switch>
      <nz-form-explain *ngIf="hasErrors('only_for_occupied_days')">
        <app-field-errors [errors]="fieldErrors('only_for_occupied_days')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="form.get('space_id')">
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="space_id" nzRequired>Space</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('space_id')?'error':null">
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Please select" formControlName="space_id">
        <ng-container *ngFor="let space of spaces">
          <nz-option [nzLabel]="space.name" [nzValue]="space.id"></nz-option>
        </ng-container>
      </nz-select>
      <nz-form-explain *ngIf="hasErrors('space_id')">
        <app-field-errors [errors]="fieldErrors('space_id')"></app-field-errors>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="formErrors()">
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
