@charset "UTF-8";

$sc-font-path: "../assets/fonts";
$sc-css-prefix: "seniorcare";
$sc-font-size-base: 14px;

@font-face {
  font-family: "seniorcare";
  src: url("#{$sc-font-path}/seniorcare.eot");
  src: url("#{$sc-font-path}/seniorcare.eot?#iefix") format("embedded-opentype"),
  url("#{$sc-font-path}/seniorcare.woff") format("woff"),
  url("#{$sc-font-path}/seniorcare.ttf") format("truetype"),
  url("#{$sc-font-path}/seniorcare.svg#seniorcare") format("svg");
  font-weight: normal;
  font-style: normal;
}

.#{$sc-css-prefix} {
  display: inline-block;
  font: normal normal normal $sc-font-size-base/1 "seniorcare"; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
}

[data-icon]:before {
  font-family: $sc-css-prefix !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="seniorcare-"]:before,
[class*=" seniorcare-"]:before {
  font-family: $sc-css-prefix !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$sc-css-prefix} {
  &-lg {
    font-size: (4em / 3);
    line-height: (3em / 4);
    vertical-align: -15%;
  }

  &-2x {
    font-size: 2em;
  }

  &-3x {
    font-size: 3em;
  }

  &-4x {
    font-size: 4em;
  }

  &-5x {
    font-size: 5em;
  }

  &-fw {
    width: (18em / 14);
    text-align: center;
  }
}

.#{$sc-css-prefix} {
  &-admin:before {
    content: "\e000";
  }
  &-assessments:before {
    content: "\e001";
  }
  &-admissions:before {
    content: "\e002";
  }
  &-dietary:before {
    content: "\e003";
  }
  &-events:before {
    content: "\e004";
  }
  &-documents:before {
    content: "\e005";
  }
  &-medical-history:before {
    content: "\e006";
  }
  &-medications:before {
    content: "\e007";
  }
  &-rents:before {
    content: "\e008";
  }
  &-physicians:before {
    content: "\e009";
  }
  &-insurance:before {
    content: "\e00a";
  }
  &-reports:before {
    content: "\e00b";
  }
  &-responsible-person:before {
    content: "\e00c";
  }
  &-calendar:before {
    content: "\e00d";
  }
  &-plus:before {
    content: "\e00e";
  }
  &-ledgers:before {
    content: "\e011";
  }
}
