<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="card-body">
                <h1>Reset password</h1>
                <p class="text-muted"> Please enter new password to reset.</p>

                <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="password" nzRequired>New Password</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('password')?'error':null">
                    <input nz-input type="password" id="password" formControlName="password">
                    <nz-form-explain *ngIf="hasErrors('password')">
                      <app-field-errors [errors]="fieldErrors('password')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="re_password" nzRequired>Repeat Password</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="hasErrors('re_password')?'error':null">
                    <input nz-input type="password" id="re_password" formControlName="re_password">
                    <nz-form-explain *ngIf="hasErrors('re_password')">
                      <app-field-errors [errors]="fieldErrors('re_password')"></app-field-errors>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item *ngIf="formErrors()">
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-alert nzShowIcon nzType="error" [nzMessage]="tplFormErrors"></nz-alert>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item *ngIf="message">
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <nz-alert nzShowIcon nzType="success" [nzMessage]="message"></nz-alert>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-6">
                    <a routerLink="/sign-out" class="btn btn-link px-0">Sign In?</a>
                  </div>
                  <div class="col-6 text-right">
                    <button nz-button nzType="primary" [nzLoading]="loading" [disabled]="form.invalid || disabled" type="submit"
                            class="btn btn-primary">
                      Reset Password
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #tplFormErrors>
  <app-form-errors [errors]="formErrors()"></app-form-errors>
</ng-template>
